// Remove code from this file as it is transferred to individual modules
// Leave _legacy.sass untouched to easily switch back to verify changes

.green
  background-color: green

.red
  background-color: red

.header h2
  color: $engo-grey

.pad20
  padding: 10px

.form-control
  margin-bottom: 10px

.aside h3, .header-btn, .aside p, .openHolder h3
  color: $engo-mildblue


.aside h5
  color: $engo-accentblue

.small-pad
  padding: 5px

.err
  color: red
  font-size: 13px
  text-align: center
  margin: 5px

.loader
  width: 66px
  margin: 0 auto

a
  color: #00B7FF

p
  color: $engo-accentblue

p.red
  color: red


p3
  font-size: .8 em
  color: $engo-darkgrey

h4
  color: $engo-turquoise
  text-transform: uppercase

h2
  color: #666
  font-family: "Varela", sans-serif

.dark-grey
  color: $engo-darkgrey



.clear
  clear: both
  height: 0

.tan
  color: $engo-tan

.grey
  color: $engo-grey

.aqua
  color: $engo-aqua

.light
  color: $engo-light

.centerTxt
  text-align: center

.little-pad
  padding: 3px


.aside
  padding-bottom: 15px


header
  z-index: 2
  padding-top: 10px


.headerBtn
  width: 100%
  height: 100%
  background-color: $engo-accentblue
  text-align: center
  padding: 30px



.headerBtn a
  color: $engo-grey


.header h3
  color: $engo-accentblue



.header p
  color: $engo-grey

.header
  text-align: center

.center-txt
  text-align: center
  width: 100%

.overNum
  position: relative
  z-index: 20
  margin-top: -20px
  color: $engo-mildblue
  font-size: .7em
  text-align: center

.fixed
  position: fixed

.absolute
  position: absolute


.right
  float: right


.register
  background-color: $engo-grey
  padding: 20px

.col-md-main
  background-color: $engo-accentblue
  padding-top: 5px


.thumb
  padding: 3px



.header-btn
  background-color:  rgba(255,255,255,.9)
  width: 100%
  padding: 10px
  text-align: center
  border: 1px solid $engo-accentblue

.bar-pad
  padding-right: 1px

.backBar
  width: 100%
  height: 50px
  background-color: $engo-darkblue

.fillBar
  width: 100%
  height: 100%
  background-color: $engo-accentblue

.openHolder
  background-color: rgba(255,255,255,.9)
  min-height: 600px
  position: relative
  top: -50px
  padding: 20px
  border: 1px solid $engo-darkgrey




.statBox p2
  font-size: 1.5em
  yolor: $engo-darkgrey

.statBox
  text-align: center
