@import 'foundation/scss/foundation.scss'
@import 'font-awesome/scss/font-awesome.scss'

$engo-darkblue: #004056
$engo-mildblue: #386b86
$engo-accentblue: #50889f
$engo-turquoise: #3da6cb
$engo-aqua: #50889f
$engo-greenish: #74ceb7
$engo-light: #c9ffd5
$engo-tan: #ffffcb
$engo-grey: #eee
$engo-mediumgrey: #e3e3e3
$engo-darkgrey: #dadada

html, body
  height: 100%

body
  background: #fafafa
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: $engo-light

engo-module
  min-height: 100%
  position: absolute
  width: 100%

.engo-module-prev-block, .engo-module-next-block
  bottom: 0
  padding: 0.33em
  position: fixed

.engo-module-prev-block
  left: 0

.engo-module-next-block
  right: 0

// Temporary base styling
engo-module
  background: $engo-darkblue
  color: $engo-tan
  padding-top: 1em

  h1, h2
    background: $engo-tan
    color: $engo-darkblue
    margin-bottom: 0
    margin-top: 0
    padding: 0.33em 1.33rem 0.67em

  p
    font-size: 1.33em

  blockquote
    p
      color: $engo-tan
      font-size: 3em
    footer
      color: $engo-tan
      text-align: right
      font-size: 2em
    footer:before
      content: "\2014"

