@import 'bootstrap-sass/lib/bootstrap.scss'
$fa-font-path: "/bower_components/font-awesome/fonts"
@import 'font-awesome/scss/font-awesome.scss'

$engo-darkblue: #004056
$engo-mildblue: #386b86
$engo-accentblue: #50889f
$engo-turquoise: #3da6cb
$engo-aqua: #50889f
$engo-greenish: #74ceb7P
$engo-light: #c9ffd5
$engo-tan: #ffffcb
$engo-grey: #eee
$engo-mediumgrey: #e3e3e3
$engo-darkgrey: #dadada

$dark-blue : #004056
$mild-blue : #386b86
$acent-blue : #50889f
$turquoise : #3da6cb
$aqua : #50889f
$greenish : #74CEB7
$light : #C9FFD5
$tan : #FFFFCB
$grey : #eee
$med-grey : #e3e3e3
$dark-grey : #bebebe

html, body
  height: 100%

body
  background: #fafafa
  color: $mild-blue
  margin: 0
  padding: 0


h1, h2, h3, h4, h5, p, p1, p2, p3
  font-family: "Varela", sans-serif

.green
  background-color: green

.red
  background-color: red

.header h2
  color: $grey

.form-control
  margin-bottom: 20px

engo-module
  min-height: 100%
  position: absolute
  width: 100%

.engo-module-prev-block, .engo-module-next-block
  bottom: 0
  padding: 0.33em
  position: fixed

.on-bar:hover
  background-color: #b2fff9

.engo-module-prev-block
  left: 0

.engo-module-next-block
  right: 0

// Temporary base styling
engo-module
  background: $engo-darkblue
  color: $engo-tan
  padding-top: 1em

  h1, h2
    background: $engo-tan
    color: $engo-darkblue
    margin-bottom: 0
    margin-top: 0
    padding: 0.33em 1.33rem 0.67em
    font-family: "Varela", sans-serif

  p
    color: $engo-tan
    font-size: 1.33em

  blockquote
    border-left-color: $engo-tan
    p
      color: $engo-tan
      font-size: 3em
    footer
      color: $engo-tan
      text-align: right
      font-size: 2em
    footer:before
      content: "\2014"

  .engo-module-block-edit-container
    border-bottom: 1px solid $engo-tan
    margin-bottom: 1em

  .engo-module-block-edit-container .btn
    margin-bottom: 1em

.aside h3, .header-btn, .aside p, .openHolder h3
  color: $mild-blue


.navbar-brand
  padding: 3px
  padding-left: 6px

.aside h5
  color: $acent-blue


.course-holder
  border: 1px solid $med-grey


.main-img
  background-image: url("/images/site/opener2.jpg")
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center top
  height: 300px
  margin-bottom: 20px


.small-pad
  padding: 5px


.err
  color: red
  font-size: 13px
  text-align: center
  margin: 5px


.loader
  width: 66px
  margin: 0 auto

a
  color: #00B7FF

p
  color: $acent-blue

p.red
  color: red


p3
  font-size: .8 em
  color: $dark-grey


h4
  color: $turquoise
  text-transform: uppercase

h2
  color: #666
  font-family: "Varela", sans-serif


.dark-grey
  color: $dark-grey


.w100
  width: 100%



.clear
  clear: both
  height: 0

.tan
  color: $tan

.grey
  color: $grey

.aqua
  color: $aqua

.light
  color: light

.centerTxt
  text-align: center

.no-pad
  padding: 0px

.little-pad
  padding: 3px


.aside
  padding-bottom: 15px


header
  z-index: 2
  padding-top: 10px


.header
  background-color: $dark-grey
  margin: 0
  padding: 15px
  padding-bottom: 44px
  border-top: 3px solid $acent-blue

.headerBtn
  width: 100%
  height: 100%
  background-color: $acent-blue
  text-align: center
  padding: 30px



.headerBtn a
  color: $grey


.header h3
  color: $acent-blue



.header p
  color: $grey

.header
  text-align: center

.center-txt
  text-align: center
  width: 100%

.overNum
  position: relative
  z-index: 20
  margin-top: -20px
  color: $mild-blue
  font-size: .7em
  text-align: center



footer
  background-color: $dark-blue
  min-height: 200px
  margin-top: 60px
  text-align: center
  padding: 20px
  color: $grey
  text-align:center
  width: 100%
  font-size: .8em

.fixed
  position: fixed

.absolute
  position: absolute


.navbar
  margin-bottom: 0

.right
  float: right

//nav ul
  //float: right
  //margin-top: 20px
  //list-style-type: none

//nav ul li
  //padding: 5px
  //border: 1px solid #eee
  //display: inline
  //margin: 1px
  //text-decoration: none
  //background-color: rgba(255,255,255,.3)

//nav ul li a
  //color: #999


.register
  background-color: $grey
  padding: 20px

.col-md-main
  background-color: $acent-blue
  padding-top: 5px


.thumb
  padding: 3px

.thumbHolder
  background-color: $grey
  width: 100%
  height: 167px


.course-holder
  width: 100%
  min-height: 140px
  padding: 10px
  color: $dark-blue
  background-color: #fff

.course-holder:hover
  cursor: pointer


.header-btn
  background-color:  rgba(255,255,255,.9)
  width: 100%
  padding: 10px
  text-align: center
  border: 1px solid $acent-blue

.bar-pad
  padding-right: 1px

.backBar
  width: 100%
  height: 50px
  background-color: $dark-blue

.fillBar
  width: 100%
  height: 100%
  background-color: $acent-blue

.openHolder
  background-color: rgba(255,255,255,.9)
  min-height: 600px
  position: relative
  top: -50px
  padding: 20px
  border: 1px solid $dark-grey


.off-bar, .on-bar
  border-bottom: 1px solid #cccccc
  cursor: pointer

.off-bar:hover
  background-color: #ffafba


.off-bar:hover , .on-bar:hover
  cursor: pointer

.off-bar p, .off-bar h4, .off-bar h1
  color: #e0e0e0


.on-bar
  color: #666

.low-tree p
  padding-left: 25px
  padding-top: 10px

.tree-btn
  padding: 10px
  padding-top: 5px
  padding-bottom: 0px
  height: 100%


.navbar-collapse.in .top-logout-btn
  margin: 8px 0px
.top-logout-btn
  margin-top: 8px


.statBox p2
  font-size: 1.5em
  color: $dark-grey

.statBox
  text-align: center



