$etto-darkblue: #004056
$etto-mildblue: #386b86
$etto-accentblue: #50889f
$etto-turquoise: #3da6cb
$etto-aqua: #50889f
$etto-greenish: #74ceb7
$etto-light: #c9ffd5
$etto-tan: #ffffcb
$etto-grey: #eee
$etto-mediumgrey: #e3e3e3
$etto-darkgrey: #dadada

