$engo-darkblue: #004056
$engo-mildblue: #386b86
$engo-accentblue: #50889f
$engo-turquoise: #3da6cb
$engo-aqua: #50889f
$engo-greenish: #74ceb7
$engo-light: #c9ffd5
$engo-tan: #ffffcb
$engo-grey: #eee
$engo-mediumgrey: #e3e3e3
$engo-darkgrey: #dadada

$dark-blue : #004056
$mild-blue : #386b86
$acent-blue : #50889f
$turquoise : #3da6cb
$aqua : #50889f
$greenish : #74CEB7
$light : #C9FFD5
$tan : #FFFFCB
$grey : #eee
$med-grey : #e3e3e3
$dark-grey : #bebebe

