/*
 * Config
 * ============================================================================
 *
 * Variables used within the rest of our Sass
 *
 * Overrides Bootstrap and FontAwesome default settings
 *
 */

//
// Variables
// --------------------------------------------------

@import "colors";

// Golden Ratio
// -------------------------
//@function golden() {
//  @return 1/2 + sqrt(5) / 2;
//}


//$ratio: golden();
$ratio: 1.61803;

//
// Override Default Bootstrap Variables
// --------------------------------------------------

// Brand colors
// -------------------------

$brand-primary: $etto-mildblue;
//$brand-success: #5cb85c
//$brand-warning: #f0ad4e
//$brand-danger:  #d9534f
$brand-info:    $etto-accentblue;

// Scaffolding
// -------------------------

$body-bg:    #fafafa;
$text-color: $etto-mildblue;

// Links
// -------------------------

$link-color:       $etto-accentblue;
$link-hover-color: darken($link-color, 15%);

// Typography
// -------------------------

$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

$font-size-base:         16px;
$line-height-base:       $ratio;

$headings-line-height:   $line-height-base;

// Components
// -------------------------

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

// Import Bootstrap
// Leave both @imports for ease of switching, but only use one at a time
// -------------------------
//@import "bootstrap-sass/lib/bootstrap.scss"
@import "_bootstrap";


//
// Override Default FontAwesome Variables
// --------------------------------------------------

// Tell FontAwesome where to find the font files
$fa-font-path: "/bower_components/font-awesome/fonts";

// Import FontAwesome
// -------------------------
@import "font-awesome/scss/font-awesome.scss";
