// Kill those damn rouded corners...
$border-radius-base: 0px
$border-radius-large: 0px
$border-radius-small: 0px

// Leave both for ease of switching, but only use one at a time
//@import "bootstrap-sass/lib/bootstrap.scss"
@import "_bootstrap"

// Tell FontAwesome where to find the font files
$fa-font-path: "/bower_components/font-awesome/fonts"
@import "font-awesome/scss/font-awesome.scss"
