div
  engo-block( ng-repeat="block in module.blocks",
              ng-show="isCurrentBlock( $index )",
              block="block" )

.engo-module-prev-block( ng-click="prevBlock()" )
  i.fa.fa-2x.fa-arrow-circle-left
.engo-module-next-block( ng-click="nextBlock()" )
  i.fa.fa-2x.fa-arrow-circle-right

