
.modal-header
  button.close( type="button" )
  h2.modal-title Register

.modal-body
  .col-md-8
    .alert.alert-danger(ng-show="err")
      p {{err}}
    form(ng-submit="handleLogin()", novalidate, class="css-form")
      .form-group
        input.form-control( type="text", ng-model="newUser.tierTitle", placeholder="Company Name", autocomplete="on", required )
      .form-group
        input.form-control( type="text", ng-model="newUser.name", placeholder="name", autocomplete="on", required )
      .form-group
        input.form-control( type="email", ng-model="newUser.email", placeholder="email", autocomplete="on", required )
      .form-group
        input.form-control( type="text", ng-model="newUser.username", placeholder="username", autocomplete="on", required )
      .form-group
        input.form-control( type="password", ng-model="newUser.password", placeholder="password", autocomplete="on", required )
      .form-group
        input.btn.btn-primary( type="submit", value="Create" )
  .col-md-4
    p Or use single sign on
    hr
    .btn-group-vertical.btn-group-justified.sign-on-btns
      a.btn.btn-default(href='/api/v1/auth/github/', target="_self")
        i.fa.fa-github-square.fa-2x
      a.btn.btn-default(href='/api/v1/auth/facebook/', target="_self")
        i.fa.fa-facebook.fa-2x
      a.btn.btn-default(href='/api/v1/auth/google/', target="_self")
        i.fa.fa-google-plus-square.fa-2x
    hr
  .clearfix
