.etto-onboarding-box
  .row

    .col-sm-12.col-md-5
      h3.etto-color-light Lets get you started...
      img.img-responsive.etto-tier-visual(src='/images/landing/new.jpg')

    .col-md-7
      .etto-instruction.etto-color-secondary
        p.etto-bgcolor-light 1. <a class="etto-color-accent" href="#", etto-add-course, ng-click='addCourse()'">Create a course</a>
        p.etto-bgcolor-light 2. <a class="etto-color-accent" href="/report/{{user._tier._id}}">Set up your company structure </a> by adding tiers (Marketing, Sales, Engineers), then click a tier and add more branches underneath mimicking your companies organization tree.
        p.etto-bgcolor-light 3. Add employees and managers to the appropriate divisions, departments and branches you created.
  
