.modal-header
  button.close( type="button" )
  h2.modal-title Create a Course
.modal-body
  form(ng-submit="createCourse()", ng-show="subscriptionGood === true")
    .form-group
      input.form-control( type="text", ng-model="course.title", placeholder="title", autocomplete="on", required )
    .form-group
      input.form-control( type="text", ng-model="course.subtitle", placeholder="subTitle", required )
    .form-group
      input.btn.btn-primary( type="submit", value="Create")
  div(ng-show="subscriptionGood === false")
    p Looks like you need a higher subscription to create another course.
    button.btn.btn-primary(type="button", ng-click="linkSubscription()") Subscriptions

