.etto-login-modal(etto-social-auth)
  .modal-header
    h2.modal-title Register

  .modal-body
    .row
      .col-md-12
        .alert.alert-danger(ng-show="err")
          p {{err}}
        a.sso-btns.github-btn(href="#", ng-click="handleAuth('github')") 
          p Github
        a.sso-btns.google-btn(href="#", ng-click="handleAuth('google')") 
          p Google
        a.sso-btns.forcedotcom-btn(href="#", ng-click="handleAuth('forcedotcom')") 
          p Salesforce
        .row
          .col-sm-12
            form(ng-submit="handleLogin(newUser)", novalidate, class="css-form")
              .form-group
                input.form-control( type="text", ng-model="newUser.tierTitle", placeholder="Company Name", autocomplete="on", required )
              .form-group
                input.form-control( type="text", ng-model="newUser.name", placeholder="Your Name", autocomplete="on", required )
              .form-group
                input.form-control( type="email", ng-model="newUser.emails", placeholder="Email", autocomplete="on", required )
              .form-group
                input.form-control( autocapitalize="off", type="text", ng-model="newUser.username", placeholder="Username", required )
              .form-group
                input.form-control( type="password", ng-model="newUser.password", placeholder="Password", required )
              .form-group
                input.btn.btn-success.btn-sm( type="submit", value="I agree to the terms" )

            hr
            .btn-group
                button.btn.btn-default.btn-sm( type="button", ng-click="cancel()") Cancel
                a.btn.btn-default.btn-sm(href="/terms", target="_blank") Terms
       
