.modal-header.etto-bgcolor-primary
  button.close( type="button" )
  h2.modal-title Create a Course
.modal-body.etto-bgcolor-light
  form(ng-submit="createCourse()")
    .form-group
      input.form-control( type="text", ng-model="course.title", placeholder="title", autocomplete="on", required, maxlength="40" )
    .form-group
      input.form-control( type="text", ng-model="course.subtitle", placeholder="subTitle", required, maxlength="40" )
    .form-group
      input.btn.btn-default( type="submit", value="Create")

