.modal-header
  .row
    .col-md-12
      h2.modal-title Login
    
.modal-body
  form(ng-submit="handleLogin(user)")
    div(ng-show="err")
      .alert.alert-danger {{err.message}}
    .row
      .col-sm-8
        .form-group
          input.form-control( autocapitalize="off", type="text", ng-model="user.username", placeholder="Email or username...", autocomplete="on", required )
        .form-group
          input.form-control( type="password", ng-model="user.password", placeholder="Enter your password...", required )
        
        .form-group
          input.btn.btn-success.btn-sm(type="submit", value="Login")

      .col-sm-4
        p Sign in via
        .btn-group.sign-on-btns
          a.btn.btn-default(href='https://api.coursetto.com/auth/github/', target="_self")
            i.fa.fa-github-square.fa-2x
          a.btn.btn-default(href='https://api.coursetto.com/auth/google/', target="_self")
            i.fa.fa-google-plus-square.fa-2x
    
    hr
    .btn-group
      .btn.btn-default.btn-sm( ng-click="cancel()") Cancel
      etto-send-forgot-password

