
.modal-header
  button.close( type="button" )
  h2.modal-title Puchase {{selCourse.title}}
.modal-body

  form(ng-submit="handlePurchase(card)", ng-show="!customer")
    .form-group
      input.form-control( type="text", ng-model="card.number", placeholder="number", autocomplete="on", required)
    .form-group
      input.form-control( type="text", ng-model="card.exp_month", placeholder="exp_month", required )
    .form-group
      input.form-control( type="text", ng-model="card.exp_year", placeholder="exp_year", required )
    .form-group
      input.form-control( type="text", ng-model="card.cvc", placeholder="cvc", required )
    .form-group
      input.btn.btn-primary( type="submit", value="Puchase")

  div(ng-show="customer")
    .col-md-main.col-md-8.col-sm-8
      form(ng-submit="handlePurchase(card)")
        h3 ${{selCourse.priceWithEmps}}
        p {{selCourse.priceWithEmps }} Credits will be added to {{user._tier.title}}
        p {{totUsers}}
        blockquote
          small Credits are only used when a user takes a course

        .form-group
          .btn-group
            button.btn.btn-default( type="button") Cancel
            input.btn.btn-success( type="submit", value="Puchase")



    .col-md-main.col-md-4.col-sm-4
      i.fa.fa-credit-card.fa-2x.pull-left
      h4 Card on file
      hr
      p **** **** **** {{customer.active_card.last4}}
      p {{customer.active_card.type}}
    .clearfix
