
div
  etto-block( ng-repeat="block in course.blocks",
              ng-if="isCurrentBlock( $index )",
              class="block",
              block="block")
  
.etto-course-nav
  .btn-group
    a.btn.btn-default.btn-sm.etto-course-prev-block( href="#", ng-click="prevBlock()" )
      i.fa.fa-2x.fa-arrow-circle-left
    a.btn.btn-default.btn-sm.etto-course-next-block( href="#", ng-click="nextBlock()")
      i.fa.fa-2x.fa-arrow-circle-right
    a.btn.btn-default.btn-sm.etto-course-exit(href="/etto", target="_self")
      i.fa.fa-2x.fa-times-circle



