ul.nav.nav-tabs.nav-settings(ng-if="user.auth.canPurchase")
  li#settings
    a(href="/settings/{{user._id}}") Settings
  li#subscription
    a(href="/subscription/{{user._id}}") Subscriptions
  li#payments
    a(href="/payments/{{user._id}}") Payments
