nav.navbar.navbar-default( role="navigation", etto-session)
  .navbar-header
    button.navbar-toggle( data-toggle="collapse", data-target="#etto-navbar" )
      .sr-only Toggle navigation
      .icon-bar
      .icon-bar
      .icon-bar
    a.navbar-brand( href="/etto" )
      span
        img(src="/images/site/logo.png")
      span.logo-name Coursetto

  #etto-navbar.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a.navbar-btn( href="/etto" ) Home
      li.divider
      li(ng-show= "user.auth.canGetCourses")
        a.navbar-btn( href="/store/{{user._tier._id}}" ) Store
      li.divider
      li(ng-show= "user.auth.canInvite")
        a.navbar-btn( href="/levels/{{user._tier._id}}" ) Reports



    .navbar-right
      ul.nav.navbar-nav

        li.dropdown
          a(data-toggle="dropdown", href="#")
            i.fa.fa-cog.fa-2x.pull-left
            small {{user.name}}
          ul(class="dropdown-menu", role="menu", aria-labelledby="dLabel")
            li
              a( href="/settings/{{user._id}}" ) Settings
            li
              a( href="/api/v1/auth/logout", target="_self" ) Logout
            li
              a( href="/billing/{{user._id}}", target="_self" ) Billing
        li(ng-show="user.auth.canPurchase")
          a.btn.btn-default.btn-xs.navbar-btn(etto-purchase-course, href="#", ng-click='purchaseCourse(course)')
            small {{credit.credits}} Credits
