.modal-header
  button.close(type="button") &times;
  h2.modal-title Asset Library
  p Suggested demesions {{suggestedWidth}} X {{suggestedHeight}}
.modal-body.etto-assetlibrary
  .etto-assetlibrary__picker
    .etto-assetlibrary__assetlist
      .etto-assetlibrary__asset(ng-repeat="asset in assets")
        img(src="{{ asset.url }}", ng-click="selectAsset(asset._id)")

