nav.navbar.navbar-default( role="navigation", etto-session)
  .navbar-header
    button.navbar-toggle( data-toggle="collapse", data-target="#etto-navbar" )
      .sr-only Toggle navigation
      .icon-bar
      .icon-bar
      .icon-bar
    a.navbar-brand( href="/etto" )
      span
        img(src="/images/site/logo.png")
      span.logo-name Coursetto

  #etto-navbar.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a( href="/etto" ) Home
      li
        a( href="/store/{{user._tier._id}}" ) Store
      li
        a( href="/levels/{{user._tier._id}}" ) Reports
      li
        a( href="/settings/{{user._id}}" ) Settings
    .navbar-right
      a.btn.btn-default.btn-sm.top-logout-btn(href="/api/v1/auth/logout", target="_self") Logout

