.col-md-6.col-sm-6.col-md-6
  .course-holder
    h3 Lets get you started...
    p <a href="/report/{{user._tier._id}}">1. Set up your company structure </a> by adding tiers, then click the tier and add more tiers within tiers
    p 2. Add Users and managers to the appropriate divisions, departments and branches
    p 3. <a href="/store/{{user._tier._id}}">Purchase </a>and or <etto-add-course></etto-add-course>create a course and deligate it to your appropriate divisions, departments and branches
.col-md-6.col-sm-6.col-md-6
  img.img-responsive(src='/images/site/thumbs/new.jpg')
