
.modal-header
  button.close( type="button" )
  h2.modal-title Register

.modal-body
  .row
    .col-md-8
      .alert.alert-danger(ng-show="err")
        p {{err}}
      form(ng-submit="handleLogin(newUser)", novalidate, class="css-form")
        .form-group
          input.form-control( type="text", ng-model="newUser.tierTitle", placeholder="company name", autocomplete="on", required )
        .form-group
          input.form-control( type="text", ng-model="newUser.name", placeholder="your name", autocomplete="on", required )
        .form-group
          input.form-control( type="email", ng-model="newUser.emails", placeholder="email", autocomplete="on", required )
        .form-group
          input.form-control( autocapitalize="off", type="text", ng-model="newUser.username", placeholder="username", required )
        .form-group
          input.form-control( type="password", ng-model="newUser.password", placeholder="password", required )
        .form-group
          input.btn.btn-success.btn-sm( type="submit", value="I agree to the terms" )
          button.btn.btn-default.btn-sm( type="button", ng-click="cancel()") Cancel
    .col-md-4
      h4 Beta/Pilot Mode
      p Please be aware Coursetto is in beta, please let us know of any issues you may encounter.
      a.btn.btn-default(href="/terms", target="_blank") Terms
     
