.modal-header
  button.close( type="button" )
  h2.modal-title Removing 
.modal-body
  p Are you sure you want to remove {{tier.title}}? 
  .alert.alert-warning All tiers bellow {{tier.title}} will be removed and the users may be hard to find. Please change any users on {{tier.title}} and below to to other tiers before removing.
  button.btn.btn-primary(type="button", ng-click="isSureRemove()") Remove
  button.btn.btn-default(type="button", ng-click="cancel()") Cancel

