.modal-header.etto-bgcolor-primary
  button.close( type="button" )
  h2.modal-title Launch Course

.modal-body.etto-bgcolor-light
  .form-group
    h4 Testing

    input#testingChoice(type= "radio", name="status", ng-model="course.status", value = "testing") 
    label(for="testingChoice") Only managers can view and change


    hr
    h4 Private (Internal use only)
    input#privateChoice(type= "radio", name="status", ng-model="course.status", value = "private") 
    label(for="privateChoice") Add the courses to the correct tier under "People > Edit Tier"

    hr
    h4 Open Market

    input#marketChoice(type= "radio", name="status", ng-model="course.status", value = "live") 
    label(for="marketChoice") Sell & share with the world

    div(ng-show="course.status === 'live'")
      .alert.alert-warning Price cannot be changed after the course is sent to the market.
      .input-group
        span.input-group-addon Price $
        input.form-control(ng-disabled ="{{course.price !== 0}}", type="number", placeholder="Price", ng-model="course.price")



  hr
  button.btn.btn-primary(ng-show="course.status !== 'live'", ng-click="saveSettings()") Change Status
  button.btn.btn-primary(ng-show="course.status === 'live'", ng-click="saveSettings()") Send to OpenMarket

  button.btn.btn-default(ng-click="cancel()") Cancel
