nav.navbar.navbar-default( role="navigation" )
  .navbar-header

    button.navbar-toggle( data-toggle="collapse", data-target="#etto-navbar" )
      .sr-only Toggle navigation
      .icon-bar
      .icon-bar
      .icon-bar
    a.navbar-brand( href="/" )
      span
        img(src="/images/icons/coursetto-144.png", width="48", height="48")
      span.logo-name Coursetto


  #etto-navbar.collapse.navbar-collapse
    .navbar-right
      .btn-group
        button.btn.btn-primary.btn-sm.navbar-btn(etto-register-modal, ng-click='register()') Register
        button.btn.btn-default.btn-sm.navbar-btn(etto-login-modal, ng-click='login()') Login


