.modal-header.etto-bgcolor-primary
  button.close(type="button", ng-click="cancel()") &times;
  h2.modal-title Asset Library
.modal-body.etto-assetlibrary.etto-bgcolor-light
  .etto-assetlibrary__picker
    .etto-assetlibrary__assetlist
      .etto-assetlibrary__asset(ng-repeat="asset in assets", ng-click="selectAsset(asset._id)")
        .overlay
          i.fa.fa-3x.fa-check-circle-o
          //-i.fa.fa-trash-o(ng-click="deleteAsset($index)")

        
        div(ng-if= "isImage(asset.url)")
          img(ng-if= "isImage(asset.url)", ng-src="{{ asset.url }}") Not an image
        div(ng-if= "isImage(asset.url) === false")
          p {{fileName(asset.s3.key)}}


    form.etto-assetlibrary__uploader()
      div(ng-show="err")
        .alert.alert-danger {{ err.message }}

      .form-group
        label Upload File(s)
        .btn.btn-primary
          input.form-control(type="file", ng-file-select="onFileSelect($files)", multiple)

      .uploading-files(ng-repeat="file in files")
        .progress
          .progress-bar(role="progressbar", style="width: {{ file.progress }}%;") {{ file.name }}
        button.btn(ng-click="abort($index)", ng-show="file.progress !== 100") Abort

