.modal-header
  button.close( type="button" )
  h2.modal-title Create Tier
.modal-body
  form(ng-submit="handleNewTier(tier)")
    .form-group.col-sm-8.col-md-8
      input.form-control( type="text", ng-model="tier.title", placeholder="title", autocomplete="on", required )
    .form-group.col-sm-8.col-md-4
      input.form-control( type="text", ng-model="tier.internalId", placeholder="id (optional)" )
    .form-group.col-sm-12.col-md-12
      input.btn.btn-primary( type="submit", value="Create")
    .clearfix
