
nav.navbar.navbar-default( role="navigation", etto-session, etto-update-company)
  .navbar-header
    etto-login-modal
    button.navbar-toggle( data-toggle="collapse", data-target="#etto-navbar" )
      .sr-only Toggle navigation
      .icon-bar
      .icon-bar
      .icon-bar
    a.navbar-brand( href="/etto" )
      span.logo
        img(src="{{company.logo}}", height="65")
      span.logo-name {{ company.title || 'Coursetto'}}

  #etto-navbar.collapse.navbar-collapse
    ul.nav.navbar-nav
      li(ng-class="{active: activetab === 'home'}")
        a.navbar-btn.img-rounded( href="/etto" )
          small Home
      li.divider
      li(ng-show= "user.auth.canGetCourses", ng-class="{active: activetab === 'market'}")
        a.navbar-btn.img-rounded( href="/store/{{user._tier._id}}" )
          small Market
      li.divider
      li(ng-show= "user.auth.canCreateCourses", ng-class="{active: activetab === 'create'}")
        a.navbar-btn.img-rounded(href="#", etto-add-course, ng-click='addCourse()')
          small Create Course
      li(ng-show= "user.auth.canInvite", ng-class="{active: activetab === 'people'}")
        a.navbar-btn.img-rounded( href="/report/{{user._tier._id}}" )
          small People

    .navbar-right
      ul.nav.navbar-nav
        li.dropdown
          a(data-toggle="dropdown", href="#")
            i.fa.fa-cog.fa-2x.pull-left
            small {{user.name}}
          ul(class="dropdown-menu", role="menu", aria-labelledby="dLabel")
            li
              a( href="/settings/{{user._id}}" ) Settings
            li
              a( href="/company/{{user._tier._company}}" ) Company
            li
              a( href="/subscription/{{user._id}}", ng-show= "user.auth.canPurchase") Subscriptions
            li
              a( href="/payments/{{user._id}}", ng-show= "user.auth.canPurchase") Payments
            li
              a( href="/assets" ) Asset Library
            li
              a( href="#", ng-click="destroySession('/')" ) Logout
        li(ng-show="user.auth.canPurchase")
          a.btn.btn-default.btn-xs.navbar-btn(etto-purchase, href="#", ng-click='purchase(null, null)')
            small {{credits}} Credits
