.modal-header.etto-bgcolor-primary
  .col-md-9
    h2.modal-title Join the team
    p An email will be set to this user with registration instructions
  .col-md-3
    i.fa.fa-envelope-o.fa-4x
  .clearfix
.modal-body.etto-bgcolor-light
  form(ng-submit="inviteUser(newUser)")

    .alert.alert-danger(ng-show="err")
      p {{err}}
    .row
      .col-md-9
        h5 User will automatically be registered for this tear and will have control only over all lower tiers
      .col-md-3
        .btn.btn-default.btn-sm(ng-click="addEmail()") Add Another
    .form-group

      div(ng-repeat="email in newUser.emails track by $index")
        input.form-control( type="email", ng-model="newUser.emails[$index]", placeholder="email" )
    .col-md-6
      .checkbox(ng-if="user.auth.canEditCompany")
        label
          input(type='checkbox', ng-model="newUser.auth.canEditCompany")
          small Can edit company view
      .checkbox(ng-if="user.auth.canPurchase")
        label
          input(type='checkbox', ng-model="newUser.auth.canPurchase")
          small Can purchase credits and courses
      .checkbox(ng-if="user.auth.canGetCourses")
        label
          input(type='checkbox', ng-model="newUser.auth.canGetCourses")
          small Can add/remove courses
    .col-md-6
      .checkbox(ng-if="user.auth.canCreateCourses")
        label
          input(type='checkbox', ng-model="newUser.auth.canCreateCourses")
          small Can create courses
      .checkbox(ng-if="user.auth.canInvite")
        label
          input(type='checkbox', ng-model="newUser.auth.canInvite")
          small Can invite other users {{editUser._tier.title}}
    .col-md-12
      blockquote
        small This user will only have the ability to edit users and courses for below tiers never affecting the rest of your companies structure.

    .col-md-12
      .form-group
        input.btn.btn-primary.btn-sm( type="submit", value="Invite")
        .btn.btn-default.btn-sm( ng-click="cancel()") Cancel
    .clearfix

