form(ng-submit="handleLogin()")
  .form-group
    input.form-control( type="email", ng-model="user.email", placeholder="Enter your email address...", autocomplete="on", required )
  .form-group
    input.form-control( type="password", ng-model="user.password", placeholder="Enter your password...", required )
  .form-group
    input.btn.btn-primary( type="submit", value="Login")
a.btn(href='/api/v1/auth/github/', target='_self') with GitHub
a.btn(href='/api/v1/auth/facebook/', target='_self') with Facebook
a.btn(href='/api/v1/auth/google/', target='_self') with Google+