.modal-header
  button.close( type="button" )
  h2.modal-title Create a Company Branch
.modal-body
  form(ng-submit="handleNewTier(tier)")
    .form-group
      input.form-control( type="text", ng-model="tier.title", placeholder="title", autocomplete="on", required )
    .form-group
      input.form-control( type="text", ng-model="tier.internalId", placeholder="id (optional)" )
    .form-group
      input.btn.btn-primary( type="submit", value="Create")
