nav.navbar.navbar-default( role="navigation" )
  .navbar-header
    button.navbar-toggle( data-toggle="collapse", data-target="#etto-navbar" )
      .sr-only Toggle navigation
      .icon-bar
      .icon-bar
      .icon-bar
    a.navbar-brand( href="/etto" )
      span
        span
          img(src='/images/site/logo.png')

  #etto-navbar.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a( href="/etto" ) Home
      li
        a( href="/store" ) Store
      li
        a( href="/levels/0/0" ) Reports
      li
        a( href="/course/view/527ac7a09f2b97d313000004" ) View Test Course
      li
        a( href="/course/edit/527ac7a09f2b97d313000004" ) Edit Test Course
    .navbar-right
      a.btn.btn-default.btn-sm.top-logout-btn(href="/session/destroy") Logout

