.etto-onboarding-box
  .etto-instruction.etto-color-secondary.cours-holder
    h3.etto-color-primary Lets get you started...
    p.etto-bgcolor-light.etto-color-primary 1. <a class="etto-color-accent" href="#", etto-add-course, ng-click='addCourse()'">Create a course.</a>
    p.etto-bgcolor-light.etto-color-primary 2. <a class="etto-color-accent" href="/company/{{user._tier._id}}">Customize your brand. </a>
    p.etto-bgcolor-light.etto-color-primary 3. <a class="etto-color-accent" href="/report/{{user._tier._id}}">Set up your company structure </a> by adding tiers (Marketing, Sales, Engineers), then click a tier and add more branches underneath mimicking your companies organization tree.
    p.etto-bgcolor-light.etto-color-primary 4. Add employees and managers to the appropriate divisions, departments and branches you created.




