nav.navbar.navbar-default( role="navigation" )
  .navbar-header
    button.navbar-toggle( data-toggle="collapse", data-target="#etto-navbar" )
      .sr-only Toggle navigation
      .icon-bar
      .icon-bar
      .icon-bar
    a.navbar-brand( href="/" )
      span
        span
          img(src='/images/site/logo.png')

  #etto-navbar.collapse.navbar-collapse
    etto-login-modal.navbar-right(redirect-to='/etto')

