.footer
  .btn-group
    a.btn-primary.btn(href='https://twitter.com/Coursetto')
      i.fa.fa-twitter.fa-2x.fa-fw
    a.btn-primary.btn(href='https://www.youtube.com/user/coursetto')
      i.fa.fa-youtube-play.fa-2x.fa-fw
    a.btn-primary.btn(href='https://www.facebook.com/coursetto')
      i.fa.fa-facebook.fa-2x.fa-fw
    a.btn-primary.btn(href='https://www.linkedin.com/company/coursetto')
      i.fa.fa-linkedin.fa-2x.fa-fw
    a.btn-primary.btn(href='http://blog.coursetto.com/')
      i.fa.fa-rss.fa-2x.fa-fw
    a.btn-primary.btn(href='mailto:hello@coursetto.com')
      i.fa.fa-envelope.fa-2x.fa-fw
  p © 2014 Coursetto
