.modal-header
  .row
    .col-md-12
      h2.modal-title Login
    //.col-sm-4.col-md-4
      .btn-group.sign-on-btns
        a.btn.btn-default(href='/api/v1/auth/github/', target="_self")
          i.fa.fa-github-square.fa-2x
        a.btn.btn-default(href='/api/v1/auth/facebook/', target="_self")
          i.fa.fa-facebook.fa-2x
        a.btn.btn-default(href='/api/v1/auth/google/', target="_self")
          i.fa.fa-google-plus-square.fa-2x
.modal-body
  form(ng-submit="handleLogin(user)")
    div(ng-show="err")
      .alert.alert-danger {{err.message}}
    .form-group
      input.form-control( autocapitalize="off", type="text", ng-model="user.username", placeholder="Email or username...", autocomplete="on", required )
    .form-group
      input.form-control( type="password", ng-model="user.password", placeholder="Enter your password...", required )
    
    input.btn.btn-success.btn-sm(type="submit", value="Login")
    hr
    a.btn.btn-default.btn-xs( href="#", ng-click="cancel()") Cancel
    etto-send-forgot-password

