.btn-group-vertical
  a.btn.btn-default(href="/settings/{{user._id}}") Settings
  a.btn.btn-default(href="/subscription/{{user._id}}") Subscriptions
  a.btn.btn-default(href="/payments/{{user._id}}") Payments
