
.modal-header.etto-bgcolor-primary
  button.close( type="button" )
  h2.modal-title Purchase Credits
.modal-body.etto-bgcolor-light

  form(ng-submit="handlePurchase(card, addedCredits)", ng-show="!customer.cards.data[0]")
    .form-group.col-md-main.col-md-12.col-sm-12
      .input-group
        span.input-group-addon $
        input.form-control(type="text", required, ng-model="addedCredits")
        span.input-group-addon .00

    .form-group.col-md-12
      input.form-control( type="text", ng-model="card.number", placeholder="number", autocomplete="on", required)
    .form-group.col-md-4
      input.form-control( type="text", ng-model="card.exp_month", placeholder="exp_month", required )
    .form-group.col-md-4
      input.form-control( type="text", ng-model="card.exp_year", placeholder="exp year", required )
    .form-group.col-md-4
      input.form-control( type="text", ng-model="card.cvc", placeholder="cvc", required )

    .btn-group.col-md-5
      button.btn.btn-default( type="button", ng-click="handleCancil()") Cancel
      input.btn.btn-success( type="submit", value="Purchase")
    .col-md-7
      .alert.alert-danger(ng-show="err")
        p {{err}}

    .clearfix

  div(ng-show="customer.cards.data[0]")
    .col-md-main.col-md-8.col-sm-8
      form(ng-submit="handlePurchase(customer.cards.data[0], addedCredits)")
        .input-group(ng-show="!subscription")
          span.input-group-addon $
          input.form-control(type="text", required, ng-model="addedCredits")
          span.input-group-addon .00
        h2(ng-show="subscription") ${{addedCredits}}
        p {{ addedCredits }} Credits will be added to {{user._tier.title}}
        blockquote
          small Credits are only used when a user takes a course

        .form-group
          .btn-group
            input.btn.btn-success.btn-sm( type="submit", value="Purchase")
            button.btn.btn-default.btn-sm( type="button", ng-click="handleCancil()") Cancel


    .col-md-main.col-md-4.col-sm-4
      i.fa.fa-credit-card.fa-2x.pull-left
      h4 Card on file
      div(ng-show="!success")
        p **** **** **** {{customer.cards.data[0].last4}}
        p {{customer.cards.data[0].type}}
        button.btn.btn-default.btn-xs(etto-delete-card, ng-click="deleteCard(user._tier._company, customer.cards.data[0].id)") Delete Card
      .alert.alert-success(ng-show="success")
        p {{success}}
    .clearfix

