.etto-nav-positioning
  .progress.etto-course-progress.etto-bgcolor-secondary
    .progress-bar.etto-bgcolor-primary(role="progressbar", aria-valuenow="((currentBlock() + 1)/blocksInCourse()) * 100", aria-valuemin="0", aria-valuemax="100", style="width: {{((currentBlock() + 1)/blocksInCourse()) * 100}}%;")


  .etto-course-nav
    
    a.etto-course-prev-block.etto-bgcolor-primary.etto-color-light.pull-left( href="#", ng-click="prevBlock()" )
      i.fa.fa-2x.fa-arrow-circle-left

    a.etto-course-next-block.etto-bgcolor-primary.etto-color-light.pull-left( href="#", ng-click="nextBlock()")
      i.fa.fa-2x.fa-sm.fa-arrow-circle-right
    .clearfix
