
.etto-sound-editbox
  div(ng-if= "!block.data.soundurl")
    a.pull-left(href="https://soundcloud.com", target="_blank")
      img.etto-soundcloud-logo(height="42", src="/images/logos/soundcloud.png")
    p(e-style="width:500px;", editable-text="block.data.soundurl", buttons="no", blur="submit", onaftersave="saveCourse()") {{ block.data.soundurl || "Soundcloud link, example: https://soundcloud.com/nate-geier/dv-religion"}}
  div(ng-if= "block.data.soundurl")
    a.pull-left(href="{{block.data.soundurl}}", target="_blank")
      img.etto-soundcloud-logo(height="42", src="/images/logos/soundcloud.png")
    button.btn.btn-default.img-responsive(e-style="width:500px;", editable-text="block.data.soundurl", buttons="no", blur="submit", onaftersave="saveCourse()") {{ block.data.soundurl || "Soundcloud link, example: https://soundcloud.com/nate-geier/dv-religion"}}

    div(etto-sound)
    
  
