!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title EnrollGo
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Varela')
    // endbuild
  body(ng-app='engoPupil')
    //if lt IE 7
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')
    // Add your site or application content here
    #view(ng-view='')
    footer
      p By Nate and Randall
    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/angular/angular.js')
    // build:js scripts/plugins.js
    
    script(src='bower_components/greensock/src/minified/TweenMax.min.js')
    script(src='bower_components/async/lib/async.js')
    script(src='bower_components/underscore/underscore-min.js')
    // endbuild
    // build:js scripts/modules.js
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-touch/angular-touch.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    // endbuild
    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/app.js')
    script(src='scripts/controllers/main.js')
    script(src='scripts/controllers/home.js')
    script(src='scripts/controllers/Module.js')
    script(src='scripts/controllers/ModuleView.js')
    script(src='scripts/controllers/ModuleEdit.js')
    script(src='scripts/controllers/Reports.js')
    script(src='scripts/controllers/Store.js')
    script(src='scripts/controllers/Logout.js')
    script(src='scripts/controllers/Login.js')
    script(src='scripts/controllers/NewBrand.js')
    script(src='scripts/controllers/StorePurchase.js')

    script(src='scripts/directives/engoLoginModal.js')
    script(src='scripts/directives/engoModule.js')
    script(src='scripts/directives/engoBlock.js')
    script(src='scripts/directives/engoYoutube.js')

    script(src='scripts/directives/engoLogin.js')
    script(src='scripts/directives/engoLogOut.js')
    script(src='scripts/directives/engoNotLoggedInNav.js')
    script(src='scripts/directives/engoLoggedInNav.js')
    script(src='scripts/directives/engoScaleBar.js')
    script(src='scripts/directives/engoNewBrand.js')
    script(src='scripts/directives/engoStorePurchase.js')
    script(src='scripts/directives/engoEnterCard.js')
    script(src='scripts/directives/engoShowCard.js')
    script(src='scripts/directives/engoDelegateTo.js')
    script(src='scripts/directives/engoMouseEvents.js')

    script(src='scripts/services/Session.js')
    script(src='scripts/services/Module.js')
    script(src='scripts/services/BlockType.js')
    script(src='scripts/services/Reports.js')
    script(src='scripts/services/Home.js')
    script(src='scripts/services/Store.js')
    // endbuild

