h3 Basic Text - Three Areas
textarea.form-control( type="text", rows="6", ng-model="block.data.text1" )
textarea.form-control( type="text", rows="6", ng-model="block.data.text2" )
textarea.form-control( type="text", rows="6", ng-model="block.data.text3" )
