

.container-full
  .row.quiz-block(etto-block-quiz)
    .col-md-10.col-md-offset-1
      div(ng-init="setUpEvalArr(block.data.questions)")
      div(ng-init="scoreToPass(block.data.passable)")
      div(ng-repeat = "q in block.data.questions track by $index")
        .panel.panel-default.etto-question(id="question{{$index}}")
          .panel-heading
            h3.panel-title.etto-color-primary {{$index + 1}}. {{q.question}}
          
          .list-group
            a.list-group-item.list-group-item-success(href="#", ng-if="q.incorrect")
              .alert.alert-danger Incorrect, please try again.
            a.list-group-item(href="#", ng-repeat = "a in q.answers track by $index", ng-class="!a.selected ? 'not-active' : 'active'")
              div(ng-click="checkAnswer(q.answers, a, $parent.$index)")  {{alphabet[$index]}} ) {{a.answer}}
        br
      div(ng-show="err")
        hr
        .alert.alert-danger {{err.message}}
    .col-md-10.col-md-offset-1
      hr
      button.btn.btn-success.w100(ng-click="evaluate(block.data.questions)") Evaluate



