
.container.text-center.etto-finished
  .row
    .col-md-12
      .etto-color-accent
        i.fa.fa-shield.fa-5x.cert-icon
      h1.etto-color-primary.white Congratulations!
      h4.etto-color-secondary You have completed {{course.title}}.
      a.btn.btn-default.etto-color-primary(ng-if = "user", href="/etto") Return Home
      a.btn.btn-default.etto-color-primary(ng-if = "!user", href="/") Return Home
  br
  br
  .row
    .col-md-6.col-md-offset-3
      hr
      .etto-comment.etto-bgcolor-light.etto-color-primary.img-rounded
        p.etto.color-secondary(editable-textarea="record.comment", e-rows="7", e-cols="40", buttons="no", blur="submit", onaftersave="updateRecord()") {{ record.comment || 'Leave a comment for the course composers'}}
