.row.etto-title
  
  img.img-responsive.etto-title-image.title-img(src="{{ block.data.url || '/images/courses/default/title.jpg'}}")
  .title-text
    hr
    h1 {{ block.data.title}}
    hr
    p {{ block.data.subtitle }}
.row
  .col-md-10.col-md-offset-1
    div(etto-sound)



