.row.slide
  h1(editable-text="block.data.title", buttons="no", blur="submit") {{ block.data.title || 'title'}}
  hr
  div#elemt(href="#", editable-textarea="block.data.subtitle", e-rows="12", e-cols="40", buttons="no", blur="submit") 
    pre.sub-head {{ block.data.subtitle || 'subtitle'}}
