.etto-dark-screen.etto-bgcolor-secondary

.row.etto-video-placer
  .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
    .etto-video
      etto-youtube(ng-if="block.data.youtube", code="{{ block.data.youtube }}" )
      etto-vimeo(ng-if="block.data.vimeo", vimeo="{{ block.data.vimeo }}" )
      etto-wistia(ng-if="block.data.wistia", wistia="{{ block.data.wistia }}" )

