
h2.etto-color-primary(e-rows="3", e-cols="90", editable-textarea="block.data.title", buttons="no", blur="submit", onaftersave="saveCourse()", spellcheck="true") {{block.data.title}}
h4.etto-color-primary(e-rows="3", e-cols="90", editable-textarea="block.data.copy", buttons="no", blur="submit", onaftersave="saveCourse()", spellcheck="true") {{block.data.copy}}

hr
etto-code.code-pen(code="{{block.data.pinnedCode}}")
