.row.etto-quote
  .col-md-10.col-md-offset-1
    i.fa.fa-quote-left.fa-4x.pull-left.etto-color-secondary
    div.etto-quote-txt.etto-color-primary(editable-textarea="block.data.quote", e-rows="7", e-cols="40", buttons="no", blur="submit", onaftersave="saveCourse()") {{ block.data.quote || "Everything should be made as simple as possible, but not simpler."}}
    i.fa.fa-quote-right.fa-4x.pull-right.etto-color-secondary
  .col-md-10.col-md-offset-1
    h3.pull-right.etto-color-secondary(e-style="", editable-text="block.data.cite", e-rows="7", e-cols="40", buttons="no", blur="submit", onaftersave="saveCourse()") - {{ block.data.cite || "Albert Einstein"}}
.row
  .col-md-10.col-md-offset-1
    div(etto-sound-edit)
    
    
