.row.etto-title
  
  img.img-responsive.etto-title-image.title-img(src="{{ block.data.url || '/images/courses/default/title.jpg'}}")
  .title-text
    hr
    h1 {{ block.data.title}}
    hr
    h4 {{ block.data.subtitle }}
.row
  div(etto-sound)



