.etto-dark-screen.etto-bgcolor-secondary

.row
  .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
    .etto-video
      etto-youtube(ng-show="block.data.youtube", code="{{ block.data.youtube }}" )
      etto-vimeo(ng-show="block.data.vimeo", vimeo="{{ block.data.vimeo }}" )
