.col-md-10.col-md-offset-1
  .row
    .col-md-6
      h1.etto-color-primary(e-rows="3", e-cols="90", editable-textarea="block.data.title", buttons="no", blur="submit", onaftersave="saveCourse()", spellcheck="true") {{block.data.title || 'title'}}
      h4.etto-color-secondary(e-rows="3", e-cols="90", editable-textarea="block.data.subtitle", buttons="no", blur="submit", onaftersave="saveCourse()", spellcheck="true") {{block.data.subtitle || 'subtitle'}}
      div(href="#", editable-textarea="block.data.copy", e-rows="12", e-cols="40", buttons="no", blur="submit", onaftersave="saveCourse()", spellcheck="true") 
        pre.etto-color-dark {{ block.data.copy || 'copy'}}
    .col-sm-6
      img.img-responsive.img-uploadable.etto-img-shadow(src="{{ block.data.url || '/images/courses/default/image-block.jpg' }}", etto-image, etto-asset-library-modal, ng-click="updateBlockImage(block, 'url', 400, 300)")
  hr
  .row
    .col-sm-12
      div(etto-sound-edit)
