.row.slide
  .col-md-8.col-md-offset-2.title-holder(style="background-color:white;")
    .col-md-4
      img.img-responsive.default-lg.img-uploadable(src="{{ block.data.url || course.thumb}}")
    .clearfix
    .col-md-8
      h1 {{ block.data.title}}
      div
        pre.sub-head {{ block.data.subtitle}}
