
.container.text-center.etto-finished
  .row
    .col-md-12
      .etto-color-accent
        i.fa.fa-shield.fa-5x
      h1.etto-color-primary.white Congratulations!
      hr
      h4.etto-color-secondary You have completed {{course.title}}
      hr
      a.btn.btn-default.etto-color-primary(href="/etto") Return Home
      
