.row
  .col-lg-12
    h1 {{block.data.title }}
    h2 {{block.data.subtitle }}
hr
.row
  .col-md-4.col-lg-4
    img.img-responsive(src="{{ block.data.img1 || '/images/courses/default/image-block1.jpg'}}")
    h4 {{block.data.img1Head }}
    pre {{block.data.img1Copy }}
  .col-md-4.col-lg-4
    img.img-responsive(src="{{ block.data.img2 || '/images/courses/default/image-block2.jpg'}}")
    h4 {{block.data.img2Head }}
    pre {{block.data.img2Copy }}
  .col-md-4.col-lg-4
    img.img-responsive(src="{{ block.data.img3 || '/images/courses/default/image-block3.jpg'}}")
    h4 {{block.data.img3Head }}
    pre {{block.data.img3Copy }}
