.etto-video
  .container
    .col-md-12.col-lg-10.col-lg-offset-1
      etto-youtube(ng-show="block.data.youtube", code="{{ block.data.youtube }}" )
      etto-vimeo(ng-show="block.data.vimeo", vimeo="{{ block.data.vimeo }}" )
