.row.stars
  .col-md-10.col-md-offset-1.col-lg-6.col-lg-offset-3
    p slider_{{currentBlock()}}
    p(editable-text="block.data.code", buttons="no", blur="submit") {{ block.data.code || 'Enter Youtube ID'}}
    etto-youtube( code="{{ block.data.code }}" )

