.row.etto-download
  .col-md-10.col-md-offset-1
    .dl-box.img-rounded
      .row
        .col-sm-5
          img.img-responsive.img-uploadable(sink-in, src="{{ block.data.img || '/images/courses/default/download-block.jpg'}}", etto-image, etto-asset-library-modal, ng-click="updateBlockImage(block, 'img', 400, 300)")
          
        .col-sm-7
          .dl-txt
            h1.etto-color-primary(editable-text="block.data.title", buttons="no", blur="submit", onaftersave="saveCourse()", spellcheck="true") {{block.data.title || 'title'}}
            div(href="#", editable-textarea="block.data.copy", e-rows="12", e-cols="40", buttons="no", blur="submit", onaftersave="saveCourse()", spellcheck="true") 
              pre.etto-color-secondary {{ block.data.copy || 'copy'}}

            div(ng-if="!block.data.link", etto-asset-library-modal, ng-click="updateBlockImage(block, 'link', 400, 300)")
              a.etto-bgcolor-accent.etto-color-light.btn.btn-default(href = "{{block.data.link}}", download) Upload File
            a.etto-bgcolor-accent.etto-color-light.btn.btn-default(ng-if="block.data.link", href = "{{block.data.link}}", download) Download
              i.pull-left.fa.fa-cloud-download.fa-2x 

    .row  
      .col-md-12
        div(etto-sound-edit)

    hr
