
.col-lg-7
  h1(editable-text="block.data.title", buttons="no", blur="submit", onaftersave="saveCourse()") {{block.data.title || 'title'}}
  h2(editable-text="block.data.subtitle", buttons="no", blur="submit", onaftersave="saveCourse()") {{block.data.subtitle || 'subtitle'}}
  div(href="#", editable-textarea="block.data.copy", e-rows="12", e-cols="40", buttons="no", blur="submit", onaftersave="saveCourse()") 
    pre {{ block.data.copy || 'copy'}}
.col-lg-5
  img.img-responsive.img-uploadable(src="{{ block.data.url }}", etto-asset-library-modal, ng-click="updateBlock(block, 'url')")
