
.row
  div(ng-repeat="bt in blocktypes")
    .col-xs-6.col-sm-4.col-md-4.nopad
      a(href="#", ng-click="chose(bt.name)")
        img.template-thumb.img-responsive(src="/images/courses/blocks/templates/{{bt.name}}.jpg")
