.row.quiz-block(etto-block-quiz)
  .col-md-10.col-md-offset-1
    div(ng-repeat = "q in block.data.questions track by $index")
      .question(id="question{{$index}}")
        h4 {{$index + 1}}. {{q.question}}
        div(ng-repeat = "a in q.answers track by $index")
          .btn.btn-default.w100(ng-click="checkAnswer(a.correct, $parent.$index)")
            .radio
              label {{alphabet[$index]}} ) {{a.answer}}
                input(type="radio", name="q{{$parent.$index}}")
    button.btn.btn-success.w100(ng-click="evaluate()") Evaluate
