.container
  .col-md-10.col-md-offset-1.col-lg-6.col-lg-offset-3
    etto-youtube(ng-show="block.data.youtube", code="{{ block.data.youtube }}" )
    etto-vimeo(ng-show="block.data.vimeo", vimeo="{{ block.data.vimeo }}" )
