

.row.etto-title
  .etto-title-image(style="-webkit-filter: blur({{block.data.blur || 0}}px);;background-image: url('{{block.data.url || '/images/courses/default/title.jpg'}}');")

  .title-text.img-rounded
    h1(move-side, delay="0.4", ng-class="block.data.textDark ? 'etto-color-primary' : 'etto-color-light'") {{ block.data.title }}
    h4(move-side, delay="0.8", ng-class="block.data.textDark ? 'etto-color-primary' : 'etto-color-light'") {{ block.data.subtitle }}


.row  
  .col-md-12
    div(etto-sound)
