.row.etto-title
  .col-md-12
    img.img-responsive.img-uploadable.etto-title-image(src="{{ block.data.url || course.thumb}}", etto-image, etto-asset-library-modal, ng-click="updateBlockImage(block, 'url', 390, 200)")
    h1(editable-text="block.data.title", buttons="no", blur="submit", onaftersave="saveCourse()") {{ block.data.title || 'title'}}

.row  
  .col-sm-12
    div(etto-sound-edit)
