.row
  .col-md-10.col-md-offset-1
    .panel.panel-default
      .panel-heading
        h1{{ block.data.title}}
        h4.sub-head {{ block.data.subtitle}}
      .panel-body
        div
          pre.quote {{ block.data.text }}
        .pull-right
          a.btn.btn-default(href="{{block.data.cite}}", target="_blank")
            small {{ block.data.cite}}
    div(etto-sound)
