

.row.etto-title
  .etto-title-image(ng-style="titleImage", ng-init="setTitleImage(block.data.url, block.data.blur)")


  .title-text.img-rounded(ng-class="block.data.textDark ? 'etto-light-fadded-bk' : 'etto-dark-fadded-bk'")
    h1(ng-class="block.data.textDark ? 'etto-color-primary' : 'etto-color-light'", e-rows="3", e-cols="90", editable-textarea="block.data.title", buttons="no", blur="submit", onaftersave="saveCourse()") {{ block.data.title || 'Title or Chapter'}}
    pre(ng-class="block.data.textDark ? 'etto-color-primary' : 'etto-color-light'", e-rows="3", e-cols="90", editable-textarea="block.data.subtitle", buttons="no", blur="submit", onaftersave="saveCourse()") {{ block.data.subtitle || "Enter a Subtitle"}}

  .edit-title(move-side, delay='0.6')

    p Change Image
    .etto-camera.img-rounded.img-uploadable.etto-img-shadow( etto-image, etto-asset-library-modal, ng-click="updateBlockImage(block, 'url', 390, 200)")
      i.fa.fa-camera.fa-2x.etto-color-white
    hr

    p Blur Image
    input(ng-model= "block.data.blur", type="range", min="0", max="23", value="{{block.data.blur || 3}}", step="3", onchange="block.data.blur=value", ng-mouseup="saveCourse()")
    hr

    input#changeText(type="checkbox", ng-model="block.data.textDark", ng-change="saveCourse()")
    label(for="changeText") Dark Text

              
        

.row  
  .col-md-12
    div(etto-sound-edit)
