

.row.etto-title
  .etto-title-image
    img.img-responsive.title-img(style="-webkit-filter: blur({{block.data.blur || 5}}px);", src="{{ block.data.url || '/images/courses/default/title.jpg'}}")
    
  .title-text
    .etto-main-txt
      h1.etto-color-light {{ block.data.title || 'Enter a title of the course or chapter'}}
      h4.etto-color-light {{ block.data.subtitle || "And something to descibe the course a little deeper"}}


.row  
  .col-md-12
    div(etto-sound)
