
.container.text-center.etto-finished
  .row
    .col-md-12
      h3.etto-color-primary.white Congratulations!
      hr
      h4.etto-color-secondary You have completed {{course.title}}
      a.btn.btn-default.etto-color-primary(href="/etto") Return Home
      
