
h1.etto-color-primary(editable-text="block.data.title", buttons="no", blur="submit", onaftersave="saveCourse()") {{block.data.title || 'title'}}
h2.etto-color-secondary(editable-text="block.data.subtitle", buttons="no", blur="submit", onaftersave="saveCourse()") {{block.data.subtitle || 'subtitle'}}

.row
  .col-lg-4
    div(href="#", editable-textarea="block.data.copy1", e-rows="12", e-cols="40", buttons="no", blur="submit", onaftersave="saveCourse()") 
      pre.etto-color-dark {{ block.data.copy1 || 'copy'}}
  .col-lg-4
    div(href="#", editable-textarea="block.data.copy2", e-rows="12", e-cols="40", buttons="no", blur="submit", onaftersave="saveCourse()") 
      pre.etto-color-dark {{ block.data.copy2 || 'copy'}}

  .col-lg-4
    div(href="#", editable-textarea="block.data.copy3", e-rows="12", e-cols="40", buttons="no", blur="submit", onaftersave="saveCourse()") 
      pre.etto-color-dark {{ block.data.copy3 || 'copy'}}

.row
  .col-sm-12
    div(etto-sound-edit)
