.row.etto-title
  .col-md-10.col-md-offset-1
    img.img-responsive.etto-title-image(src="{{ block.data.url || course.thumb}}")
    h1 {{ block.data.title || 'title'}}
  hr
  .col-sm-12
    div(etto-sound)



