.row()
  h1(editable-text="block.data.title", buttons="no", blur="submit", e-style="font-size: 44px; height: 84px;") {{ block.data.title}}
  .col-md-7
    p(editable-textarea="block.data.text", buttons="no", blur="submit") {{ block.data.text}}
  .col-md-5
    etto-image( url="{{ block.data.url }}" )
    a(href="#", editable-text="block.data.url", buttons="no", blur="submit") {{block.data.url}}
blog.
