.row.etto-download
  .col-md-10.col-md-offset-1
    .dl-box
      .row
        .col-md-5
          img.img-responsive(src="{{ block.data.img || '/images/courses/default/download-block.jpg'}}")
          
        .col-md-7
          .dl-txt
            h1.etto-color-primary(spellcheck="true") {{block.data.title || 'Downloadable Title'}}
            div(href="#", spellcheck="true") 
              pre.etto-color-secondary {{ block.data.copy || 'Description of Download'}}

            div(ng-if="!block.data.link")
              a.btn.btn-default(href = "{{block.data.link}}", download) Upload File
            a.etto-bgcolor-accent.etto-color-light.btn.btn-default(ng-if="block.data.link", href = "{{block.data.link}}", download) Download
              i.pull-left.fa.fa-cloud-download.fa-2x
    div(etto-sound)
