
h1.etto-color-primary {{block.data.title}}
h3.etto-color-secondary {{block.data.subtitle}}

.col-lg-4
  div
    pre.etto-color-dark {{ block.data.copy1 }}
.col-lg-4
  div
    pre.etto-color-dark {{ block.data.copy2 }}

.col-lg-4
  div
    pre.etto-color-dark {{ block.data.copy3 }}
