
.row(ng-class="block.data.youtube || block.data.vimeo ? 'show-video' : 'none'")
  div(ng-show="!block.data.youtube && !block.data.vimeo")
    .col-md-6.etto-shadow
      .etto-video-insert
        img.img-responsive(src="/images/logos/youtube.jpg")
        hr
        p(editable-text="block.data.youtube", buttons="no", blur="submit", onaftersave="saveCourse()") {{ block.data.youtube || 'Enter Youtube ID'}}
        hr
        small Example:
        br
        img(src="/images/courses/misc/youtube_id.jpg")
    .col-md-6
      .etto-video-insert
        img.img-responsive(src="/images/logos/vimeo.jpg")
        hr
        p(editable-text="block.data.vimeo", buttons="no", blur="submit", onaftersave="saveCourse()") {{ block.data.vimeo || 'Enter Vimeo ID'}}
        hr
        small Example:
        br
        img(src="/images/courses/misc/vimeo_id.jpg")
    hr

div(ng-show="block.data.youtube || block.data.vimeo")
  .row
    .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .etto-video
        etto-youtube(ng-if="block.data.youtube", code="{{ block.data.youtube }}" )
        etto-vimeo(ng-if="block.data.vimeo", vimeo="{{ block.data.vimeo }}" )
