
.container.text-center.etto-finished
  .row
    .col-md-12
      h3.white Congratulations!
      hr
      h4 You have completed {{course.title}}
      a.btn.btn-default(href="/etto") Return Home
      
