.row
  h1(editable-text="block.data.title", buttons="no", blur="submit", e-style="font-size: 44px; height: 84px;") {{ block.data.title}}
  .col-md-7
    div(editable-textarea="block.data.text", buttons="no", blur="submit", e-rows="7", e-cols="40") {{block.data.text}}
  .col-md-5
    etto-image( url="{{ block.data.url }}" )
    a(href="#", editable-text="block.data.url", buttons="no", blur="submit") {{block.data.url}}
    .btn.btn-default(type="button", on-click="getSelectionHtml()") Get Htmls
blog.
