.container
  .row
    .col-md-12.col-lg-10.col-lg-offset-1
      .row
        .col-lg-12
          h1.etto-color-primary {{block.data.title }}
          h3.etto-color-secondary {{block.data.subtitle }}
      hr
      .row
        .col-sm-4.col-md-4.col-lg-4
          img.img-responsive.etto-img-shadow(src="{{ block.data.img1 || '/images/courses/default/image-block1.jpg'}}")
          h4.etto-color-primary {{block.data.img1Head }}
          pre.etto-color-dark(ng-bind-html="block.data.img1Copy | linky:'_blank'") 
        .col-sm-4.col-md-4.col-lg-4
          img.img-responsive.etto-img-shadow(src="{{ block.data.img2 || '/images/courses/default/image-block2.jpg'}}")
          h4.etto-color-primary {{block.data.img2Head }}
          pre.etto-color-dark(ng-bind-html="block.data.img2Copy | linky:'_blank'") 
        .col-sm-4.col-md-4.col-lg-4
          img.img-responsive.etto-img-shadow(src="{{ block.data.img3 || '/images/courses/default/image-block3.jpg'}}")
          h4.etto-color-primary {{block.data.img3Head }}
          pre.etto-color-dark(ng-bind-html="block.data.img3Copy | linky:'_blank'") 
    
      .row
        .col-sm-12
          etto-sound
      hr
