etto-not-logged-in-nav(etto-register-modal)


.etto-landing
	.section
		.container
			.row
				.col-md-12
					img.img-responsive.etto-padding.center-block(src="/images/logos/bamboo-green.png")

					h4.text-center Sync Your Employees with Coursetto

	.reverse-bkd.section
		.container.etto-promos
			h1.text-center BambooHR Account Setup
			.row
				.col-md-7
					
					h4 Divisions and Departments
					p Before connecting to Coursetto, it is incredibly helpful to slot employees in Divisions and Departments correctly. A big part of Coursetto is the ability to create courses for particular division or departments individually. Marketers can take marketing courses and engineers can take engineering courses.
					p Divisions and Branches will populate with users from your company's BambooHR account. An email invite will be sent to any active employees who are not already in Coursetto.

				.col-md-5
					h4 Requirements
					ul 
						li Employees must have an email, either work or home.
						li Only active BambooHR employees will sync with Coursetto.

			hr
			img.img-responsive(src="/images/site/bamboo-charts.jpg")


	.section
		.container
			h1.text-center Linking BambooHR to Coursetto
			hr
			.row
				.col-md-5
					h4 Find Your BambooHR API Key 
					ul 
						li Log into your BambooHR Account
						li Click your profile image in the top right
						li Click "Keys"
						li If a key does not exist click "Add a new key"
						li Copy the key, (it will be the long string of numbers on letters
				.col-md-6
					img.img-responsive(src="/images/site/key-view.png")
			hr
			img.img-responsive(src="/images/site/bamboo-people.jpg")
			hr
			.row
				.col-md-6
					h4 Inserting BambooHR Key into Coursetto
					ul
						li Login to your Coursetto account
						li Click "People"
						li Click the "BambooHR" logo in the top right
						li Paste you BambooHR Key into the proper field
						li Enter your BambooHR subdomain.


					h4 Pressing Sync to BambooHR
					p Users who are not already in Coursetto  will be sent an email invite and will have the set authorization. Please check the appropriate boxes for all new invites to be authorized to do as you wish.

					h3 Authorization
					img.img-responsive(src="/images/site/auth.png")
					p By default all authorization is tuned off which means all new invites will not be able to do anything in Coursetto but take the courses designated to them. If you trust your employees enough, empower them to do more.
					p You can edit users authorization individually in their profile page after you sync to allow users to do things like edit courses.
					
				.col-md-6
					img.img-responsive(src="/images/site/bamboo-keys.png")
					
	.reverse-bkd.section
		.container
			.row
				.col-md-8.col-md-offset-2
					h1.text-center And That's It!
					p.text-center You can sync as many times as you'd like after. New employees will get invited and already imported users will get updated with the latest images, name, divisions, and department with every sync.
					hr
			img.img-responsive(src="/images/site/results.png")


etto-footer



			
