etto-not-logged-in-nav
.container
  .col-md-6
    h1 Session Expired
    p Either your session has expired or you do not have beta access.
    hr
    .btn-group
      a.btn.btn-default(etto-register-modal, ng-click='register(user)', href="#") Register
      a.btn.btn-default(href="/") Return Home
      a.btn.btn-default(etto-login-modal, ng-click='login()') Login
  .col-md-6
    img(src="/images/site/logo-large.png")
