etto-not-logged-in-nav
.container
  .col-md-6
    h1 Session Expired
    p Either your session has expired or you do not have beta access.
    p Please login if you are beta ready.
    .btn-group
      button.btn.btn-primary.btn-sm.navbar-btn(etto-register-modal, ng-click='register(user)') Register
      a.btn.btn-default.btn-sm(href="/") Return Home
  .col-md-6
    img(src="/images/site/logo-large.png")
