etto-not-logged-in-nav
.container
  .col-md-6
    h1 Sorry 
    p Coursetto is currently in beta.
    p If you have a beta passcode please register
    .btn-group
      button.btn.btn-primary.btn-sm.navbar-btn(etto-register-modal, ng-click='register(user)') Register
      a.btn.btn-default.btn-sm(href="/") Return Home
  .col-md-6
    img(src="/images/site/logo-large.png")
