etto-logged-in-nav

.container-full
  .row
    .col-sm-3
      h4 {{ course.title }}
      .name-me-something-great
        select(ng-model="newBlocktype")
          option Title
          option Text
          option Three Up
          option Quote
          option Youtube
        button.btn.btn-default(ng-click="addBlock(newBlocktype)") New Block
      .etto-toolbox
    .col-sm-9.etto-course-container
      etto-course( edit='edit',
                   course='course',
                   ng-swipe-left='nextBlock()',
                   ng-swipe-right='prevBlock()' )

