etto-logged-in-nav

.container-full
  .row
    .col-sm-3
      h4 {{ course.name }}
      .etto-toolbox
    .col-sm-9.etto-course-container
      etto-course( edit='edit',
                   course='course',
                   ng-swipe-left='nextBlock()',
                   ng-swipe-right='prevBlock()' )

