
.container-full(etto-session)
  .row
    .col-xs-12.etto-course-container(ng-if="err")
      .container
        h1.bg-danger Sorry
        h1 {{err}}
    .col-xs-12.etto-course-container(ng-if="!err")
      etto-course( course='course')

