etto-logged-in-nav

.container-full
  .row
    .col-sm-3.etto-toolbox
      .etto-toolbox-toolbar
        button.save.btn.btn-primary(ng-click="saveCourse()")
          i.fa.fa-save
        .etto-toolbox-title.clearfix
          h4.pull-left {{ course.title }}
      .etto-toolbox-newblock.clearfix
        select.form-control(ng-model="newBlocktype", ng-options="bt.humanized for bt in blocktypes")
        button.btn.btn-default(ng-click="addBlock(newBlocktype.name)")
          i.fa.fa-plus
      .etto-toolbox-blocktools
      a(href="#", editable-text="user.name") {{ user.name || 'empty' }}
      hr
      
      .btn.btn-defaut(ng-click="showContentents()") click

    .col-sm-9.etto-course-container
      etto-course( edit='edit',
                   course='course' )
