etto-logged-in-nav

.container-full
  .row
    etto-choose-block
    .col-sm-3.etto-toolbox
      .etto-toolbox-toolbar
        button.btn.btn-default(ng-click="showOptions()")
          i.fa.fa-plus
        button.btn.btn-danger(ng-click='removeBlock()')
          i.fa.fa-minus
        button.btn.btn-primary(ng-click='swapBlocks(currentBlock(), currentBlock() + 1)')
          i.fa.fa-refresh
        button.btn.btn-success(ng-click="saveCourse()")
          i.fa.fa-save

      .etto-toolbox-title
        h4 {{ course.title }}
      
      //etto-file-upload
        input(type='text', ng-model='myModelObj')
        input(type='file', ng-file-select='onFileSelect($files)')
        input(type='file', ng-file-select='onFileSelect($files)', multiple='multiple')
        div(ng-file-drop='onFileSelect($files)', ng-file-drag-over-class='optional-css-class', ng-show='dropSupported') drop files here
        div(ng-file-drop-available='dropSupported=true', ng-show='!dropSupported') HTML5 Drop File is not supported!

        button(ng-click='upload.abort()') Cancel Upload

    .col-sm-9.etto-course-container
      etto-course( edit='edit',
                   course='course')
