etto-logged-in-nav

.container-full
  .row
    .col-xs-12.etto-course-container
      etto-course( course='course',
                   ng-swipe-left='nextBlock()',
                   ng-swipe-right='prevBlock()' )

