
.container-full.course-edit-container
  .row
    etto-choose-block
    .col-sm-3.col-md-2.etto-toolbox
      h3(editable-text="course.title", buttons="no", blur="submit") {{course.title}}
      p(editable-text="course.subtitle", buttons="no", blur="submit") {{course.subtitle}}
      a.exit-course(href="/etto") X

      .panel.panel-default
        .panel-body
          button.btn.btn-primary(ng-click='swapBlocks(currentBlock(), currentBlock() + 1)')
            i.fa.fa-refresh
          button.btn.btn-success(ng-click="saveCourse()")
            i.fa.fa-save
          button.btn.btn-default(ng-click="showOptions()")
            i.fa.fa-plus
          button.btn.btn-danger(ng-click='removeBlock()')
            i.fa.fa-minus
        .panel-heading Current State: {{course.status}}
        .panel-body
          img.img-responsive.default-lg(src="{{course.thumb}}", etto-asset-library-modal, ng-click='updateThumb()')
          hr
          button.btn.btn-default.w100(etto-course-status, ng-click="changeStatus()")
            i.fa.fa-rocket 
            span ... Launch Course
        

    .col-sm-9.col-md-10.etto-course-container
      etto-course( edit='edit',
                   course='course')
