etto-not-logged-in-nav(ng-if="!user")

div(ng-if="checkIfAuthorized() === true || isDemo === true")
  .container-full(etto-login-modal)
    .row
      .col-xs-12.etto-course-container(ng-if="err")
        .container
          h1.bg-danger Sorry
          h1 {{err}}
      .col-xs-12.etto-course-container(ng-if="!err")
        .row
          .col-sm-12
            etto-course( course='course')

          .etto-course-exit(ng-if="user")
            a.etto-course-exit(href="/etto", target="_self")
              p.pull-left {{currentBlock() + 1}} / {{blocksInCourse()}}
              i.fa.fa-2x.fa-times-circle.pull-left

          .etto-nav-view
            etto-course-nav(ng-show="checkLocked() === false")

div(ng-if="checkIfAuthorized() === false")
  etto-logged-in-nav(ng-if="user")
  .col-md-12
    h1.text-center Authorization Denied
    hr
    h4.text-center(ng-if="!user || user._tier._company !== course._creator") This course is private.
    p.text-center You may need to login.


