
.container-full(etto-session)
  .row
    .col-xs-12.etto-course-container(ng-if="err")
      .container
        h1.bg-danger Sorry
        h1 {{err}}
    .col-xs-12.etto-course-container(ng-if="!err")
      .row
        .col-sm-12
          etto-course( course='course')

        .col-sm-12
          .etto-course-exit
            a.etto-course-exit(href="/etto", target="_self")
              i.etto-color-accent.fa.fa-2x.fa-times-circle

        .col-sm-12()
          etto-course-nav(ng-show="checkLocked() === false")

