etto-logged-in-nav


.container-full.etto-edit-tier

  .row(etto-update-company)
    .col-sm-12.col-md-5
      h3.etto-color-primary#title(editable-textarea="tier.title", buttons="no", blur="submit", onaftersave="updateTier()") {{tier.title || 'Title'}}
      h4.etto-color-secondary#subtite(editable-textarea="tier.internalId", buttons="no", blur="submit", onaftersave="updateTier()") {{tier.internalId || 'Optional ID'}}
      p Courses are binded to the tiers not the users.
    .alert.alert-success(ng-show="saved")
      p saved
    .col-sm-12.col-md-7.hidden-sm.hidden-xs
      .main-img-container(style="background-image: url('/images/site/connections.jpg');")

  
  .row.etto-bgcolor-light

    .col-sm-12
      h3 Company's courses
      p Available courses to add to your Departments

      table.table-striped.table
        thead.etto-bgcolor-primary.etto-color-light
          tr
            th Course
            th Add to Tier
            th Add to all Lower Tiers
            th Priority
            th Make a Copy
            th 
        tbody
          tr.soft-open(ng-repeat="course in companyCourses | orderBy: 'priority'")
            td {{course.title}}
            
            td
              div(toggle-switch, model="course.ison", on-change="changeCourse(course)")
              
            td
              button.btn.btn-default.btn-sm(type="button", ng-click="addToAllLowerTiers(course)") Add to all tiers

            td
              input.priority(type="number", ng-model="course.priority", ng-blur="changeCoursePriority(course)")

            td
              .btn.btn-default.btn-sm(ng-click="duplicateCourse(course)") Duplicate
            td
              button.close.aria-hidden.pull-right.delete-course(etto-remove-course, type="button", ng-click='removeCourse(course._id, course.title)') &times;

