etto-logged-in-nav

etto-verify-modal(redirect-to='/etto')
.container-full
  .row(etto-update-company)
    .col-sm-12.col-md-6.hidden-sm.hidden-xs
      h3.etto-color-primary#title(editable-textarea="company.leaderboard.title", buttons="no", blur="submit", onaftersave="updateLeaderboard()") {{company.leaderboard.title}}
      h4.etto-color-secondary#subtite(editable-textarea="company.leaderboard.subtitle", buttons="no", blur="submit", onaftersave="updateLeaderboard()") {{company.leaderboard.subtitle}}
    .col-sm-12.col-md-6
      .main-img-container.img-uploadable(style="background-image: url('{{company.leaderboard.imgUrl}}');", etto-asset-library-modal, ng-click='updateMainImg()')

  .row.etto-bgcolor-light
    .etto-courses(ng-class="user.auth.canCreateCourses ? 'col-sm-8' : 'col-sm-12'")
      .main-holder(ng-show="usersCourses[0]")
        .alert.alert-danger(ng-show="err")
          p {{err}}

        div(etto-color, class="animate-repeat", ng-repeat='course in usersCourses | filter:searchCourse')
          div(ng-class="user.auth.canCreateCourses ? 'col-sm-6 col-lg-4' : 'col-sm-6 col-md-4 col-lg-3'")
            .etto-course-holder(sink-in, ng-click="openCourse(course)")
              .course-holder-img(style="background-image: url('{{course.thumb}}');")
              div(ng-if="course._record")
                div.etto-certificate.etto-color-accent.img-rounded.etto-shadow-img(ng-show="course._record.progress.bookmark === course._record.progress.totalBlocks && course._record.progress.totalBlocks !== 1") 
                  div(etto-certificate)
              .etto-padding
                h4.etto-color-primary {{course.title}}
                .progress.etto-bgcolor-light(ng-show="!course._record")
                  .progress-bar.etto-bgcolor-accent(role="progressbar", aria-valuenow="1", aria-valuemin="0", aria-valuemax="100", style="width: 1%;")
                .progress.etto-bgcolor-light(ng-show="course._record")
                  .progress-bar.etto-bgcolor-accent(ng-show="course._record.progress.totalBlocks > 1", role="progressbar", aria-valuenow="{{(course._record.progress.bookmark/course._record.progress.totalBlocks) * 100}}", aria-valuemin="0", aria-valuemax="100", style="width: {{(course._record.progress.bookmark/course._record.progress.totalBlocks) * 100}}%;")
                p.etto-color-secondary {{course.subtitle}}
    .col-sm-8(ng-show="!usersCourses[0] && user.auth.canInvite && user.auth.canCreateCourses", etto-on-boarding)
    .etto-pad-top.etto-compsed-courses-holder
      .col-sm-4.col-sm-4(ng-show="user.auth.canCreateCourses")
        .panel.etto-bgcolor-light
          .panel-heading.etto-bgcolor-secondary
             h4 Composed Courses

             .input-group
              span.input-group-addon(ng-click='addCourse()') +
              input.form-control(type='text', ng-model='searchComposedCourse', placeholder='Search Courses')
          .list-group
            div(ng-if="!createdCourses[0]")
              .list-group-item.etto-bgcolor-lightgrey.etto-bgcolor-light-hover(etto-add-course, ng-click='addCourse()')
                h4 Create a Course!
            div(sink-in, etto-color, ng-repeat='course in createdCourses | filter:searchComposedCourse')
              .etto-composed-course
                .etto-course-box
                  a(href="/course/edit/{{ course._id }}")
                    .row
                      .col-xs-5.col-sm-5.col-md-4
                        .etto-side-thumb(style="background-image: url('{{course.thumb}}');")
                      .col-xs-7.col-sm-7.col-md-8
                        h5.etto-color-primary {{course.title}}
                  button.close.aria-hidden.pull-right.delete-course(etto-remove-course, type="button", ng-click='removeCourse(course._id, course.title)') &times;



