
etto-logged-in-nav
etto-verify-modal(redirect-to='/etto')

.header.main-img
  .container
    .row
      h2 Start creating, taking, and sharing courses
      p Welcome <i>{{compnay.title}}</i> Team

.container
  .col-md-9.col-sm-9.col-md-9(ng-show="usersCourses[0]")
    .row
      .alert.alert-danger(ng-show="err")
        p {{err}}
      div(ng-repeat='course in usersCourses')
        .col-md-4.col-sm-4
          .course-holder(sink-in, ng-click="openCourse(course)")
            .row
              .col-xs-12(style="")
                img.img-responsive.user-course-thumb(src="/images/courses/thumbs/course_2.jpg")
                img.img-responsive.badge.col-xs-3(src="/images/courses/badges/default.png", ng-show="course._record.progress.bookmark === course._record.progress.totalBlocks && course._record.progress.totalBlocks !== 1")
              .col-xs-12
                h4 {{course.title}}
                p {{course.subtitle}}
                .progress(ng-show="!course._record")
                  .progress-bar(role="progressbar", aria-valuenow="1", aria-valuemin="0", aria-valuemax="100", style="width: 1%;")
                .progress(ng-show="course._record")
                  .progress-bar(ng-show="course._record.progress.totalBlocks > 1", role="progressbar", aria-valuenow="{{(course._record.progress.bookmark/course._record.progress.totalBlocks) * 100}}", aria-valuemin="0", aria-valuemax="100", style="width: {{(course._record.progress.bookmark/course._record.progress.totalBlocks) * 100}}%;")



  .col-md-9.col-sm-9.col-md-9(ng-show="!usersCourses[0]")
    .col-md-6.col-sm-6.col-md-6
      h3 Lets get you started...
      p 1. <a href="/levels/{{user._tier._id}}">Set up your company structure </a> by adding tiers, then click the tier and add more tiers within tiers
      p 2. Add Users and managers to the appropriate divisions, departments and branches
      p 3. <a href="/store/{{user._tier._id}}">Purchase </a>and or create a course and deligate it to your appropriate divisions, departments and branches
    .col-md-6.col-sm-6.col-md-6
      img.img-responsive(src='/images/site/thumbs/new.jpg')

  .col-xs-12.col-sm-3.col-md-3.side-panel
    h3 Company Courses
    etto-add-course(redirect-to='/etto')
    .clearfix
    div(ng-repeat='course in createdCourses')
      .course-holder(sink-in)
        a(href="/course/view/{{ course._id }}")
          .col-md-10
            h4 {{course.title}}
            p {{course.subtitle}}
          .col-md-2
            button.close.btn.btn-default.btn-xs.pull-right(type="button", aria-hidden="true", ng-click='removeCourse(course._id)') &times;
            a.btn.btn-default.btn-xs(href="/course/edit/{{ course._id }}")
              i.fa.fa-edit
        .clearfix


