etto-logged-in-nav

etto-verify-modal(redirect-to='/etto')
.container-full
 
  .row
    .col-sm-12.col-md-9
      .leaderboard
        .row
          .col-sm-6.col-md-4
            img.img-responsive.pull-left.default-lg(src="/images/leaderboard/default-lg.jpg")
          .col-xs-12.col-sm-6.col-md-5
            h4 Start creating, taking, and sharing courses
            p Welcome <i>{{compnay.title}}</i> Team

          .col-md-3.hidden-xs.hidden-sm
            img.img-responsive(src="/images/leaderboard/default-sm-tp.jpg")
            img.img-responsive(src="/images/leaderboard/default-sm-bm.jpg")

      .clearfix
      div(ng-show="usersCourses[0]")
        .alert.alert-danger(ng-show="err")
          p {{err}}
        .row
        div(ng-repeat='course in usersCourses')
          .col-sm-6.col-md-4.col-lg-3
            .course-holder(sink-in, ng-click="openCourse(course)")
              img.img-responsive.user-course-thumb(src="/images/courses/thumbs/course_2.jpg")
              .row
                div(ng-show="course._record")
                  img.img-responsive.col-md-3(src="/images/courses/badges/default.png", ng-show="course._record.progress.bookmark === course._record.progress.totalBlocks && course._record.progress.totalBlocks !== 1")
                .col-xs-9
                  h4 {{course.title}}
                  p {{course.subtitle}}

              .progress(ng-show="!course._record")
                .progress-bar(role="progressbar", aria-valuenow="1", aria-valuemin="0", aria-valuemax="100", style="width: 1%;")
              .progress(ng-show="course._record")
                .progress-bar(ng-show="course._record.progress.totalBlocks > 1", role="progressbar", aria-valuenow="{{(course._record.progress.bookmark/course._record.progress.totalBlocks) * 100}}", aria-valuemin="0", aria-valuemax="100", style="width: {{(course._record.progress.bookmark/course._record.progress.totalBlocks) * 100}}%;")
        .clearfix
      .col-md-9.col-sm-9.col-md-9(ng-show="!usersCourses[0]", etto-on-boarding)
    .col-sm-12.col-md-3.nopad
      .side-panel
        .modal-header
          
          .col-xs-2.col-sm-2.col-md-2
            etto-add-course
          .col-xs-10.col-sm-10.col-md-10
            h4.modal-title Composed Courses
          .clearfix
        .modal-body
          .course-deck
            div(ng-repeat='course in createdCourses')
              .course(sink-in)
                button.close.aria-hidden.pull-right(etto-remove-course, type="button", ng-click='removeCourse(course._id, course.title)')
                  i.fa.fa-trash-o
                a(href="/course/edit/{{ course._id }}")
                  .row
                    .col-xs-5.col-sm-5.col-md-5
                      img.img-responsive.user-course-thumb(src="/images/courses/thumbs/course_2.jpg")

                    .col-xs-7.col-sm-7.col-md-7
                      h5 {{course.title}}
                      


          .clearfix


