
etto-logged-in-nav
etto-verify-modal(redirect-to='/etto')

.header.main-img
  .container
    .row
      h2 Start creating, taking, and sharing courses
      p Welcome <i>{{user._tier.title}}</i> Team
.container
  .row

    .col-md-9.col-sm-9.col-md-9
      h3 Courses for my Users
      .row
        div(ng-repeat='course in tiersCourses')
          .col-md-4.col-sm-4
            .course-holder(sink-in)
              a(href="/course/view/{{ course._course._id }}")
                .row
                  .col-xs-12
                    p {{ course._id }}
                    img.img-responsive(src='/images/courses/thumbs/course_2.jpg')
                  .col-xs-12
                    h4 {{course._course.title}}
                    p {{course._course.subtitle}}
                    .progress
                      .progress-bar(role="progressbar", aria-valuenow="28", aria-valuemin="0", aria-valuemax="100", style="width: 28%;")

    .col-xs-12.col-sm-3.col-md-3.aside
      h3 Created Courses
      etto-add-course(redirect-to='/etto')
      hr
      .clearfix
      div(ng-repeat='course in courses')
        course-holder(sink-in)
          .col-md-12

            button.close.btn.btn-default(type="button", aria-hidden="true", ng-click='removeCourse(course._id)') &times;


            h4 {{course.title}}
            p {{course.subtitle}}
            .btn-group
            a.btn.btn-default(href="/course/edit/{{ course._id }}")
              i.fa.fa-edit
            a.btn.btn-success(href="/course/view/{{ course._id }}")
              i.fa.fa-play-circle

          hr
