
etto-logged-in-nav
etto-register-modal(redirect-to='/etto')

.header.main-img
  .container
    .row
      h2 Start creating, taking, and sharing courses
      p Welcome Team
.container
  .row
    .col-xs-12.col-sm-4.col-md-4
      h3 Created Courses
      etto-add-course(redirect-to='/etto')
      .clear
      div(ng-repeat='course in courses')
        .course-holder(sink-in)
          .pad20
            .row
              .col-md-9
                h4 {{course.title}}
                p {{course.subTitle}}
              .col-md-3
                p ${{course.price}}
                .btn.btn-warning.btn-xs(ng-click='removeCourse(course._id)') X

    .col-md-8.col-sm-8.col-md-8
      h3 Courses for my Users
      .row
        div(ng-repeat='course in tiersCourses')
          .col-md-6.no-pad
            .course-holder(sink-in)
              img.img-responsive(src='/images/courses/thumbs/default.jpg')
              etto-progress-bar(data= "[60]")
              h4 {{course.title}}
              p {{course.subtitle}}
