etto-not-logged-in-nav(etto-register-modal)

.etto-landing
  .header.main-img
    .container
      .row

        .col-sm-7.main-image-message
          
          h3 Start creating, taking, tracking, and sharing corporate training courses.
          .row
            .col-sm-10
              p Coursetto is a knowledge-sharing platform that empowers anyone in your company to create and curate courses for new and current hires.
          .btn-group.etto-landing__socialmedia
            a(href="https://twitter.com/Coursetto")
              i.fa.fa-twitter.fa-2x
            a(href="https://www.youtube.com/user/coursetto")
              i.fa.fa-youtube-play.fa-2x
            a(href="https://www.linkedin.com/company/5153924?trk=prof-0-ovw-curr_pos")
              i.fa.fa-linkedin.fa-2x
            a(href="https://www.facebook.com/coursetto")
              i.fa.fa-facebook.fa-2x
            a(href="mailto:admin@coursetto.com")
              i.fa.fa-envelope.fa-2x
        .col-sm-5.hidden-xs.section
          img.img-responsive.pull-right(src="/images/landing/computers.png") 
        
      
  
  .section
    .container
      .row
        .col-sm-12.col-md-6
          img.img-responsive(src='/images/landing/demo1.jpg')
          img.img-responsive(src='/images/landing/demo2.jpg')
          img.img-responsive(src='/images/landing/demo3.jpg')
        .col-xs-12.col-sm-12.col-md-6
          .row
            .col-xs-4
              img.img-responsive(src='/images/landing/person1.jpg')
            .col-xs-4
              img.img-responsive(src='/images/landing/person2.jpg')
            .col-xs-4
              img.img-responsive(src='/images/landing/person3.jpg')
          h2 Anyone Can Create Courses
          p Allow anyone in your company to create and curate courses, or restrict permissions where appropriate.
          p Creating custom content is a breeze on desktop and mobile.

          h4 Subscriptions
          p Pricing is based on number of employees enrolled and the number of private courses you need to distribute:
          .col-sm-12.col-md-12
            ul.nav.nav-tabs
              li(ng-click="show(subscriptionType._id)", ng-repeat="subscriptionType in subscriptionTypes", ng-class="{active: onSubscription === subscriptionType._id}")
                a(href="#")
                  small {{subscriptionType.title}}
                  br
                  small {{subscriptionType.empRange.low}} - {{subscriptionType.empRange.high}}
            div(ng-repeat="subscriptionType in subscriptionTypes")
              table.table.table-no-border(ng-show="onSubscription === subscriptionType._id", style="background-color:#fff;")
                tr
                  th Private Courses
                  th Price
                tr(ng-repeat="subscription in subscriptionType.subscriptions", ng-animate="'animate'")
                  td {{subscription.courseRange.low}} - {{subscription.courseRange.high}}
                  td ${{subscription.price}}/mo
  .reverse-bkd.section
    .container
      .row
        a.col-sm-6.col-md-4(href="#", ng-click='register()')
          img.img-responsive(src="/images/landing/promo1.jpg")
          br
        a.col-md-4.hidden-sm.hidden-xs(href="#", ng-click='register()')
          img.img-responsive(src="/images/landing/promo.jpg")
          br
        .col-sm-6.col-md-4
          iframe.img-responsive.etto-landing__youtube-demo(style="min-height:200px;", width="1270", height="728",src="//www.youtube.com/embed/kVrUNKg6qsk?showinfo=0&controls=2&thumbnail=high&html5=1", frameborder="0", allowfullscreen)
          br
          a.w100.btn.btn-success(href="#", ng-click='register()') Register
  .section
    .container
      .row
        h2.text-center Create a Custom Company Structure
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive(src='/images/landing/old.jpg')
          h4 The Old Way
          p Tracking employee course progress in a large company structure can be difficult with other out-of-the-box solutions.
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive(src='/images/landing/new.jpg')
          h4 The Coursetto Way
          p Create your company's organization tree any way you need. Place managers in charge of their own tier to create micro training environments.
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive(src='/images/landing/small.jpg')
          h4 And You Get Graphs!
          p Assign managers and employees to their own tiers and delegate training. Then track progress across all tiers.
  
  .reverse-bkd.section
    .container
      .row
        h2.text-center Course Marketplace
        p.text-center 
        .col-md-6
          h4 No subscription necessary, pay per user course taken
          p No time to build a course and just need something standard? Then head over to the course marketplace.
          p
            img.img-responsive(src='/images/landing/market.jpg')

        .col-sm-12.col-md-6
          .row
            .col-sm-9.col-md-6
              h4  Course Distribution
              p Your company structure is on the right. Watch your price fluctuate as you turn off departments that do not need to take the course you are adding. The price is just an estimate of credits needed to be purchased. Credits are only used when a user actually takes a course. Users get an unlimited amount of times to take a course. Once purchased the course will appear for any "on" departments.
            .col-sm-3.col-md-6
              p
                img.img-responsive(src='/images/landing/tiers.jpg')
  .section
    .container
      .row
        h2.text-center Set Your Company Branding
        .col-xs-12
          img.img-responsive(src='/images/landing/white-label.jpg')
  .reverse-bkd.section
    .container
      .row
        h2.text-center The Coursetto Team
        .col-sm-4
          img.img-responsive(src="https://www.gravatar.com/avatar/a197153b753ca03e837a6deba12486b1?s=300")
          h3 Nate Geier
          h4 CEO
          p
            a.btn.btn-primary(href="mailto:nate@coursetto.com")
              i.fa.fa-envelope
              |  nate@coursetto.com
        .col-sm-4
          img.img-responsive(src="https://www.gravatar.com/avatar/a895de9f0021b3a08b654fe2efe43e97?s=300")
          h3 Randall A. Gordon
          h4 CTO
          p
            a.btn.btn-primary(href="mailto:randall@coursetto.com")
              i.fa.fa-envelope
              |  randall@coursetto.com
        .col-sm-4
          iframe.etto-landing__youtube-demo(style="min-height:200px;max-height:300px;", src="//www.youtube.com/embed/Usu18v7Ja2A?showinfo=0&controls=2", frameborder="0", allowfullscreen)
          a.btn.btn-success(href="#", ng-click='register()') Register
          
  
