etto-not-logged-in-nav(etto-register-modal)


.etto-landing
  .header.main-img
    .container
      .row
        .col-sm-12.main-image-message
          h2 A knowledge-sharing platform
          p Empower anyone in a company to create, track, and share courses on any device.
          button.btn.btn-default.etto-register-btn.col-sm-2.col-sm-offset-5.col-xs-10.col-xs-offset-1(ng-click='register()') Start now
          button.btn.btn-default.etto-register-btn.col-sm-2.col-sm-offset-5.col-xs-10.col-xs-offset-1.hidden-md.hidden-lg(ng-click='login()') Login

      .etto-landing__socialmedia.hidden-xs
        a(href="https://twitter.com/Coursetto")
          i.fa.fa-twitter.fa-2x
        a(href="https://www.youtube.com/user/coursetto")
          i.fa.fa-youtube-play.fa-2x
        a(href="https://www.linkedin.com/company/5153924?trk=prof-0-ovw-curr_pos")
          i.fa.fa-linkedin.fa-2x
        a(href="https://www.facebook.com/coursetto")
          i.fa.fa-facebook.fa-2x
        a(href="mailto:admin@coursetto.com")
          i.fa.fa-envelope.fa-2x


  .section
    .container.etto-course-creation-intro
      .row
        .col-xs-12.col-sm-12.col-md-6
          h2 Anyone Can Create Courses
          p By allowing HR, legal counsel, and employees to create their own courses, Coursetto provides companies with a holistic catalogue of organizational policies and skills.
          hr
          .row
            .col-xs-4
              img.img-responsive.img-rounded(src='/images/landing/person1.jpg')
            .col-xs-4
              img.img-responsive.img-rounded(src='/images/landing/person2.jpg')
            .col-xs-4
              img.img-responsive.img-rounded(src='/images/landing/person3.jpg')
          hr
          .row
            .col-xs-4
              img.img-responsive(src="/images/logos/youtube.jpg")
            .col-xs-4
              img.img-responsive(src="/images/logos/vimeo.jpg")
            .col-xs-4
              img.img-responsive(src="/images/logos/soundcloud.png")
          br
          .row
            .col-xs-10.col-xs-offset-1
              .row
                .col-xs-8
                  img.img-responsive(src="/images/logos/bamboo-green.png")
                .col-xs-4
                  img.img-responsive(src="/images/logos/gmaps.png")

          h4 Coursetto Integrates with the Web

          ul
            li Link video from YouTube or Vimeo
            li Link voice over or any sound with SoundCloud
            li Add images or animated gifs
            li Create a quiz anywhere
            li Track completion dates and progress
            li Collaborate and create courses together


        .col-sm-12.col-md-6.course-compser
          h4 Use our responsive course composer
          p No design skills needed.

          img.img-responsive(src='/images/landing/demo1.jpg')
          img.img-responsive(src='/images/landing/demo2.jpg')
          img.img-responsive(src='/images/landing/demo3.jpg')
          .clearfix


  .reverse-bkd.section
    .container.etto-promos
      .row
        a.col-sm-6.col-md-4(href="#", ng-click='register()')
          img.img-responsive.img-rounded(src="/images/landing/promo1.jpg")
          br
        a.col-md-4.hidden-sm.hidden-xs(href="#", ng-click='register()')
          img.img-responsive.img-rounded(src="/images/landing/promo.jpg")
          br
        .col-sm-6.col-md-4
          iframe.img-responsive.etto-landing__youtube-demo.img-rounded(style="min-height:200px;", width="1270", height="728",src="//www.youtube.com/embed/NmABhkLv2QE?showinfo=0&controls=2&thumbnail=high&html5=1", frameborder="0", allowfullscreen)
          br
          a.w100.btn.btn-success(href="#", ng-click='register()') Register
  .section
    .container
      .row
        h2.text-center Mobile First Design
        .col-xs-12
          img.img-responsive.img-rounded(src='/images/landing/tabs.jpg')
  .reverse-bkd.section
    .container
      .row
        h2.text-center Create a Custom Company Structure
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive.img-rounded.drop-shadow(src='/images/landing/old.jpg')
          h4 The Old Way
          p Tracking employee course progress in a large company structure can be difficult with other out-of-the-box solutions.
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive.img-rounded.drop-shadow(src='/images/landing/new.jpg')
          h4 The Coursetto Way
          p Create your company's organization tree any way you need. Place managers in charge of their own tier to create micro training environments.
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive.img-rounded.drop-shadow(src='/images/landing/small.jpg')
          h4 And You Get Graphs!
          p Assign managers and employees to their own tiers and delegate training. Then track progress across all tiers.

  .section
    .container
      .row
        h2.text-center Course Marketplace
        p.text-center
        .col-md-6
          img.img-responsive.img-rounded(src='/images/landing/expert.jpg')
          h4 Experts: Get Paid to Teach What You Know
          p Do you know a lot about a topic that could help a business grow? Are you an expert at sales, leadership, marketing, graphic design, or another topic? Start creating courses with Coursetto and you can earn money while teaching others what you know!
          p Just set your own price and launch it to the marketplace.
        .col-sm-12.col-md-6
          img.img-responsive.img-rounded(src='/images/landing/connections.jpg')
          h4 Companies: Purchase Pre-existing Courses
          ul
            li Purchase standard compliance courses
            li Distribute a standard course to the correct positions
            li Share your training with your industry and stop reinventing the wheel. It helped with the open source community.


  .reverse-bkd.section
    .container
      .row
        h2.text-center Set Your Company Branding
        .col-xs-12
          img.img-responsive.img-rounded.drop-shadow(src='/images/landing/white-label.jpg')
  .section
    .container

      h2.text-center The Coursetto Team
      .row
        .col-sm-3
          .etto-course-holder()
            .course-holder-img.landing-thumb(style="background-image: url('https://www.gravatar.com/avatar/a197153b753ca03e837a6deba12486b1?s=500');")
            .etto-padding
              h4 Nate Geier
              p CEO and Founder
              a.btn.btn-default(href="mailto:nate@coursetto.com") nate@coursetto.com
        .col-sm-3
          .etto-course-holder()
            .course-holder-img.landing-thumb(style="background-image: url('/images/landing/meris.jpg')")
            .etto-padding
              h4 Meris Gebhardt
              p VP Business Development
              a.btn.btn-default(href="mailto:meris@coursetto.com") meris@coursetto.com
        .col-sm-3
          .etto-course-holder()
            .course-holder-img.landing-thumb(style="background-image: url('/images/landing/vera.jpg');")
            .etto-padding
              h4 Vera Klebleeva
              p Strategy
              a.btn.btn-default(href="mailto:vera@coursetto.com") vera@coursetto.com

        .col-sm-3
          .etto-course-holder
            .course-holder-img.landing-thumb(style="background-image: url('https://www.gravatar.com/avatar/a895de9f0021b3a08b654fe2efe43e97?s=300');")
            .etto-padding
              h4 Randall A. Gordon
              p Technical
      .row
        .col-sm-10.col-sm-offset-1
          h3.text-center Advisors/Press
          .row

            .col-xs-6.col-sm-3
              img.img-circle.img-responsive(src="/images/landing/ryan.jpg")
              .etto-padding
                h4 Ryan Carson
                p CEO of <a href="http://teamtreehouse.com/">Treehouse</a>
            .col-xs-6.col-sm-3
              img.img-circle.img-responsive(src="/images/landing/david.jpg")
              .etto-padding
                h4 David Nelsen
                p Last venture was Giftango, Sold to InComm 50mm+

            .col-xs-6.col-sm-3
              a(href= "http://www.bizjournals.com/portland/print-edition/2014/06/20/training-made-easy.html", target="_blank")
                img.img-circle.img-responsive(src="/images/landing/press.jpg")
                .etto-padding
                  h4 Training made easy
                  p Portland Business Journal

            .col-xs-6.col-sm-3
              a(href= "http://www.bizjournals.com/portland/blog/2014/10/are-education-software-companies-portland-s-next.html", target="_blank")
                img.img-circle.img-responsive(src="/images/landing/ed-tech-avatar.jpg")
                .etto-padding
                  h4 Are education software companies Portland’s next tech cluster?
                  p Portland Business Journal


etto-footer


