engo-not-logged-in-nav
.main-img
.container
  .row
    .col-lg-4
      .register.ng-scope
        h3 Enroll
        .err
          | {{errors}}
        engo-new-brand
    .col-lg-8
      .col-md-6.columns.thumb
        .thumbHolder
      .col-md-6.columns.thumb
        .thumbHolder
      .col-md-6.columns.thumb
        .thumbHolder
      .col-md-6.columns.thumb
        .thumbHolder

footer
  p By Nate and Randall

