<not-logged-in-nav></not-logged-in-nav>

<div class="large-main large-12 center">
  <div class="main-img"></div>
</div>

<div style="margin-top:20px;" class="row">
  <div class="large-4 columns">
    <div class="register ng-scope">
      <h3>Enroll</h3>
      <div class="err">
        {{errors}}
      </div>
      <engo-new-brand></engo-new-brand>
      
    </div>
  </div>

  <div class="large-8 columns">
    <div class="large-6 columns thumb">
      <div class="thumbHolder"></div>
    </div>

    <div class="large-6 columns thumb">
      <div class="thumbHolder"></div>
    </div>

    <div class="large-6 columns thumb">
      <div class="thumbHolder"></div>
    </div>

    <div class="large-6 columns thumb">
      <div class="thumbHolder"></div>
    </div>
  </div>
</div>
<footer>
  <p>By Nate and Randall</p>
</footer>


