etto-not-logged-in-nav(etto-register-modal)


.etto-landing
  .header.main-img
    .container
      .row
        .col-sm-12.main-image-message
          h2 A knowledge-sharing platform
          p Empower anyone in a company to create, track, and share courses on any device.
          button.btn.btn-default.etto-register-btn.col-sm-2.col-sm-offset-5.col-xs-10.col-xs-offset-1(ng-click='register()') Start now

      .etto-landing__socialmedia
        a(href="https://twitter.com/Coursetto")
          i.fa.fa-twitter.fa-2x
        a(href="https://www.youtube.com/user/coursetto")
          i.fa.fa-youtube-play.fa-2x
        a(href="https://www.linkedin.com/company/5153924?trk=prof-0-ovw-curr_pos")
          i.fa.fa-linkedin.fa-2x
        a(href="https://www.facebook.com/coursetto")
          i.fa.fa-facebook.fa-2x
        a(href="mailto:admin@coursetto.com")
          i.fa.fa-envelope.fa-2x


  .section
    .container.etto-course-creation-intro
      .row
        .col-xs-12.col-sm-12.col-md-6
          h2 Anyone Can Create Courses
          p By allowing HR, legal counsel, and employees to create their own courses, Coursetto provides companies with a holistic catalogue of organizational policies and skills.
          hr
          .row
            .col-xs-4
              img.img-responsive.img-rounded(src='/images/landing/person1.jpg')
            .col-xs-4
              img.img-responsive.img-rounded(src='/images/landing/person2.jpg')
            .col-xs-4
              img.img-responsive.img-rounded(src='/images/landing/person3.jpg')
          hr
          h4 Creating custom content is a breeze on desktop and mobile.

          ul
            li Link video from YouTube or Vimeo
            li Link voice over or any sound with SoundCloud
            li Add images or animated gifs
            li Create a quiz anywhere
            li Track completion dates and progress
            li Collaborate and create courses together

        .col-sm-12.col-md-6.course-compser
          h4 Use our responsive course composer
          p No design skills needed.

          img.img-responsive(src='/images/landing/demo1.jpg')
          img.img-responsive(src='/images/landing/demo2.jpg')
          img.img-responsive(src='/images/landing/demo3.jpg')
          .clearfix


  .reverse-bkd.section
    .container.etto-promos
      .row
        a.col-sm-6.col-md-4(href="#", ng-click='register()')
          img.img-responsive.img-rounded(src="/images/landing/promo1.jpg")
          br
        a.col-md-4.hidden-sm.hidden-xs(href="#", ng-click='register()')
          img.img-responsive.img-rounded(src="/images/landing/promo.jpg")
          br
        .col-sm-6.col-md-4
          iframe.img-responsive.etto-landing__youtube-demo.img-rounded(style="min-height:200px;", width="1270", height="728",src="//www.youtube.com/embed/kVrUNKg6qsk?showinfo=0&controls=2&thumbnail=high&html5=1", frameborder="0", allowfullscreen)
          br
          a.w100.btn.btn-success(href="#", ng-click='register()') Register
  .section
    .container
      .row
        h2.text-center Create a Custom Company Structure
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive.img-rounded(src='/images/landing/old.jpg')
          h4 The Old Way
          p Tracking employee course progress in a large company structure can be difficult with other out-of-the-box solutions.
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive.img-rounded(src='/images/landing/new.jpg')
          h4 The Coursetto Way
          p Create your company's organization tree any way you need. Place managers in charge of their own tier to create micro training environments.
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive.img-rounded(src='/images/landing/small.jpg')
          h4 And You Get Graphs!
          p Assign managers and employees to their own tiers and delegate training. Then track progress across all tiers.

  .reverse-bkd.section
    .container
      .row
        h2.text-center Course Marketplace
        p.text-center
        .col-md-6
          img.img-responsive.img-rounded(src='/images/landing/expert.jpg')
          h4 Experts: Get Paid to Teach What You Know
          p Do you know a lot about a topic that could help a business grow? Are you an expert at sales, leadership, marketing, graphic design, or another topic? Start creating courses with Coursetto and you can earn money while teaching others what you know!
          p Just set your own price and launch it to the marketplace.
        .col-sm-12.col-md-6
          img.img-responsive.img-rounded(src='/images/landing/connections.jpg')
          h4 Companies: Purchase Pre-existing Courses
          ul
            li Purchase standard compliance courses
            li Distribute a standard course to the correct positions
            li Share your training with your industry and stop reinventing the wheel. It helped with the open source community.


  .section
    .container
      .row
        h2.text-center Set Your Company Branding
        .col-xs-12
          img.img-responsive.img-rounded(src='/images/landing/white-label.jpg')
  .reverse-bkd.section
    .container
      .row
        .col-sm-12
          h2.text-center The Coursetto Team
          .row
            .col-sm-3
              img.img-responsive.img-rounded(src="https://www.gravatar.com/avatar/a197153b753ca03e837a6deba12486b1?s=300")
              h3 Nate Geier
              h4 CEO
              a.btn.btn-primary(href="mailto:nate@coursetto.com")
                i.fa.fa-envelope
                |  | nate@coursetto.com
            .col-sm-3
              img.img-responsive.img-rounded(src="https://www.gravatar.com/avatar/a895de9f0021b3a08b654fe2efe43e97?s=300")
              h3 Randall A. Gordon
              h4 CTO
              a.btn.btn-primary(href="mailto:randall@coursetto.com")
                i.fa.fa-envelope
                |  | randall@coursetto.com
            a.col-sm-3(href= "http://www.bizjournals.com/portland/print-edition/2014/06/20/training-made-easy.html", target="_blank")
              img.img-responsive.img-rounded(src="/images/landing/press.jpg")
              h3 Press
              h4 Portland Business Journal
            .col-sm-3
              h3 Advisors:
              .row
                .col-sm-4
                  img.img-responsive.img-rounded(src="/images/landing/ryan.jpg")
                .col-sm-8
                  h4 Ryan Carson
                  p CEO Treehouse

              .row
                .col-sm-4
                  img.img-responsive.img-rounded(src="/images/landing/david.jpg")
                .col-sm-8
                  h4 David Nelsen
                  p Last venture was Giftango, Sold to InComm


