engo-not-logged-in-nav

.header.main-img
  .container
    .row
      h2 Start creating, taking, tracking, and sharing courses
      h1 Rolling out mid-January 2014

.container
  .row
    .col-xs-12.col-sm-6.col-md-4
      .register.ng-scope
        h1 Enroll
        .err
          | {{errors}}
        engo-new-brand
    .col-xs-12.col-sm-6.col-md-8
      .col-md-6.thumb
        .thumbHolder
          img(src='/images/site/thumbs/view1.jpg')
      .col-md-6.thumb
        .thumbHolder
          img(src='/images/site/thumbs/view4.jpg')
      .col-md-6.thumb
        .thumbHolder
          img(src='/images/site/thumbs/view3.jpg')
      .col-md-6.thumb
        .thumbHolder
          img(src='/images/site/thumbs/view2.jpg')



