etto-not-logged-in-nav

.header.main-img
  .container
    .row(style='text-align:left;')
      .col-xs-12.col-sm-6.col-md-6
        h3 Start creating, taking, tracking, <br>and sharing courses
        h4 Launching early 2014
.container
  .row
    h2.text-center Create a custom company structure
    .col-xs-12.col-sm-4.col-md-4

      img.img-responsive(src='/images/site/thumbs/old.jpg')
      h4 Old way
      p Tracking employee courses in a large company structure can be impossible with any other out of the-box solution.
    .col-xs-12.col-sm-4.col-md-4
      img.img-responsive(src='/images/site/thumbs/new.jpg')
      h4 Coursetto way
      p Create your company organization tree anyway you like and place managers to create micro taining envirnments

    .col-xs-12.col-sm-4.col-md-4
      img.img-responsive(src='/images/site/thumbs/small.jpg')
      h4 Graphs!
      p Track all your lower tiers. Set mangers to higher tier and deligate training.

.row.reverse-bkd
  .container

    h2.text-center Content Creation
    .col-md-6
      img.img-responsive(src='/images/landing/demo1.jpg')
      img.img-responsive(src='/images/landing/demo2.jpg')
      img.img-responsive(src='/images/landing/demo3.jpg')
    .col-xs-12.col-sm-4.col-md-6
      h4 Anyone can create courses
      p Allow anyone in your company to create and manage courses making custom content a breeze on desktop or mobile.
      p You can always restrict anyones access to disble creating, puchasing and managing of users.

      h4 Content Creation Subscription Pricing
      p Price based on numebr of employees you have
      .col-sm-12.col-md-12
        ul.nav.nav-tabs
          li(ng-click="show(subscriptionType._id)", ng-repeat="subscriptionType in subscriptionTypes", ng-class="{active: onSubscription === subscriptionType._id}")
            a(href="#")
              small {{subscriptionType.title}}
              br
              small {{subscriptionType.empRange.low}} - {{subscriptionType.empRange.high}}
        div(ng-repeat="subscriptionType in subscriptionTypes")
          table.table.table-no-border(ng-show="onSubscription === subscriptionType._id", style="background-color:#fff;")
            tr
              th Private Courses
              th Price
            tr(ng-repeat="subscription in subscriptionType.subscriptions", ng-animate="'animate'")
              td {{subscription.courseRange.low}} - {{subscription.courseRange.high}}
              td ${{subscription.price}}/mo
.row
  .container
    h2.text-center Course Marketplace
    .col-md-6
      h4 No subscription neccessary
      p No time to build a course and just need something standard such as a sexual harrassement course? Then head over to the course marketplace.
      img.img-responsive(src='/images/landing/market.jpg')

    .col-md-6 
      .col-md-6 
        h4  Course Distribution
        p  Your company structure is on the right. Watch your price flucutate as you turn off departments that dont need to take the course.  The price is just an estimate of credits needed to be purchesed. Credits are only used when a user actually takes a course. Users get an unlimted amount of times to take a course. Once purchesed the course will appear for any "on" departments.
      .col-md-6
        img.img-responsive(src='/images/landing/tiers.jpg')
