etto-not-logged-in-nav(etto-register-modal)


.etto-landing
  .header.main-img
    .container
      .row
        .col-sm-12.main-image-message
          h2.text-uppercase A knowledge-sharing platform
          p.hidden-xs Empower anyone in a company to create, track, and share courses on any device.
          button.btn.btn-default.etto-register-btn.col-sm-2.col-sm-offset-5.col-xs-10.col-xs-offset-1(ng-click='register()') Start now
          button.btn.btn-default.etto-register-btn.col-sm-2.col-sm-offset-5.col-xs-10.col-xs-offset-1.hidden-md.hidden-lg(ng-click='login()') Login

      .etto-landing__socialmedia.hidden-xs
        a(href="https://twitter.com/Coursetto")
          i.fa.fa-twitter.fa-2x
        a(href="https://www.youtube.com/user/coursetto")
          i.fa.fa-youtube-play.fa-2x
        a(href="https://www.linkedin.com/company/5153924?trk=prof-0-ovw-curr_pos")
          i.fa.fa-linkedin.fa-2x
        a(href="https://www.facebook.com/coursetto")
          i.fa.fa-facebook.fa-2x
        a(href="mailto:admin@coursetto.com")
          i.fa.fa-envelope.fa-2x


  .section
    .container.etto-course-creation-intro
      .row
        .col-xs-12.col-sm-12.col-md-6
          h3 Anyone Can Create Courses
          p By allowing HR, legal counsel, and employees to create their own courses, Coursetto provides companies with a holistic catalogue of organizational policies and skills.
          hr
          .row
            .col-xs-4
              img.img-responsive.img-rounded(src='/images/landing/person1.jpg')
            .col-xs-4
              img.img-responsive.img-rounded(src='/images/landing/person2.jpg')
            .col-xs-4
              img.img-responsive.img-rounded(src='/images/landing/person3.jpg')
          hr

          h3 Integrate with the Web
          .row
            .col-xs-4
              img.img-responsive(src="/images/logos/youtube.jpg")
            .col-xs-4
              img.img-responsive(src="/images/logos/vimeo.jpg")
            .col-xs-4
              img.img-responsive(src="/images/logos/soundcloud.png")
          br


          .row
            .col-xs-10.col-xs-offset-1
              .row
                .col-xs-6(style="margin-top:23px;")
                  img.img-responsive(src="/images/logos/bamboo-green.png")
                .col-xs-6
                  img.img-responsive(src="/images/logos/wistia.png")
          .row
            .col-xs-6
              img.img-responsive(src="/images/logos/code-pen-logo.png")
            .col-xs-3
              img.img-responsive(src="/images/logos/gmaps.png")
            .col-xs-3
              img.img-responsive(src="/images/logos/salesforce.png")


          ul
            li Link video from YouTube, Vimeo, or Wistia
            li Link voice over, podcasts or any sound with SoundCloud
            li Add images or animated gifs
            li Create a quiz anywhere
            li Link your CodePens


        .col-sm-12.col-md-6.course-compser
          h3 Real-time course composer tool
          p No design skills needed.

          img.img-responsive(src='/images/landing/demo1.jpg')
          img.img-responsive(src='/images/landing/demo2.jpg')
          img.img-responsive(src='/images/landing/demo3.jpg')
          .clearfix


  .reverse-bkd.section
    .container.etto-promos
      .row
        a.col-sm-6.col-md-4(href="#", ng-click='register()')
          img.img-responsive.img-rounded(src="/images/landing/promo1.jpg")
          br
        a.col-md-4.hidden-sm.hidden-xs(href="#", ng-click='register()')
          img.img-responsive.img-rounded(src="/images/landing/promo.jpg")
          br
        .col-sm-6.col-md-4
          iframe.img-responsive.etto-landing__youtube-demo.img-rounded(style="min-height:200px;", width="1270", height="728",src="//www.youtube.com/embed/NmABhkLv2QE?showinfo=0&controls=2&thumbnail=high&html5=1", frameborder="0", allowfullscreen)
          br
          a.w100.btn.btn-success(href="#", ng-click='register()') Register
  .section
    .container
      .row
        h3.text-center Mobile First Design
        .col-xs-12
          img.img-responsive.img-rounded(src='/images/landing/tabs.jpg')
  .reverse-bkd.section
    .container
      .row
        h3.text-center Create a Custom Company Structure
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive.img-rounded.drop-shadow(src='/images/landing/old.jpg')
          h4 The Old Way
          p Tracking employee course progress in a large company structure can be difficult with other out-of-the-box solutions.
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive.img-rounded.drop-shadow(src='/images/landing/new.jpg')
          h4 The Coursetto Way
          p Create your company's organization tree any way you need. Place managers in charge of their own tier to create micro training environments.
        .col-xs-12.col-sm-4.col-md-4
          img.img-responsive.img-rounded.drop-shadow(src='/images/landing/small.jpg')
          h4 Emplopyee Progress Charts
          p Assign managers and employees to their own tiers and delegate training. Then track progress across all tiers.

  .section
    .container
      .row
        h3.text-center Course Marketplace
        p.text-center
        .col-md-6
          img.img-responsive.img-rounded(src='/images/landing/expert.jpg')
          h4 Experts: Get Paid to Teach What You Know
          p Do you know a lot about a topic that could help a business grow? Are you an expert at sales, leadership, marketing, graphic design, or another topic? Start creating courses with Coursetto and you can earn money while teaching others what you know!
          p Just set your own price and launch it to the marketplace.
        .col-sm-12.col-md-6
          img.img-responsive.img-rounded(src='/images/landing/connections.jpg')
          h4 Companies: Purchase Pre-existing Courses
          ul
            li Purchase standard compliance courses
            li Distribute a standard course to the correct positions
            li Share your training with your industry and stop reinventing the wheel. It helped with the open source community.


  .reverse-bkd.section
    .container
      .row
        h3.text-center Set Your Company Branding
        .col-xs-12
          img.img-responsive.img-rounded.drop-shadow(src='/images/landing/white-label.jpg')
  .section
    .container.etto-subscriptions
      .row
        .col-sm-4(ng-repeat="subscriptionType in subscriptionTypes")      
          .etto-subscription.etto-bgcolor-light
            h4 {{subscriptionType.empRange.low}} - {{subscriptionType.empRange.high}} Employees
            h1.etto-color-primary ${{subscriptionType.price | number:0}}/mo
            

  .section
    .container

      .row
        .col-xs-10.col-xs-offset-1
          .col-xs-6
            a.row(href= "http://www.bizjournals.com/portland/print-edition/2014/06/20/training-made-easy.html", target="_blank")
              .col-md-4
                img.img-circle.img-responsive(src="/images/landing/press.jpg")
              .col-md-8
                h4 Training made easy
                p Portland Business Journal

          .col-xs-6
            a.row(href= "http://www.bizjournals.com/portland/blog/2014/10/are-education-software-companies-portland-s-next.html", target="_blank")
              .col-md-4
                img.img-circle.img-responsive(src="/images/landing/ed-tech-avatar.jpg")
              .col-md-8
                h4 Are education software companies Portland’s next tech cluster?
                p Portland Business Journal


etto-footer


