<not-logged-in-nav></not-logged-in-nav>

<div class="large-main large-12 center">
  <div class="main-img"></div>
</div>

<div style="margin-top:20px;" class="row">
  <div class="large-4 columns">
    <div class="register ng-scope">
      <h3>Enroll</h3>
       <div class="err">
          {{errors}}
        </div>

      <form ng-submit="update(user)" class="ng-scope ng-pristine ng-invalid ng-invalid-required">
        <input type="text" ng-model="user.levelTitle" required="" placeholder= "Company or Username" class="ng-pristine ng-invalid ng-invalid-required" />
        <input type="text" ng-model="user.name" required="" placeholder="First and Last Name" class="ng-pristine ng-invalid ng-invalid-required" />
        <div class="err ng-binding"></div>
        <input type="email" ng-model="user.email" required="" placeholder="Email" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email" />
        <input type="password" ng-model="user.password" required="" placeholder="Password" class="ng-pristine ng-invalid ng-invalid-required" />
        <input type="submit" value= "Enroll" class="button small" />
      </form>
    </div>
  </div>

  <div class="large-8 columns">
    <div class="large-6 columns thumb">
      <div class="thumbHolder"></div>
    </div>

    <div class="large-6 columns thumb">
      <div class="thumbHolder"></div>
    </div>

    <div class="large-6 columns thumb">
      <div class="thumbHolder"></div>
    </div>

    <div class="large-6 columns thumb">
      <div class="thumbHolder"></div>
    </div>
  </div>
</div>
<footer>
  <p>By Nate and Randall</p>
</footer>


