engo-not-logged-in-nav

.col-md-main
  .main-img
.container
  .row
    .col-md-4
      .register.ng-scope
        h1 Enroll
        .err
          | {{errors}}
        engo-new-brand
    .col-md-8
      .col-md-6.thumb
        .thumbHolder
      .col-md-6.thumb
        .thumbHolder
      .col-md-6.thumb
        .thumbHolder
      .col-md-6.thumb
        .thumbHolder

footer
  p By Nate and Randall

