
.container
  .col-md-6.col-md-offset-3.etto-loginpage
    
    .row(ng-if="company.logoIsCompanyName === false")
      .col-sm-3
        img.img-responsive(ng-src="{{company.logo}}")
        br
      .col-sm-9
        h2.etto-color-primary {{company.title}} 
        p Courses | Wiki | Guidebooks | Assets
    .row(ng-if="company.logoIsCompanyName === true")
      .col-md-6.col-md-offset-3
        img.img-responsive(ng-src="{{company.logo}}")
        br
        p.etto-color-secondary.text-center Courses | Wiki | Guidebooks | Assets

    
    form(ng-submit="login()")
      div(ng-show="err")
        .alert.alert-danger {{err.message}}
      .form-group
        input.form-control( autocapitalize="off", type="text", ng-model="user.username", placeholder="Email or username...", autocomplete="on", required )
      .form-group
        input.form-control( type="password", ng-model="user.password", placeholder="Enter your password...", required )
      
      input.btn.btn-success.btn-sm.etto-bgcolor-primary(type="submit", value="Login")
    
      etto-send-forgot-password.pull-right
