engo-logged-in-nav

.container-full
  .row
    .col-sm-3.engo-toolbox
    .col-sm-9.engo-module-container
      engo-module( edit='edit',
                   module='module',
                   ng-swipe-left='nextBlock()',
                   ng-swipe-right='prevBlock()' )

