etto-logged-in-nav

.container-full
  .row
    .col-xs-12.etto-module-container
      etto-module( module='module',
                   ng-swipe-left='nextBlock()',
                   ng-swipe-right='prevBlock()' )

