etto-logged-in-nav

.container-full
  .row
    .col-sm-3
      h4 {{ module.name }}
      .etto-toolbox
    .col-sm-9.etto-module-container
      etto-module( edit='edit',
                   module='module',
                   ng-swipe-left='nextBlock()',
                   ng-swipe-right='prevBlock()' )

