
.container
  .row

    .col-md-12
      .modal-header
        button.close( type="button" )
        h2.modal-title Register {{company.title}}

      .modal-body
        .col-sm-8.col-md-8
          p {{inviteUser._id}}
          .alert.alert-danger(ng-show="err")
            p {{err}}
          form(ng-submit="confirmUser()", novalidate, class="css-form")
            .form-group
              input.form-control( type="text", ng-model="newUser.name", placeholder="name", autocomplete="on", required )
            .form-group
              input.form-control( type="email", ng-model="newUser.emails[0]", placeholder="email", autocomplete="on", disabled)
            .form-group
              input.form-control( autocapitalize="off", type="text", ng-model="newUser.username", placeholder="username", autocomplete="on", required )
            .form-group
              input.form-control( type="password", ng-model="newUser.password", placeholder="password", autocomplete="on", required )
            .form-group
              input.btn.btn-primary( type="submit", value="Create" )
        .col-sm-4.col-md-4
          img.img-responsive(src="{{company.logo || '/images/site/logo-large.png'}}")
        .clearfix


  .clearfix
