
.container
  .row
    .col-md-7.col-md-offset-3.etto-loginpage
      h2.modal-title.etto-color-primary {{company.title}}
      p Guidebooks
  hr
  .row
    .col-md-7.col-md-offset-3
      .row
        .col-sm-3
          img.img-responsive(src="{{company.logo || '/images/site/logo-large.png'}}")
        .col-sm-9
          p {{inviteUser._id}}
          .alert.alert-danger(ng-show="err")
            p {{err}}
          form(ng-submit="confirmUser()", novalidate, class="css-form")
            .form-group
              input.form-control( type="text", ng-model="newUser.name", placeholder="name", autocomplete="on", required )
            .form-group
              input.form-control( type="email", ng-model="newUser.emails[0]", placeholder="email", autocomplete="on", disabled)
            .form-group
              input.form-control( autocapitalize="off", type="text", ng-model="newUser.username", placeholder="username", autocomplete="on", required )
            .form-group
              input.form-control( type="password", ng-model="newUser.password", placeholder="password", autocomplete="on", required )
            .form-group
              input.btn.btn-default( type="submit", value="Create" )




