
engo-logged-in-nav
.header.main-img
  .row
    .large-5.columns
      h2 {{currLevel.levelTitle}}
      p Reports
    .large-7.columns
      .large-4.columns.no-pad
        .little-pad
          .header-btn
            object(type='image/svg+xml', data='/images/svg/create_course.svg')
            .clear
            p1  Create Course
      .large-4.columns.no-pad
        .little-pad
          .header-btn
            object(type='image/svg+xml', data='/images/svg/get_course.svg')
            .clear
            p1  Get Courses
      .large-4.columns.no-pad
        .little-pad
          .header-btn
            object(type='image/svg+xml', data='/images/svg/add_people.svg')
            .clear
            p1  Add People
.main
  .row.openHolder.radial-box
    .large-9.columns
      h4 Departments
      img(ng-show='!levels', src='/images/site/loader.gif')
      div(ng-repeat='level in levels')
        .large-6.columns.no-pad
          .little-pad
            .course-holder
              a(href='/#/levels/{{level.levelID}}/{{currLevel.auth - 1}}')
                .row
                  .large-7.columns
                    p {{level.levelTitle}}: {{level.levelID}}
                  .large-5.columns
                    p.dark-grey {{level.totUsers}}
                .row(style='padding-left: 10px;')
                  div(ng-repeat='course in level.courses')
                    .large-2.columns.no-pad
                      .little-pad
                        .backBar
                          .fillBar(ng-show="course.totTaken && currLevel.auth >= 3", style ='height:{{100 - (course.totTaken/level.totUsers * 100)}}%;', scale-bar='isHidden')
                          .fillBar(ng-show="!course.totTaken && currLevel.auth >= 3", style ='height:100%;', scale-bar='isHidden')
                         .fillBar(ng-show="!course.totTaken && currLevel.auth <= 2", style ='height:100%;', scale-bar='isHidden')
                        p.overNum {{course.courseID}}
    .large-3.columns.aside
      h4 Create Departments
      input(type='text', ng-model='newLevel.levelTitle', placeholder='New Department Title')
      .button.tiny(ng-show='currLevel.auth != 2', ng-click='update(newLevel)')  Add Department
      .button.tiny(ng-show='currLevel.auth == 2', ng-click='sendInvite(newLevel)')  Add Employee




