<logged-in-nav></logged-in-nav>
<div class= 'header'>
  <div class= 'row'>
    <div class= 'large-5 columns'>
      <h2>{{currLevel.levelTitle}}</h2>
      <P>Reports</P>
    </div>
    <div class= 'large-7 columns'>
      <div class= 'large-4 columns no-pad'>
        <div class= 'little-pad'>
          <div class='header-btn'>
            <object type="image/svg+xml" data="/images/svg/create_course.svg"/>
            <div class='clear'/>
            <p1> Create Course</p1>
          </div>
        </div>
      </div>
      <div class= 'large-4 columns no-pad'>
        <div class= 'little-pad'>
          <div class='header-btn'>
            <object type="image/svg+xml" data="/images/svg/get_course.svg"/>
            <div class='clear'/>
            <p1> Get Courses</p1>
          </div>
        </div>
      </div>
      <div class= 'large-4 columns no-pad'>
        <div class= 'little-pad'>
          <div class='header-btn'>
            <object type="image/svg+xml" data="/images/svg/add_people.svg"/>
            <div class='clear'/>
            <p1> Add People</p1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class= 'main'>

  <div class= 'row openHolder radial-box'>
    <div class='large-9 columns'>
      <h4>Departments</h4>
      <img ng-show='!levels' src='/images/site/loader.gif'></img>
      <div ng-repeat='level in levels'>
        <div class='large-6 columns no-pad'>
          <div class='little-pad'>
            <div class='course-holder'>
              <a href='/#/levels/{{level.levelID}}/{{currLevel.auth - 1}}'>
                <div class='row'>
                  <div class='large-7 columns'>
                    <p>{{level.levelTitle}}: {{level.levelID}}</p>
                  </div>
                   <div class='large-5 columns'>
                    <p class='dark-grey'>{{level.totUsers}}</p>
                  </div>
                </div>
                <div class='row' style='padding-left:10px;'>
                  <div ng-repeat='course in level.courses'>
                    <div class='large-2 columns no-pad'>
                      <div class='little-pad'>
                        <div class='backBar'>
                          <div class='fillBar' ng-show="course.totTaken && currLevel.auth >= 3" style ='height:{{100 - (course.totTaken/level.totUsers * 100)}}%;' scale-bar='isHidden'></div>
                          <div class='fillBar' ng-show="!course.totTaken && currLevel.auth >= 3" style ='height:100%;' scale-bar='isHidden'></div>
                          <div class='fillBar' ng-show="!course.totTaken && currLevel.auth <= 2" style ='height:100%;' scale-bar='isHidden'></div>
                        </div>
                        <p class = 'overNum'>{{course.courseID}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='large-3 columns aside'>
      <h4>Create Departments</h4>
      <input type="text" ng-model="newLevel.levelTitle" placeholder="New Department Title">
      <div ng-show="currLevel.auth != 2" class='button tiny' ng-click="update(newLevel)"> Add Department</div>
      <div ng-show="currLevel.auth == 2" class='button tiny' ng-click="sendInvite(newLevel)"> Add Employee</div>
     </div> 
  </div>
</div>



