etto-logged-in-nav
.header.main-img
  .container
    .row
      .col-md-8
        h2.center-txt {{currentTier.title}}
        p.center-txt Reports
      .col-md-4
        h4 Create Departments
        .warn
          p {{err}}
        .col-md-9
          input.form-control(type='text', ng-model='newTier.title', placeholder='New Department Title')
        .col-md-3
          .btn.btn-primary.btn-sm(ng-click='add(newTier)')  Add Department
.container
  .row
    .col-md-12
      h3 Departments
      div(ng-show="!tiers[0]") 
        p No Levels have been added yet, Add some... {{tiers[0]}}

      div(ng-repeat= 'tier in tiers')
        .col-xs-12.col-sm-6.col-md-4.no-pad
          .course-holder(sink-in)
            .pad20              
              .row
                .col-sm-9.col-md-9
                  h4 {{tier.title}}
                  .btn.btn-primary.btn-sm(ng-click='delete(tier._id)')  Delete
                  a.btn.btn-primary.btn-sm(href='/levels/{{tier._id}}') View
                .col-sm-3.col-md-3
                  .statBox
                    p2 {{tier.totUsers}}
                    br
                    p.dark-grey Users