etto-logged-in-nav

.container
  .row
    h2.cap-first {{currentTier.title}}
    P {{currentTier._id}}

    hr
    div(ng-show="tiers[0]")
      .col-md-8
        h3 Departments
        form(ng-submit="add(newTier)")
          .input-group
            input.form-control(type="text", ng-model='newTier.title', placeholder='New Department')
            span.input-group-btn
              input.btn.btn-default(type= "submit") Create Department
        hr
        div(ng-show="!tiers[0]")
          p No Levels have been added yet, Add some... {{tiers[0]}}

        div(ng-show="tiers[0]")
          div(ng-repeat= 'tier in tiers')
            .col-xs-12.col-sm-6.col-md-6.no-pad
              button.close.pull-right(type="button", aria-hidden="true", ng-click='remove(tier._id)') &times;
              a.btn.btn-default.btn-xs(href="/tier/edit/{{ tier._id }}")
                i.fa.fa-edit
              .course-holder(sink-in, ng-click ="viewChildren('/levels/{{tier._id}}')")
                .pad20
                  .row
                    .col-sm-9.col-md-9
                      h4 {{tier.title}}
                    .col-sm-3.col-md-3
                      .statBox.pull-right
                        p2 {{tier.totUsers}}
                        br
                        p.dark-grey Users
                    .col-xs-12(ng-repeat= 'course in tier._courses')
                      p {{course._course.title}} comp {{course._completed.length}} not {{course._notCompleted.length}}
                      div(ng-show='never')
                        {{total = 0}}
                        {{total = course._notCompleted.length + course._completed.length}}
                        {{perc = ((total - course._notCompleted.length)/total) * 100}}
                      .progress
                        .progress-bar(role="progressbar", aria-valuenow="{{perc}}", aria-valuemin="0", aria-valuemax="100", style="width: {{perc}}%;")


      .col-md-4.aside

        h3.light-txt(style="text-transform: capitalize") {{currentTier.title}} users
        etto-invite-user-modal
        .clearfix
        hr
        div(ng-repeat= 'user in users')
          .course-holder(sink-in)
            a(href = "/settings/{{user._id}}")
              .pad20
                .row
                  .col-xs-3
                    img.img-circle.user-thumb(ng-show="user.avatarUrl", src= "{{user.avatarUrl}}")
                    i.fa.fa-user.fa-3x.center-block(ng-show="!user.avatarUrl")
                  .col-xs-9
                    h4.cap-first.pull-right  {{user.name}}
                    p {{user._id}}
          hr

    .col-md-12(ng-show="!tiers[0]")
      h3 Departments
        form(ng-submit="add(newTier)")
          .input-group
            input.form-control(type="text", ng-model='newTier.title', placeholder='New Department')
            span.input-group-btn
              input.btn.btn-default(type= "submit") Create Department
      h3.pull-left Users
      etto-invite-user-modal
      .clearfix
      hr
      div(ng-repeat= 'user in users')
        .col-sm-4.col-md-4
          .course-holder(sink-in)
            a(href = "/settings/{{user._id}}")
              .pad20
                .row
                  .col-xs-3
                    img.img-circle.user-thumb(ng-show="user.avatarUrl", src= "{{user.avatarUrl}}")
                    i.fa.fa-user.fa-3x.center-block(ng-show="!user.avatarUrl")
                  .col-xs-9
                    h4.cap-first  {{user.name}}
                    p {{user._id}}
