etto-logged-in-nav

.container
  .row
    .col-md-8

      .col-md-5
        h2 {{currentTier.title}}
      .col-md-7.report-btns
        .col-md-4
          .report-btn(etto-add-tier, ng-click="addTier()")
            i.fa.fa-sitemap.fa-3x
            br
            small Add Tiers
        .col-md-4
          .report-btn(etto-invite-user-modal, ng-click="inviteUser()")
            i.fa.fa-user.fa-3x
            br
            small Add Users
        .col-md-4
          .report-btn
            a(href="/tier/edit/{{ currentTier._id }}") 
              i.fa.fa-edit.fa-3x
              br
              small Edit Tier

      .statBox.col-md-12.col-sm-12
        .col-md-3.stat
          p2 {{tierReport.totalUsers}}
          br
          small.dark-grey Total Users
        .col-md-3.stat
          p2 {{tierReport.courses.length}}
          br
          small.dark-grey Total Courses
        .col-md-3.stat
          p2 {{tierReport.totalTaken}}
          br
          small.dark-grey Completed
        .col-md-3999
          p2 {{tierReport.totalProgress}}%
          br
          small.dark-grey Overall
        .clearfix

        
      .col-md-12
        div(ng-show="!children[0]")
          p No tiers have been added yet
        div(ng-show="children[0]")
          div(ng-repeat= 'tier in children')
            .col-xs-12.col-sm-6.col-md-6
              .course-holder(sink-in, ng-click ="viewChildren('/levels/{{tier._id}}')")
                .pad20
                  .row
                    .col-md-9
                      h4 {{tier.title}}
                      p {{tier.totalUsers}} users
                    .col-md-3
                      a.btn.btn-default.btn-xs(href="/tier/edit/{{ tier._id }}")
                        i.fa.fa-edit
                    .col-md-12
                      .progress
                        .progress-bar(role="progressbar", aria-valuenow="{{(tier.totalTaken/tier.totalToTake) * 100}}", aria-valuemin="0", aria-valuemax="100", style="width: {{(tier.totalTaken/tier.totalToTake) * 100}}%;")
                        
                    .clearfix
              .clearfix

    .col-xs-12.col-sm-6.col-md-3.report-progress(style="background-color:#e8edee; padding-bottom:20px")
      h4 Course Report
      p.pull-left Overall
      p.pull-right  {{tierReport.totalTaken}}/{{tierReport.totalToTake}}
      .clearfix
      .progress
        .progress-bar(role="progressbar", aria-valuenow="{{(tierReport.totalTaken/tierReport.totalToTake) * 100}}", aria-valuemin="0", aria-valuemax="100", style="width: {{(tierReport.totalTaken/tierReport.totalToTake) * 100}}%;")
      div(ng-repeat="course in tierReport.courses")
        .col-md-12
          p.pull-left {{course.title}}
          p.pull-right  {{course.completed.length}}/{{course.completed.length + course.notCompleted.length}}
        .clearfix
        .col-md-12
          .progress
            .progress-bar(role="progressbar", aria-valuenow="{{(course.completed.length/(course.completed.length + course.notCompleted.length)) * 100}}", aria-valuemin="0", aria-valuemax="100", style="width: {{(course.completed.length/(course.completed.length + course.notCompleted.length)) * 100}}%;")
        .clearfix
      hr
      h4(ng-show="currentTier._children[0]") Managers
      h4(ng-show="!currentTier._children[0]") Users
      .clearfix
      div(ng-repeat= 'user in users')
        .course-holder(sink-in)
          a(href = "/settings/{{user._id}}")
            .pad20
              .row
                .col-xs-4
                  img.img-circle.user-thumb(ng-show="user.avatarUrl", src= "{{user.avatarUrl}}")
                  i.fa.fa-user.fa-3x.center-block(ng-show="!user.avatarUrl")
                .col-xs-8
                  div(ng-show="user.name")
                    h5.cap-first.pull-right {{user.name}}
                  div(ng-show="!user.name")
                    h5.cap-first.pull-right {{user.email[0]}}
                    small.text-warning Pending

      
