etto-logged-in-nav

.col-md-12
  etto-settings-nav(active="settings")

  form(role='form', ng-submit="updateUser()")
    .col-sm-7.col-md-7.col-lg-5.pocket
      h1 Settings
      .form-group
        label(for='exampleInputEmail1') Name
        input#exampleInputEmail1.form-control(type='text', placeholder='name', ng-model="editUser.name", ng-change="updateUser()")
      .form-group
        div(ng-repeat="email in editUser.email")
          label(for='exampleInputEmail1') Email {{$index + 1}}
          input#exampleInputEmail1.form-control(type='email', placeholder='email', ng-model="email", ng-change="updateUser()")

      .form-group
        label(for='username') Username
        input#username.form-control(type='text', placeholder='username', ng-model="editUser.username", ng-change="updateUser()")
        p Tier {{editUser._tier.title}}
        h4 Change Tier
        .input-group
          input.form-control(etto-search-tiers, type="text", ng-model="tierSearch", placeholder="Search title or Internal ID", ng-change="searchTiers()")
          .input-group-btn
            button.btn.btn-default
              i.fa.fa-search

        div(ng-repeat="tier in foundTiers")
          button.btn.btn-default.w100(ng-click="updateUserTier(tier._id, tier.title)") {{tier.title}} {{tier.internalId}}

    .col-sm-5.col-md-5.col-lg-3
      img.img-circle.user-thumb(src= "{{editUser.avatarUrl}}")
      i.fa.fa-user.fa-3x.center-block(ng-show="!editUser.avatarUrl")

      .checkbox
        label
          input(type='checkbox', ng-model="editUser.auth.canPurchase", ng-change="updateUser()")
          | Can Purchase
      .checkbox
        label
          input(type='checkbox', ng-model="editUser.auth.canGetCourses", ng-change="updateUser()")
          | Can Get Courses
      .checkbox
        label
          input(type='checkbox', ng-model="editUser.auth.canCreateCourses", ng-change="updateUser()")
          | Can Create Courses
      .checkbox
        label
          input(type='checkbox', ng-model="editUser.auth.canInvite", ng-change="updateUser()")
          | Can Invite Users to {{editUser._tier.title}}
      .checkbox
        label
          input(type='checkbox', ng-model="editUser.enabled", ng-change="updateUser()")
          | Is Enabled
      .col-sm-12.col-md-12
        .alert.alert-success(ng-show="saved")
          p saved

    .col-lg-4.side-panel
      .modal-header
        h4.modal-title Course Records
      p(ng-show="!userRecords[0]") -- {{editUser.name}} has not taken any courses yet.
      div(ng-repeat="record in userRecords")
        h4 {{record._course.title}}
        small Date taken {{record.started}}
        .progress
          .progress-bar(role="progressbar", aria-valuenow="{{(record.progress.bookmark/record.progress.totalBlocks) * 100}}", aria-valuemin="0", aria-valuemax="100", style="width: {{(record.progress.bookmark/record.progress.totalBlocks) * 100}}%;")
                    
.clearfix



