etto-logged-in-nav
.container
  .col-md-12
    .col-sm-8.col-md-8
      h1 Settings


    form(role='form', ng-submit="updateUser()")
      .col-sm-7.col-md-7
        .form-group
          label(for='exampleInputEmail1') Name
          input#exampleInputEmail1.form-control(type='text', placeholder='name', value="{{editUser.name}}", ng-model="editUser.name")
          label(for='exampleInputEmail1') Email
          input#exampleInputEmail1.form-control(type='email', placeholder='email', value="{{editUser.email}}", ng-model="editUser.email")
          p User ID: {{editUser._id}}
          p Tier ID {{editUser._tier._id}}

      .col-sm-5.col-md-5.aside
        img.img-circle(src= "{{editUser.avatarUrl}}")
        i.fa.fa-user.fa-3x.center-block(ng-show="!editUser.avatarUrl")

        .checkbox
          label
            input(type='checkbox', ng-model="editUser.auth.canPurchase")
            | Can Purchase
        .checkbox
          label
            input(type='checkbox', ng-model="editUser.auth.canGetCourses")
            | Can Get Courses
        .checkbox
          label
            input(type='checkbox', ng-model="editUser.auth.canCreateCourses")
            | Can Create Courses
        .checkbox
          label
            input(type='checkbox', ng-model="editUser.auth.canInvite")
            | Can Invite Users to {{editUser._tier.title}}
        .checkbox
          label
            input(type='checkbox', ng-model="editUser.enabled")
            | Is Enabled



      .col-sm-7.col-md-7
        input.btn.btn-success(type='submit', value="Update Profile")
        .alert.alert-success(ng-show="saved")
          p saved
