etto-logged-in-nav

.container-full
  .row
    .col-sm-4.panel.panel-default.nopad
      .panel-heading

        h3.etto-color-primary Settings
        p.etto-color-secondary username: {{editUser.username}}
        .alert.alert-success(ng-show="saved")
          p saved
        .alert.alert-danger(ng-show="err")
          p {{err}}
      .list-group
        .list-group-item
          .etto-x-input-box
            p.etto-color-accent(editable-text="editUser.name", buttons="no", blur="submit", onaftersave="updateUser()") {{editUser.name || 'name'}}
        .list-group-item
          h4.etto-color-primary Emails:
          div(ng-repeat='email in editUser.emails')
            .row
              .col-md-10
                .etto-x-input-box
                  p.etto-color-accent(type='email', editable-text="editUser.emails[$index]", buttons="no", blur="submit", onaftersave="updateUser()") {{editUser.emails[$index] || 'email'}}
              .col-md-2
                button.btn.btn-warning.btn-xs(ng-show="editUser.emails.length > 1", ng-click="removeEmail($index)") X
          button.btn.btn-success.btn-xs(ng-click="addEmail()") Add Email
        .list-group-item
          h4 Change Tier
          .input-group
            input.form-control(etto-search-tiers, type="text", ng-model="tierSearch", placeholder="{{editUser._tier.title}}", ng-change="searchTiers()")
            .input-group-btn
              button.btn.btn-default
                i.fa.fa-search
        .list-group-item

          div(ng-repeat="tier in foundTiers")
            button.btn.btn-default.w100(ng-click="updateUserTier(tier._id, tier.title)") {{tier.title}} {{tier.internalId}}
      
        .list-group-item

          img.img-circle.user-thumb(src= "{{editUser.avatarUrl}}")
          i.fa.fa-user.fa-3x.center-block(ng-show="!editUser.avatarUrl")

          button.btn.btn-success(etto-asset-library-modal, ng-click='updateAvatar()')
            i.fa.fa-camera
        .list-group-item

          div(ng-if="user._id !== editUser._id")
            .checkbox(ng-if="user.auth.canEditCompany")
              label
                input( type='checkbox', ng-model="editUser.auth.canEditCompany", ng-change="updateUser()")
                | Can Edit Company Appearance

            .checkbox(ng-if="user.auth.canPurchase")
              label
                input(type='checkbox', ng-model="editUser.auth.canPurchase", ng-change="updateUser()")
                | Can Purchase
            .checkbox(ng-if="user.auth.canGetCourses")
              label
                input(type='checkbox', ng-model="editUser.auth.canGetCourses", ng-change="updateUser()")
                | Can Get Courses
            .checkbox(ng-if="user.auth.canCreateCourses")
              label
                input(type='checkbox', ng-model="editUser.auth.canCreateCourses", ng-change="updateUser()")
                | Can Create Courses
            .checkbox(ng-if="user.auth.canInvite")
              label
                input(type='checkbox', ng-model="editUser.auth.canInvite", ng-change="updateUser()")
                | Can Invite Users to {{editUser._tier.title}}
            .checkbox(ng-if="user.enabled")
              label
                input(type='checkbox', ng-model="editUser.enabled", ng-change="updateUser()")
                | Is Enabled
        

    .col-sm-8
      h3.etto-color-primary Course Records
      br
      input.form-control(type='text', ng-model='searchRecords', placeholder='Search Courses')
      br
      p(ng-show="!userRecords[0]") -- {{editUser.name}} has not taken any courses yet.
      div(ng-repeat="record in userRecords | filter:searchRecords")
        .col-sm-6.nopad
          .etto-course-report.etto-bgcolor-light
            h4.etto-color-primary {{record._course.title}}
            p.etto-color-secondary {{record.started | date:'MM/dd/yyyy @ h:mma'}}
            .progress.etto-bgcolor-light
              .progress-bar.etto-bgcolor-accent(role="progressbar", aria-valuenow="{{(record.progress.bookmark/record.progress.totalBlocks) * 100}}", aria-valuemin="0", aria-valuemax="100", style="width: {{(record.progress.bookmark/record.progress.totalBlocks) * 100}}%;")
                            



