etto-logged-in-nav
.header.main-img
  .row
    .col-md-12
      h2.centerTxt Course Market
      p.centerTxt Purchase or upload a new course
.main
  .row.openHolder.radial-box
    h3 Purchase Course
    .col-md-main.col-md-8
      .rownter
        .col-md-5.register.col-md-centered
          .err
            h3 {{course.courseTitle}}
            p {{course.price}}
            etto-enter-card(ng-show='!customer')
            etto-show-card(ng-show='customer')
            input.button.small.right(type='submit', value='Add card')

