etto-logged-in-nav

.container-full
  .row
    .left-holder.col-md-9.nopad
      .leaderboard.main-holder
        .row
          .col-sm-6.col-md-5#head-img
            img.img-responsive.pull-left.default-lg(src="/images/leaderboard/market/default-lg.jpg")
          .col-xs-12.col-sm-6.col-md-7
            h3 Start creating, taking, and sharing courses
            input.form-control(type='text', ng-model='searchCourse', placeholder='Search Courses')

      .alert.alert-danger(ng-show="err")
        p {{err}}
      .main-holder(class="animate-repeat", ng-repeat='course in courses | filter:searchCourse')
        .col-sm-6.col-md-4.col-lg-3.nopad
          .course-holder(sink-in, ng-class="course.added ? 'closed-course' : 'open-course'")
            .row
              .col-xs-12
                img.img-responsive(src='/images/courses/thumbs/course_2.jpg')
            .row
              .col-md-7
                h5 {{course.title}}
                h6 {{course.subtitle}}

              .col-md-5
                h4 ${{course.priceWithEmps}}
                small ${{course.price}}/user
              .col-md-12
                .btn-group
                  a.btn.btn-primary.btn-xs(etto-purchase, href="#", ng-click='addToLibrary(course)') Add to Tiers
                  a.btn.btn-default.btn-xs(href="/course/view/{{ course._id }}")  Demo
      .clearfix
    .col-md-3.nopad
      .side-panel
        .modal-header
          h4.modal-title {{currentTier.title}}
          p Course for {{totUsers}} users
        .col-md-12
          h5.ison BLUE Tiers will receive added course
          h5.isoff GREY Tiers will NOT receive added course
          hr
        div.tree(ng-cloak='ng-cloak')
          .live
            ol
              li(etto-tree='child in data.children at ol', ng-class='{minimized:child.minimized}')
                div(ng-class='{isoff: child.isoff, ison: !child.isoff}')
                  .toggle(ng-click='toggleMinimized(child)', ng-switch='child.minimized', on='child.minimized')
                    i.fa.fa-sort-asc.fa-2x.pull-left(ng-show= 'child._children', ng-switch-when= 'false')
                    i.fa.fa-caret-right.fa-2x.pull-left(ng-show= 'child._children', ng-switch-default='ng-switch-default')
                  .tree-btn(ng-click='toggleIsOn(child)')
                    div.pull-left(ng-show= '!child._children[0]', style='width:20px; height:30px;')
                    p.pull-left {{child.title}}

                    .pull-right(style="width:40px")

                      i.fa.fa-user.pull.pull-left(style="padding-top:5px")
                      p {{child.dynamicTotalUsers}}
                    .clearfix
                ol(ng-class='{pregnant:child.children.length}')
                .clearfix
