<logged-in-nav></logged-in-nav>
<div class= 'header main-img'>
  <div class= 'row'>
    <div class= 'large-12 columns'>
      <h2 class='centerTxt'>Course Market</h2>
      <P class='centerTxt'>Purchase or upload a new course</P>
    </div>
  </div>
</div>
<div class='main'>
  <div class='row openHolder radial-box'>
    <h3>Purchase Course</h3>
    <div class='large-main large-12'>
      <div class='rownter'>
        <div class= 'large-5 columns register large-centered'>
          <div class ='err'>
            <h3>{{course.courseTitle}}</h3>
            <p>{{course.price}}</p>
            <engo-enter-card ng-show='!customer'></engo-enter-card>
            <engo-show-card ng-show='customer'></engo-show-card>
            <input class='button small right' type='submit' value='Add card'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>