etto-logged-in-nav
etto-verify-modal(redirect-to='/etto')
.container-full.etto-bgcolor-secondary
  .row
    .col-sm-9.nopad
      .leaderboard.etto-bgcolor-light
        .row
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            .col-xs-12
              h4.etto-color-primary Add the right course to the right people
              input.form-control(type='text', ng-model='searchCourse', placeholder='Search Courses')
          .col-sm-6.col-md-6.col-lg-6#head-img.hidden-xs
            img.img-responsive.pull-right.default-lg(src="/images/leaderboard/market/default-lg.jpg")

      .alert.alert-danger(ng-show="err")
        p {{err}}
      .etto-courses
        .main-holder(class="animate-repeat", ng-repeat='course in courses | filter:searchCourse')
          .col-sm-6.col-md-4.col-lg-3.nopad
            .etto-course-holder.etto-bgcolor-light(ng-class="course.added ? 'closed-course' : 'open-course'")
              .row
                .col-xs-12
                  img.img-responsive.course-thumb(src="{{course.thumb}}")
              .row
                .col-md-12
                  h5.etto-color-primary {{course.title}}
                  h6.etto-color-secondary {{course.subtitle}}
              .etto-pricing.etto-bg-color-light
                .row
                  .col-md-6
                    h4.etto-color-primary ${{course.priceWithEmps}}
                    small ${{course.price}}/user
                  .col-md-6
                    .etto-bottom-btns           
                      a.w100.btn.btn-default.btn-sm(etto-purchase, href="#", ng-click='addToLibrary(course)') Add
                      a.w100.btn.btn-default.btn-sm(href="/course/demo/{{ course._id }}")  Demo
    .col-sm-3.nopad
      .panel.panel-default.etto-bgcolor-light
        .panel-heading.etto-bgcolor-accent
          h3.etto-color-primary {{currentTier.title}}
          p.etto-color-primary Course for {{totUsers}} users

        .panel-body.etto-bgcolor-white
          h5.ison BLUE Tiers will receive added course
          h5.isoff GREY Tiers will NOT receive added course
          hr
        div.tree(ng-cloak='ng-cloak')
          .live
            ol
              li(etto-tree='child in data.children at ol', ng-class='{minimized:child.minimized}')
                div(ng-class='{isoff: child.isoff, ison: !child.isoff}')
                  .toggle(ng-click='toggleMinimized(child)', ng-switch='child.minimized', on='child.minimized')
                    i.fa.fa-sort-asc.fa-2x.pull-left(ng-show= 'child._children', ng-switch-when= 'false')
                    i.fa.fa-caret-right.fa-2x.pull-left(ng-show= 'child._children', ng-switch-default='ng-switch-default')
                  .tree-btn(ng-click='toggleIsOn(child)')
                    div.pull-left(ng-show= '!child._children[0]', style='width:20px; height:30px;')
                    p.pull-left {{child.title}}

                    .pull-right(style="width:40px")

                      i.fa.fa-user.pull.pull-left(style="padding-top:5px")
                      p {{child.dynamicTotalUsers}}
                    .clearfix
                ol(ng-class='{pregnant:child.children.length}')
                .clearfix
etto-footer
