engo-logged-in-nav
.header.main-img
  .row
    .large-5.columns
      h2 Course Market
      p Purchase or upload a new course
    .large-7.columns
      .large-4.columns.no-pad
        .little-pad
          .header-btn
            object(type='image/svg+xml', data='/images/svg/create_course.svg')
            .clear
            p1  Create Course
      .large-4.columns.no-pad
        .little-pad
          .header-btn
            object(type='image/svg+xml', data='/images/svg/get_course.svg')
            .clear
            p1  Get Courses
      .large-4.columns.no-pad
        .little-pad
          .header-btn
            object(type='image/svg+xml', data='/images/svg/add_people.svg')
            .clear
            p1  Add People
.main
  .row.openHolder.radial-box
    .large-9.columns
      h3  Purchase courses
      div(ng-repeat='course in courses')
        .large-6.columns.no-pad
          .little-pad
            .course-holder
              .row
                .large-8.columns
                  h5 {{course.courseTitle}}
                  p {{course.subTxt}}
                .large-4.columns
                  h5 ${{course.price}}
                  hr
                  .button.tiny.w100  Demo 
                  a.button.tiny.w100(href='/#/purchase_course/{{course.courseID}}')  Purchase 
    .large-3.columns
      p Levels: {{delegatedTo}}
      h3  Deligate to:
      input.left(id='all', type='checkbox', ng-model='delegated.brandID')
      label(for='all') All Level
     
      div(ng-repeat='medLevel in medLevels')
        {{j = $index}}
        input.left(id='medLevel{{$index}}', type='checkbox', ng-model='delegated.medID', ng-change="updateSelected($index, user.brandID, medLevel.medID, null)", brandID='{{user.brandID}}', engo-delegate-to)
        label(for='medLevel{{$index}}') 
          h4 {{medLevel.medTitle}} {{medLevel.totEmps}} | {{j}} | {{medLevel.medID}}
        .clear
        div(ng-repeat='lowerLevel in medLevel.lowerLevels')
          input.left(style='margin-left:20px;', id='lowCB{{$index}}', type='checkbox', ng-model='delegated.lowID', ng-click="updateSelected(delegated, 1)")
          label(for='lowCB{{$index}}') {{lowerLevel.lowTitle}}:{{lowerLevel.totEmps}} ---- {{$index}}
          .clear
     


