engo-logged-in-nav
.header.main-img(style='height:200px')
  .container
    .row
      .col-md-5
        h2 Course Market
        p Purchase or upload a new course
      .col-md-7
        .col-md-4.col-xs-4
          .header-btn
            object(type='image/svg+xml', data='/images/svg/create_course.svg')
            .clear
            p1  Create Course
        .col-md-4.col-xs-4
          .header-btn
            object(type='image/svg+xml', data='/images/svg/get_course.svg')
            .clear
            p1  Get Courses
        .col-md-4.col-xs-4
          .header-btn
            object(type='image/svg+xml', data='/images/svg/add_people.svg')
            .clear
            p1  Add People

.container
  .row
    .col-md-8
      h3 Courses for my Users
      .row
        input.form-control(type='text', ng-model='searchCourse', placeholder='Search Course')
        div(ng-repeat='course in courses | filter:searchCourse')
          .col-md-6.no-pad
            .course-holder
              img(src='/images/courses/thumbs/default.jpg', style='width:100%')
              .col-md-8.no-pad
                h5 {{course.courseTitle}}
                p {{course.subTxt}}
              .col-md-4.no-pad
                h5 ${{course.priceWithEmps}}
                a.btn.btn-default.btn-sm.w100(href='/#/purchase_course/{{course.courseID}}')  Purchase
                a.btn.btn-default.btn-sm.w100(href='/#/purchase_course/{{course.courseID}}')  Demo
              .clear

    .col-md-4
      h3  Course is for:

      div.off-bar(head-tree, ng-click='updateAllLevel(allLevels)', ng-model='allLevels', ng-show='allLevels.ison')
      div.on-bar(head-tree, ng-click='updateAllLevel(allLevels)', ng-model='allLevels', ng-show='!allLevels.ison')

      div.mid-tree(ng-repeat='medLevel in medLevels')
        div.off-bar(med-tree, ng-click='updateMedLevel(medLevel)', ng-model='medLevel', ng-show='medLevel.ison')
        div.on-bar(med-tree, ng-click='updateMedLevel(medLevel)', ng-model='medLevel', ng-show='!medLevel.ison')

        div.low-tree(low ng-repeat='lowerLevel in medLevel.lowerLevels')
          div.off-bar(low-tree, ng-click='updateLowLevel(lowerLevel)', ng-model='lowerLevel', ng-show='lowerLevel.ison')
          div.on-bar(low-tree, ng-click='updateLowLevel(lowerLevel)', ng-model='lowerLevel', ng-show='!lowerLevel.ison')
     


