etto-logged-in-nav
.header.main-img(style="background-image: url('/images/site/market.jpg')")
  .container
    .row
      h2.light-txt Course Market
      p.light-txt Purchase or upload a new course

.container
  .row
    .col-xs-12.col-sm-9.col-md-9
      .row
        .col-xs-12.col-sm-6.col-md-6
          h3 Courses for my Users
          input.form-control(type='text', ng-model='searchCourse', placeholder='Search Course')
      .clearfix
      .row
        div(ng-repeat='course in courses | filter:searchCourse')
          .col-md-4.col-sm-4
            .course-holder(sink-in)
              .row
                .col-xs-12
                  img.img-responsive(src='/images/courses/thumbs/course_2.jpg')
              .row
                .col-md-8
                  h4 {{course.title}}
                  p {{course.subtitle}}
                  p(style="font-size:10px;") {{course._id}}
                .col-md-4
                  h5 ${{course.priceWithEmps}}
                  etto-purchase-course(redirect-to='/etto', course='{{$index}}')
                  a.btn.btn-default.btn-xs.img-responsive(href='/purchase_course/{{course._id}}')  Demo

    .col-xs-12.col-sm-3.col-md-3.aside

      h3 {{currentTier.title}}
      p Total Users {{totUsers}}
      hr
      div.tree(ng-cloak='ng-cloak')
        .live
          ol
            li(ya-tree='child in data.children at ol', ng-class='{minimized:child.minimized}')
              div(ng-class='{isoff: child.isoff, ison: !child.isoff}')
                .toggle(ng-click='toggleMinimized(child)', ng-switch='child.minimized', on='child.minimized')
                  i.fa.fa-sort-asc.pull-left(ng-show= 'child._children', ng-switch-when= 'false')
                  //.btn.btn-default.btn-xs.toggle-arrow(ng-show= 'child._children', ng-switch-when= 'false') ▼
                  i.fa.fa-caret-right.pull-left(ng-show= 'child._children', ng-switch-default='ng-switch-default')
                .tree-btn(ng-click='toggleIsOn(child)')
                  div.pull-left(ng-show= '!child._children[0]', style='width:20px; height:30px;')
                  p.pull-left {{child.title}}
                  p.pull-right {{child.totUsers}}
                  .clearfix
              ol(ng-class='{pregnant:child.children.length}')
              .clearfix




