etto-logged-in-nav
.container-full.etto-subscriptions

  h1 Subscription
  h5 Based on the number of employees in your system.
  .row
    .col-sm-4(ng-repeat="subscriptionType in subscriptionTypes")
      .etto-subscription
        h4 {{subscriptionType.empRange.low}} - {{subscriptionType.empRange.high}} Employees
        h1.etto-color-primary ${{subscriptionType.price | number:0}}/mo
        
        div(ng-show="subscriptionType._id === currentSubscription")
          hr
          small Current Subscription
          br
          i.fa.fa-check-square-o.fa-2x

        button.btn.btn-sm.btn-default(etto-purchase, type="button", ng-click='purchase(null, {_id:subscriptionType._id, price:subscriptionType.price})', ng-show="subscriptionType._id !== currentSubscription") Purchase
  hr
  .col-sm-12
    button.btn.btn-danger.cancel-btn(etto-recipient-modal, ng-click="cancelSubscription()") Cancel Subscription



