etto-not-logged-in-nav(etto-register-modal)
.container
  h2 Coursetto, Inc. user agreement 
  h4 Last revised Oct. 13, 2014. effective Oct. 13, 2014
  hr
  p Coursetto, Inc. powers thousands of distinct online communities. these terms and your conduct make that possible.

  p 1 We want you to know your rights and our rights and so we have prepared this agreement ("user agreement" or "agreement") between Coursetto, Inc. ("we", "our," "us") and you. This agreement sets the terms of your use of the Coursetto, Inc. website and services ("Coursetto, Inc.") that include subCoursetto, Inc.s, messaging, Coursetto, Inc. mobile, and Coursetto, Inc..tv. This agreement is meant to encourage a fair and tolerant place for ideas, people, links, and discussion.

  p 2 this user agreement is effective as of Oct. 13, 2014

  p 3 This agreement is a legal contract between you and us. You acknowledge that you have read, understood, and agree to be bound by the terms of this agreement. If you do not agree to this agreement, you should not use Coursetto, Inc.. Please take a look at Coursetto, Inc.’s privacy policy too—it explains how we collect and use your information.

  h4 Your access to Coursetto, Inc.
  p 4 Without advance notice and at any time, we may, for violations of this agreement or for any other reason we choose: (1) suspend your access to Coursetto, Inc., (2) suspend or terminate Your Account or Coursetto, Inc. gold membership, and/or (3) remove any of your User Content from Coursetto, Inc..

  p 5 We reserve the right to monitor Coursetto, Inc., and your use of the Service means you agree to such monitoring. At the same time, we do not guarantee we will monitor at all.

  p Coursetto, Inc. is for your personal, lawful use
  p 6 Coursetto, Inc. is designed and supported for personal use only. You may not use Coursetto, Inc. to break the law, violate an individual's privacy, or infringe any person or entity’s intellectual property or any other proprietary rights.

  p Coursetto, Inc. is for learning 
  p 7 Coursetto, Inc. is intended to be a place for your learning. We are not responsible for any decisions you make based on something you read on Coursetto, Inc.

  p 8 You may not use Coursetto, Inc. to conduct transactions for any illegal goods or services.

  h4 Your Coursetto, Inc. account

  p 9 To participate on Coursetto, Inc., you must create an account that includes a username and password ("Your Account") and, if you want to be able to reset your password or have us contact you, an email address as well. Of course, you can also browse Coursetto, Inc. without logging in.

  p 10 You are solely responsible for the information associated with Your Account and anything that happens related to Your Account.

  p 11 You may not license, transfer, sell, or assign Your Account without our written approval.


  p 12 You may also submit your debit or credit card information ("Payment Information") via the website as part of Coursetto, Inc. plans or to purchase other products or services via Coursetto, Inc.. Coursetto, Inc. uses third party service providers to process your payment information. If you submit your Payment Information, you agree to pay all costs that you incur, and you give us permission to charge you when payment is due for an amount that includes any applicable taxes, fees, and charges to Coursetto, Inc. or one of our service providers.


  h4 Coursetto, Inc. content
  p 13 Coursetto, Inc. contains graphics, text, photographs, images, video, audio, software, code, website compilation, website "look and feel," and advertisements supplied by us or our licensors, which we call "Coursetto, Inc. content." Coursetto, Inc. content is protected by intellectual property laws including copyright and other proprietary rights of the United States and foreign countries.

  p 14 We grant you the right to access the Coursetto, Inc. content in the manner described in this agreement. You may not otherwise make unauthorized commercial use of, reproduce, prepare derivative works, distribute copies, perform, or publicly display Coursetto, Inc. content, except as permitted by the doctrine of fair use or as authorized in writing by us. If you are interested in licensing Coursetto, Inc. content, contact us at licensing@Coursetto, Inc..com.

  h4 Your Content
  p 15 You retain the rights to your copyrighted content or information that you submit to Coursetto, Inc. ("user content") except as described below.

  p 16 By submitting user content to Coursetto, Inc. Marketplace, you grant us a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to reproduce, prepare derivative works, distribute copies, perform, or publicly display your user content in any medium and for any purpose, including commercial purposes, and to authorize others to do so.

  p 17 If your course set to Private or Testing you and you company retail all copywrite, IP and ownership of the content and Coursetto will not have the right to license to reproduce, prepare derivative works, distribute copies, perform, or publicly display your user content in any medium and for any purpose, including commercial purposes, and to authorize others to do so.


  p 18 You agree that you have the right to submit anything you post, and that your user content does not violate the copyright, trademark, trade secret or any other personal or proprietary right of any other party.

  p 19 Please take a look at Coursetto, Inc.’s privacy policy for an explanation of how we may use or share information submitted by you or collected from you.

  h4 We don’t endorse user content
  p 20 We take no responsibility for, we do not expressly or implicitly endorse, and we do not assume any liability for any user content submitted by you to Coursetto, Inc..

  h4 Links and Coursetto, Inc.
  p 21 Coursetto, Inc. is a place with many third-party hyperlinks posted by users like you. We are not responsible for the content or actions of any third party websites or services associated with posted links. You agree to take sole legal responsibility for any links you post, and neither this agreement nor our privacy policy applies to any content on other websites related to those links. You should consult the terms and privacy policies of those other websites to understand your rights.

  h2 Coursetto, Inc. rules

  h4 Your participation on Coursetto, Inc.
  p 22 These guidelines are intended to keep people safe, protect kids, keep Coursetto, Inc. running, and to encourage personal responsibility for what you do on Coursetto, Inc.. You must:
  ul
    li Keep Everyone Safe: You agree to not intentionally jeopardize the health and safety of others or yourself.
    li Keep Personal Information Off Coursetto, Inc.: You agree to not post anyone's sensitive personal information that relates to that person's real world or online identity.
    li Do Not Incite Harm: You agree not to encourage harm against people.
    li Protect Kids: You agree not to post any child pornography or sexually suggestive content involving minors.
    li Take Personal Responsibility: As you use Coursetto, Inc., please remember that your speech may have consequences and could lead to criminal and civil liability.
    li 24 You also agree to follow the rules of Coursetto, Inc..

  p 23 You may not post any graphics, text, photographs, images, video, audio or other material that we deem to be junk or spam. Cluttering Coursetto, Inc. with this sort of content reduces the quality of the Coursetto, Inc. experience for others. For guidance, see our rules about spam and self-promotion.

  h4 Respect users that edit their content
  p 24 You may not purposefully negate any user's actions to delete or edit their content on Coursetto, Inc.. This is intended to respect the privacy of Coursetto, Inc. users who delete or edit their content, and is not intended to abridge the fair use or the expressive rights shared by us all.

  h4 Don’t mess with Coursetto, Inc.
  p 25 You agree not to interrupt the serving of Coursetto, Inc., introduce malicious code onto Coursetto, Inc., make it difficult for anyone else to use Coursetto, Inc. due to your actions, attempt to manipulate votes or Coursetto, Inc.’s systems, or assist anyone in misusing Coursetto, Inc. in any way. It takes a lot of work to maintain Coursetto, Inc.. Be cool.

  p 26 We support the responsible reporting of security vulnerabilities. To report a Coursetto, Inc. security issue, please send an email to security@Coursetto.com or participate
  h4 Other ways of accessing Coursetto, Inc.
  p 27 Use of the Coursetto, Inc. API is governed by the API access rules, available here.

  p 28 Coursetto, Inc. does not select and takes no responsibility for any content available on Coursetto, Inc.

  p 29 We encourage the creation of other ways to access Coursetto, Inc., including browser extensions and mobile and desktop applications. We take no responsibility for, we do not expressly or implicitly endorse, and we do not assume any liability for any mobile or desktop application not produced by us.

  p 30 If you produce or maintain a browser extension or application, you agree not to purposefully negate any user's actions to delete or edit their content on Coursetto, Inc..

  p Children and Coursetto, Inc.
  p 31 Coursetto, Inc. is not directed at people under the age of 13, and Coursetto, Inc. does not knowingly collect any personal information from such people. If you know that a user under the age of 13 is accessing Coursetto, Inc., please contact us here.

  h2 DMCA

  h4 copyright, the dmca, & takedowns
  p 32 We will respond to legitimate requests under the Digital Millennium Copyright Act ("DMCA"), and we retain the right to remove user content on Coursetto, Inc. that we deem to be infringing the copyright of others. If you become aware of user content on Coursetto, Inc. that infringes your copyright rights, you may submit a properly formatted DMCA request (see 17 U.S.C. § 512) to Coursetto, Inc..

  p 33 Misrepresentations of infringement can result in liability for monetary damages. You may want to consult an attorney before taking any action pursuant to the DMCA. Any DMCA request should be sent to this contact information:


  p 34 Please send our Copyright Agent the following information:
  ul
    li The electronic or physical signature of the owner of the copyright or the person authorized to act on the owner's behalf;
    li Identification of the copyrighted work claimed to have been infringed, or a representative list of such works;
    li The URL or Internet location of the materials claimed to be infringing or to be the subject of infringing activity, or information reasonably sufficient to permit us to locate the material;
    li Your name, address, telephone number and email address;
    li A statement by you that you have a good faith belief that the disputed use of the material is not authorized by the copyright owner, its agent or the law; and
    li A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or are authorized to act on the copyright owner's behalf.
    li 41 If you believe User Content was wrongly removed from the Coursetto, Inc. site due to a DMCA request, you may request a copy of the DMCA notice and you may file a counter-notification by sending us the following:

  h4 Your physical or electronic signature;
  p Identification of the material that has been removed or to which access has been disabled and where the material was located online before it was removed or access to it was disabled;
  p A statement by you, under penalty of perjury, that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; and
  p our name, address, and telephone number, and a statement that you consent to the jurisdiction of federal district court for the judicial district in which the address is located, or if your address is outside of the United States, for any judicial district in which the service provider may be found, and that you will accept service of process from the person who provided notification under DMCA 512 subsection (c)(1)(c) or an agent of such person.
  h4 A few more legalities

  p 35 Please read the following very carefully. Each of the following sections applies to the maximum extent permitted by law. Where jurisdictions do not allow disclaimers of implied warranties or the limitation of liability in contracts, the contents of this section may not apply.

  h4 indemnity 
  p 36 All the things you do and all the information you submit or post to Coursetto, Inc. remain your responsibility. Indemnity is basically a way of saying that you will not hold us legally liable for any of your user content or actions that infringe the law or the rights of a third party or person in any way.

  p 37 Specifically, you agree to hold Coursetto, Inc., its affiliates, officers, directors, employees, agents, and third party service providers harmless from and defend them against any claims, costs, damages, losses, expenses, and any other liabilities, including attorneys’ fees and costs, arising out of or related to your access to or use of Coursetto, Inc., your violation of this user agreement, and/or your violation of the rights of any third party or person.

  h4 Disclaimer of warranties
  p 38 Coursetto, Inc. is provided "as is" and without warranty of any kind. To the maximum extent permitted by law, we and our affiliates and third party service providers disclaim any and all warranties, express or implied, including (but not limited to) implied warranties of merchantability, fitness for a particular purpose, and non-infringement of proprietary rights, or any other warranty, condition, guarantee or representation, whether oral or electronic. You are solely responsible for any damage to your computer or mobile device, loss of use, or loss of your user content. We do not guarantee that Coursetto, Inc. will always work properly.

  h4 Limitation of liability
  p 39 We will not be liable for any special, consequential, indirect, incidental, punitive, reliance, or exemplary damages, whether in tort, contract, or any other legal theory, arising out of or in any way connected with this agreement or your use of or attempt to use Coursetto, Inc., including (but not limited to) damages for loss of profits, goodwill, use, or data. This limitation on liability shall not be affected even if we have been advised of the possibility of such damages. Some states do not allow for the exclusion of implied warranties or the limitation or exclusion of liability for incidental or consequential damages, so the above exclusions may not apply to you. You may have other rights that vary from state to state.

  p 40 You agree to release us, our affiliates, and third-party service providers, and each associated director, employee, agents, and officers, from claims, demands and damages (actual and consequential), of every kind and nature, known and unknown, disclosed or undisclosed, arising out of or in any way connected to your use of Coursetto, Inc..

  h4 Governing law
  p 41 We want you to enjoy Coursetto, Inc., so if you have an issue or dispute, you agree to raise it and try to resolve it with us informally. You can contact us with feedback and concerns here or by emailing us at hello@Coursetto.com.

  p 42 The headings in this agreement are for convenience and do not control any of its provisions.

  p 43 Any claim or dispute between you and us arising out of or relating to this user agreement, in whole or in part, shall be governed by the laws of the State of California without respect to its conflict of laws provisions. We agree and you agree to submit to the personal jurisdiction and venue of the state and federal court located in San Francisco County, California.

  h4 Severability and enforcement
  p 44 If any provision of this user agreement is held invalid or unenforceable, that provision will be modified to the extent necessary to render it enforceable without losing its intent. If no such modification is possible, that provision will be severed from the rest of this agreement.

  p 45 If we do not enforce any right or provision in this user agreement, that is not to be deemed a waiver of our right to do so in the future.

  h4 changes to this user agreement
  p 46 This user agreement is the entire agreement between you and us concerning Coursetto, Inc.. It supersedes all prior or contemporaneous agreements between you and us. We may modify this user agreement at any time. If we make changes to this agreement that materially affect your rights, we will provide advance notice and keep this edition available as an archive on the Coursetto, Inc. website. By continuing to use Coursetto, Inc. after a change to this agreement, you agree to those changes.
