etto-logged-in-nav


.etto-company.etto-bgcolor-light
  .container
    h3.etto-color-primary(editable-text="tier._id", buttons="no", blur="submit", onaftersave="reset()") {{ tier._id || 'Enter Tier ID'}}
    h1 {{tier.title}}
    div(ng-if="tier")
      .row
        .col-md-6
          h3 Trial Ends
          div(style='display:inline-block; min-height:290px;')
            datepicker.well.well-sm(ng-model='tier.trialEnds', min-date='minDate', show-weeks='true', ng-change="updateTier()")
        .col-md-6
          h3 Subscription

          p(ng-show="tier._subscription") {{tier._subscription}}
          p(ng-show="!tier._subscription") No Subscription

          h3 Users
          p {{tier.totUsers}}
