/*
 * Asset Library
 * ============================================================================
 */

/* .etto-assetlibrary
 * ----------------------------------------------------------------------------
 *
 * Allows the user to select and use assets which they have uploaded, as well
 * as upload new assets.
 *
 *    <button etto-asset-library-modal, ng-click="showAssetLibrary()" class="btn btn-success"><i class="fa fa-camera"></i></button>
 */

$assetBorderWidth: (14rem / 16);
$assetLibraryPadding: $assetBorderWidth / 1.25;

.etto-assetlibrary {
  padding: $assetLibraryPadding;
}

.etto-assetlibrary__assetlist {
  @include clearfix;

  .etto-assetlibrary__asset {
    float: left;
    border: $assetBorderWidth solid rgba(255, 255, 255, 0);
    width: 25%;

    img {
      @include img-responsive;
      width: 100%;
      height: 12.5rem;
    }
  }
}

.etto-assetlibrary__uploader {
  border-top: 1px solid $etto-mediumgrey;
  padding: $assetLibraryPadding * 2  $assetLibraryPadding;
}
