/*
 * Finished Block
 * ============================================================================
 */

/* .blockFinished
 * ----------------------------------------------------------------------------
 *
 *  The last blck of every course
 * 
 *
 *  
 */

.etto-finished {
  margin-bottom: 100px;
  padding-top:40px;
  .etto-comment{
    padding:20px;
  }
}
