

.etto-company {


  .etto-color-input-box {
    padding-left: 10px;
    border: 4px solid #fff;
  }

  .etto-main-image {
    background-color: #eee;
  }

  .etto-company-info{
    padding: 20px;
  }

  .etto-light-example {
    padding-right:10px;
  }
}
