/*
 * Course Player
 * ============================================================================
 */

/* .etto-course-container
 * ----------------------------------------------------------------------------
 *
 * It contains stuff.
 *
 * Here's a sample button for now:
 *
 *    <a class="btn btn-default">Thing</a>
 */



.template-thumb{
  border:1px solid $etto-darkgrey;
}
.etto-course-container {
  padding-bottom: 0;
  position: relative;

  .etto-course-exit {
    position:fixed;
    top:4px;
    right: 4px;
    z-index: 100;
    color: #fff;
    background-color: $etto-white-rgba;
    color: $etto-greyblue;
    padding:4px;
    text-align: center;
  }

  .etto-course-exit:hover {
    background-color: #fff;
    color: $etto-mildblue;
  }
}

.etto-course-nav {

  margin-bottom: 2px;
  margin-top: 4px;

  .etto-course-prev-block, .etto-course-next-block {
    padding: 5px;
    text-align: center;
    display: block;
    width: 98%;

    border: 1px solid #ffffff;

    i {
      text-align: center;
    }
  }

  .etto-course-prev-block:hover, .etto-course-next-block:hover {
    color: #fff;
    opacity: 0.85;
  }

  .etto-course-prev-block {
    margin-right:2px;
  }

}

@media all and (min-width: 60rem) {
  .etto-course-container {
    min-height: 36em;
  }
}

.etto-course-editor{
  padding:0;
  .panel{
    margin:0;
    padding:0;
  }
}



.etto-course-progress{

  width:100%;
  top:0px;
  z-index: 130;
  height:10px;
  background-color: $etto-lightblue;
  margin-bottom: 2px;
}



// Temporary base styling
// -------------------------
.etto-course-container {
  background: #fff;
}

etto-course {
  .block {
    padding-top: 0px;
    position:relative;
    display: block;
  }

  .block.ng-enter {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;

  }



  .block.ng-enter,
  .block.ng-leave.ng-leave-active {
    opacity:0;
    margin-left: 5%;
    width: 100%;
  }

  .block.ng-leave,
  .block.ng-enter.ng-enter-active {
    opacity:1;
    margin-left: 0%;
    width: 100%;
  }


  
  blockquote {
    border-left-color: $etto-mildblue;
    p {
      font-size: 3em;
    }

    footer {
      text-align: right;
      font-size: 2em;
    }

    footer:before {
      content: "\2014";
    }
  }
}
