/*
 * Course Player
 * ============================================================================
 */

/* .etto-course-container
 * ----------------------------------------------------------------------------
 *
 * It contains stuff.
 *
 * Here's a sample button for now:
 *
 *    <a class="btn btn-default">Thing</a>
 */


.template-thumb{
  margin-bottom: 2px;
}
.etto-course-container {
  padding-bottom: 2.67em;
}

@media all and (min-width: 60rem) {
  .etto-course-container {
    min-height: 36em;
  }
}
.etto-top-toolbar{
  padding-top:5px;
}

.etto-toolbox {
  border-right: #e7e7e7 1px solid;

  button.save, button.remove {
    position: absolute;
    top: 0;
    right: 0;
  }

  .etto-toolbox-newblock {
    select {
      display: inline;
      width: 80%;
    }

    button {
      width: 18%;
      float: right;
    }
  }

  .etto-toolbox-toolbar, .etto-toolbox-blocktools {
    position: relative;
  }
}

.etto-course-prev-block, .etto-course-next-block {
  color: $etto-greyblue;
  bottom: 0;
  padding: 0.33em 0.67em;
  position: absolute;
}

.etto-course-prev-block {
  left: 0;
}

.etto-course-next-block {
  right: 0;
}

// Temporary base styling
// -------------------------
.etto-course-container {
  background: #fff;
}

etto-course {

  pre{
    padding-left:20px;
    color: $etto-greyblue;
  }

  pre.sub-head{
    text-align: center;
    font-size: 2em;
  }

  pre.quote{
    font-size: 2em;
    color: $etto-accentblue;
  }

  > div {
    margin-top: 1em;
  }

  h1, h2 {
    color: $etto-darkblue;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.33em 1.33rem 0.67em;
    text-align: center;
  }

  h2{
    font-size: 1em;
  }

  blockquote {
    border-left-color: $etto-accentblue;
    p {
      font-size: 3em;
    }

    footer {
      text-align: right;
      font-size: 2em;
      color:  $etto-greyblue;
    }

    footer:before {
      content: "\2014";
    }
  }
}
