/*
 * Course Player
 * ============================================================================
 */

/* .etto-course-container
 * ----------------------------------------------------------------------------
 *
 * It contains stuff.
 *
 * Here's a sample button for now:
 *
 *    <a class="btn btn-default">Thing</a>
 */





/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/


.fade-show {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.fade-show.ng-hide {
   -webkit-transition:all linear 0s;
  transition:all linear 0s;
  opacity:0;
}


.template-thumb{
  border:1px solid #eeeeee;
  height:125px;
  background-color: #ffffff;
}

.template-thumb:hover{
  cursor: pointer;
}



.thumb-message{
  padding-top:35px;
  text-align: center;
  font-size: 1.3em;
}


.etto-course-container {
  padding-bottom: 0;
  position: relative;

  .etto-course-exit {
    position:fixed;
    top:4px;
    right: 4px;
    z-index: 100;
    color: #fff;
    background-color: $etto-white-rgba;
    color: $etto-greyblue;
    padding:4px;
    padding-bottom: 0px;
    text-align: center;
    width: 85px;
    p {
      margin-right: 7px;
    }
  }

  .etto-course-exit:hover {
    background-color: #fff;
    color: $etto-mildblue;
    cursor: pointer;
  }
}

.etto-nav-positioning{
  background-color:#eee;
  padding:5px;

  .etto-course-nav {

    margin-bottom: 2px;
    margin-top: 4px;
    display: block;
    width:100%;

    .etto-course-prev-block, .etto-course-next-block {
      padding: 5px;
      margin:0;
      text-align: center;
      color: #fff;
      width: 50%;

      i {
        text-align: center;
      }
    }

    .etto-course-prev-block:hover, .etto-course-next-block:hover {
      color: #fff;
      opacity: 0.85;
    }

  }
}


@media all and (min-width: 60rem) {
  .etto-course-container {
    min-height: 36em;
  }
}

.etto-course-editor{
  padding-top:20px;

  .panel{
    margin-top: 20px;
  }
  .etto-course-edit-btns{
    padding:5px;
    width:100%;
    .etto-btns{

      margin: 0 auto;
    }
  }


  .panel{
    margin:0;
    padding:0;
  }
}


.etto-course-progress{
  width:99%;
  top:0px;
  z-index: 130;
  height:10px;
  background-color: $etto-lightblue;
  margin-bottom: 2px;
}



// Temporary base styling
// -------------------------
.etto-course-container {
  background-color: #fff;

}

etto-course {
  .block {
    padding-top: 0px;
    position:relative;
    display: block;
    margin-bottom: 30px;
  }

  pre{
    display:block;
    overflow:hidden;
  }

  @media(max-width: 480px) {
    pre{
      font-size: 12px;
    }

    h1{
      font-size: 25px;
    }

    h2{
      font-size: 21px;
    }

    h3{
      font-size: 18px;
    }
  }

  
  blockquote {
    border-left-color: $etto-mildblue;
    p {
      font-size: 3em;
    }

    footer {
      text-align: right;
      font-size: 2em;
    }

    footer:before {
      content: "\2014";
    }
  }
}
