.etto-module-container
  min-height: 36em
  padding-bottom: 2.67em

.etto-toolbox
  border-right: #e7e7e7 1px solid

.etto-module-prev-block, .etto-module-next-block
  color: $etto-tan
  bottom: 0
  padding: 0.33em 0.67em
  position: absolute

.etto-module-prev-block
  left: 0

.etto-module-next-block
  right: 0

// Temporary base styling
// -------------------------
.etto-module-container
  background: $etto-darkblue

etto-module
  color: $etto-tan

  > div
    margin-top: 1em

  h1, h2
    background: $etto-tan
    color: $etto-darkblue
    margin-bottom: 0
    margin-top: 0
    padding: 0.33em 1.33rem 0.67em

  blockquote
    border-left-color: $etto-tan
    p
      font-size: 3em
    footer
      text-align: right
      font-size: 2em
    footer:before
      content: "\2014"
