
.etto-course-analytics{
  .etto-comment{
    margin-bottom:2px;
    padding:20px;
  }

  .statBox{
    padding-bottom:10px;
  }

  h1, h4{
    padding-bottom:0px;
    margin-bottom:0;
  }

  i{
    margin-left: 20px;
  }
}

