/*
 * Course Holder
 * ============================================================================
 *
 * It holds courses. Keeps 'em in check.
 *
 */

.course-holder{
  color: $etto-darkblue;
  cursor: pointer;
  padding: 10px;


  .progress {
    height: 5px;
  }
}
