/*
 * Course Holder
 * ============================================================================
 *
 * It holds courses. Keeps 'em in check.
 *
 */

.course-holder{
  color: $etto-darkblue;
  cursor: pointer;
  border:1px solid #eee;
  padding:5px;

  .edit-btn{
    margin-top: 20px;
    color:$etto-darkblue;
    padding:10px;
    padding-top:5px;
    padding-bottom:5px;
  }

  .close{
    position:absolute; 
    right:5px;
  }
  
  .progress {
    height: 5px;
  }
}


.course-deck{
  .course{
    padding:5px;

  }
}
.exit-course{
  position:fixed;
  top:15px;
  right: 15px;
  z-index: 100;
  padding:10px;
  padding-top:5px;
  padding-bottom:5px;
  border:1px solid $etto-darkgrey;
  background-color:#fff;
}


.exit-course:hover{
  background-color: $etto-darkgrey;
}


.edit-btns{
  background-color:#fff;
  padding:5px;
  border:1px solid $etto-darkgrey;
}


.stars{
  padding-bottom:40px;
  height:100%;
  background-repeat:repeat;
  background-image:url('/images/courses/patterns/stardust.png');

}
.course-progress{
  position:fixed;
  width:100%;
  top:0px;
  z-index: 130;
}
