.etto-edit-tier{
  .checkbox input{
    margin-left: 20px;
  }

  thead th{
   
    font-size: 1.2em;
  }

  .priority{
    text-align: center;
    width:55px;
    border: 1px solid #77B3D8;
    -moz-box-shadow: 0 0 7px #C8E0EF;
    -webkit-box-shadow: 0 0 7px #C8E0EF;
    -o-box-shadow: 0 0 7px #C8E0EF;
    -ms-box-shadow: 0 0 7px #C8E0EF;
    box-shadow: 0 0 7px #C8E0EF;

  }
}
