/*
 * Footer
 * ============================================================================
 *
 * It holds the fort down at the bottom of each page.
 *
 */
.footer {
  background-color: $etto-darkblue;
  border-top: darken($etto-darkblue, 2%) 1px solid;
  text-align: center;
  padding: 20px;
  color: $etto-grey;

  font-size: .8em;

  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}
