/*
 * Footer
 * ============================================================================
 *
 * It holds the fort down at the bottom of each page.
 *
 */
 body > footer {
  background-color: $etto-darkblue;
  border-top: darken($etto-darkblue, 2%) 1px solid;
  min-height: 200px;
  text-align: center;
  padding: 20px;
  color: $etto-grey;
  width: 100%;
  font-size: .8em;
  margin-top:10px;
}
