/*
 * Header
 * ============================================================================
 *
 * Keep your head on straight.
 *
 */

.header{
  background-color: $etto-greyblue;
  color: $etto-accentblue;
  margin: 0;
  padding-bottom: 44px;
  border-top: 3px solid $etto-accentblue;
  margin-bottom: 20px;

  h3, h4{
    line-height: 1.1;
  }
}


.main-img{
  background-image: url("/images/site/opener2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  height: 290px;
}
