/*
 * Header
 * ============================================================================
 *
 * Keep your head on straight.
 *
 */

.header{
  background-color: $etto-greyblue;
  color: $etto-accentblue;
  margin-bottom: 20px;

  h3, h4{
    line-height: 1.1;
  }
}

.nopad{
  margin:0;
  padding:0;
  color: $etto-accentblue;
}


.leaderboard{
  /*height:312px;*/
  background-color: $etto-light-blue;
  margin-bottom: 20px;
}

.main-sized-img{
  position: relative;
  z-index: -1;
}

.main-img{
  background-image: url("/images/site/opener2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  height: 290px;
}

