/*
 * Header
 * ============================================================================
 *
 * Keep your head on straight.
 *
 */



.header{
  background-color: $etto-greyblue;
  color: $etto-mildblue;
  margin-bottom: 20px;


  h3, h4{
    line-height: 1.1;
    //text-align: center;
  }
}


.animate-enter {
  -webkit-transition: 3s linear all; /* Chrome */
  transition: 3s linear all;
  opacity: 0;
}
 
.animate-enter.animate-enter-active {
  opacity: 1;
}

.main-image-message{
  padding:20px;
}

.main-image-message p, .main-image-message h3{
  color:#fff;
}

.main-image-message h3{
  margin-top:0;
}


.main-holder{
  padding-right:10px;
}

.left-holder{
  background-color: $etto-lightblue;
  margin-bottom: 0;
}

.nopad{
  margin:0;
  padding:0;
  color: $etto-mildblue;
}


.leaderboard{
  margin-bottom: 20px;
}

.main-sized-img{
  position: relative;
  z-index: -1;
}

.main-img{
  background-image: url("/images/site/market.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  height: 300px;
  width: 100%;
  position:relative;
}

