.etto-landing {
  .etto-register-btn{

    background-color:rgba(255,255,255,0.2);
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    margin-bottom: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.33);


  }
  .etto-course-creation-intro{
    .course-compser{

    }
  }

  .main-img{
    position: relative;
  }
  .main-image-message {
    padding-top:1%;
    & h3, p, i, h4, h2 {
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.50);
      text-align: center;
      color: #fff;

    }
  }

  h2{
    margin-top:30px;
  }

  @media(max-width: 480px) {
    h2 {
      font-size: 18pt;
      margin-top:30px;
    }
  }

  .section{
    padding-bottom:20px;

  }
  .etto-promos{
    padding-top:30px;
  }

  .reverse-bkd{
    background-color: $etto-grey;
    border-top:1px solid $etto-darkgrey;
    border-bottom:1px solid $etto-darkgrey;
    margin-bottom:20px;
  }
}

.etto-landing__socialmedia {
  position:absolute;
  bottom: 10px;
  right: 10px;
  & a i {
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33);
    margin-right: 10px;

  }
}

.etto-landing__youtube-demo,
.etto-landing img {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.33);
}

.browsehappy {
  .supported-browsers {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 1em;
  }

  a:hover {
    text-decoration: none;
  }
}
