.etto-loginpage {
  margin-top: 5%;
  h2{
    margin-bottom: 0px;
  }
  img{
    margin: 0 auto;
    max-height: 150px;
  }

  
}

.etto-login-modal{
  .sso-btns{
    float: left;
    border: 1px solid #eee;
    padding:5px;
    padding-bottom:5px;
    margin-bottom:20px;
    width:33%;
    text-align: center;
    color: #ffffff;
    p{
      padding:0;
      margin:0;
    }
  }

  .sso-btns:hover{
    cursor: pointer;
  }


  .google-btn{
    background-color: #d51f1f;
  }
  .forcedotcom-btn{
    background-color: #0580c3;
  }

  .github-btn{
    background-color: #151515;
  }

}
