/*
 * Navbar
 * ============================================================================
 *
 * It's how you get around.
 *
 *
 *    <etto-logged-in-nav>
 *      <nav role="navigation" class="navbar navbar-default">
 *        <div class="navbar-header">
 *          <button data-toggle="collapse" data-target="#etto-navbar" class="navbar-toggle">
 *            <div class="sr-only">Toggle navigation</div>
 *            <div class="icon-bar"></div>
 *            <div class="icon-bar"></div>
 *            <div class="icon-bar"></div>
 *          </button><a href="/etto" class="navbar-brand"><span><span><img src="/images/site/logo.png"></span></span></a>
 *        </div>
 *        <div id="etto-navbar" class="collapse navbar-collapse">
 *          <ul class="nav navbar-nav">
 *            <li><a href="/etto">Home</a></li>
 *            <li><a href="/store">Store</a></li>
 *            <li><a href="/levels/0/0">Reports</a></li>
 *            <li><a href="/course/view/527ac7a09f2b97d313000004">View Test Course</a></li>
 *            <li><a href="/course/edit/527ac7a09f2b97d313000004">Edit Test Course</a></li>
 *          </ul>
 *          <div class="navbar-right"><a href="/session/destroy" class="btn btn-default btn-sm top-logout-btn">Logout</a></div>
 *        </div>
 *      </nav>
 *    </etto-logged-in-nav>
 *
 */

.navbar{
  margin-bottom: 0;
}
.navbar-brand{
  margin: 5px 10px 5px;
  padding: 0;

  > span > span{
      display: inline-block;
      overflow: hidden;
      width: 45px;
  }
  > span:after{
      color: $etto-accentblue;
      font-weight: 700;
      font-size: 1.333em;
      content: "Coursetto";
      padding-left: (1/3)+em;
      position: relative;
      top: -0.25em;
  }
}
.top-logout-btn{
  margin-top: 8px;
}
