/*
 * Quiz
 * ============================================================================
 *
 * It holds courses. Keeps 'em in check.
 *
 */



.question{

  padding:20px;
  margin-bottom: 20px;
  background-color:rgba(255,255,255,0.4);

}

.etto-question{
  position: relative;
  .close{

    position: absolute;
    background-color: #fff;
    top:5px;
    right:5px;
  }
}

.question.incorrect{
  background-color:$etto-incorrect;
}


.question.correct{
  background-color: green;
}

.quiz-block{
  padding-bottom:40px;
  padding-top:50px;
}

