.bar-pad
  padding-right: 1px

.backBar
  width: 100%
  height: 50px
  background-color: $engo-darkblue

.fillBar
  width: 100%
  height: 100%
  background-color: $engo-accentblue

.statBox
  text-align: center
  color: $engo-darkgrey

  p2
    font-size: 1.5em
