/*
 * Report Holder
 * ============================================================================
 *
 * It holds reports.
 *
 */



.report-head{
  background-color: $etto-grey;
  background-repeat:repeat;
  background-image:url('/images/patterns/cream_pixels.png');
}

.tier-holder{
  padding:15px;
  p{
    margin-right:10px;
  }
  .tier-box{
    background-color: #fff;
    padding:10px;

    border-style: solid;
    border-color: $etto-grey;
    border-width:1px;
    margin:2px;
  }

  .tier-box:hover{
    cursor: pointer;
  }
}

.report-holder{
  color: $etto-darkblue;
  padding: 10px;

  .no-pad{
    padding: 0;
  }
  .btn{
    width: 100%;
    margin-bottom: 10px;
  }
}



.etto-report-btns{
  margin-right:0px;
  margin-left:0px;
  text-align: center;
  padding:15px;
  i {
    color: $etto-mildblue;
  }
  small {
    color: $etto-mildblue;
    padding-right:20px;
    padding-left:20px;
  }

}

.report-btns .report-btn:hover{
  background-color: $etto-greyblue;
  color: #fff;
}



.report-holder:hover{
  cursor: pointer;
}

.statBox{
  text-align: center;
  background-color: lighten($etto-lightblue, 12.5%);
  border-top:2px solid $etto-lightblue;
  border-bottom:2px solid $etto-lightblue;
  margin-bottom: 10px;
}

.statholder{
  .statTxt{
    font-size: 1.4em;
    color: $etto-mildblue;
    margin-bottom:0;
    padding:0;
    border-bottom:2px dotted $etto-lightblue;
  }

  small{
    color: $etto-mildblue;
    padding-bottom:10px;
  }
}


.report-progress {
  p {
    color: $etto-greyblue;
  }
}


.bar-pad{
  padding-right: 1px;
}
.backBar{
  width: 100%;
  height: 50px;
  background-color: $etto-darkblue;
}
.fillBar{
  width: 100%;
  height: 100%;
  background-color: $etto-mildblue;
}


.courses{
  height:200px;
  overflow: hidden;
}

.progress{
  height:5px;
}

etto-tier-graph div{
  font: 10px sans-serif;
  background-color: $etto-mildblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


etto-overall-tier-graph div{
  font: 10px sans-serif;
  background-color: rgba(255,255,255, .7);
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: $etto-darkblue;
}

