/*
 * Report Holder
 * ============================================================================
 *
 * It holds reports.
 *
 */



.report-head{
  background-color: $etto-grey;
  background-repeat:repeat;
  background-image:url('/images/patterns/cream_pixels.png');
}

.tier-holder{
  padding:15px;
  p{
    margin-right:10px;
  }
  .tier-box{
    background-color: #fff;
    padding:10px;

    border-style: solid;
    border-color: $etto-grey;
    border-width:1px;
  }

  .tier-box:hover{
    cursor: pointer;
  }
}

.report-holder{
  color: $etto-darkblue;
  padding: 10px;

  .no-pad{
    padding: 0;
  }
  .btn{
    width: 100%;
    margin-bottom: 10px;
  }
}



.report-btns .report-btn{
  margin-top:10px;
  margin-right:0px;
  margin-left:0px;
  background-color: #fff;
  text-align: 
  center;
  padding:5px;
  cursor: pointer;
  border-style: solid;
  border-color: $etto-darkgrey;
  border-width:1px;
}

.report-btns .report-btn:hover{
  background-color: $etto-greyblue;
  color: #fff;
}



.report-holder:hover{
  cursor: pointer;
}

.stat{
  border-right: 1px solid $etto-darkblue;
}

.statholder{
  .statTxt{
    font-size: 1.5em;
    color: #fff;
    margin-bottom:0;
    padding:0;
  }

  small{
    color: #fff;
    padding-bottom:10px;
  }
}


.report-progress {
  p {
    color: $etto-greyblue;
  }
}
