.etto-soundbox{
  margin-top: 20px;
  opacity: 1;
}

.etto-sound-editbox{
  padding:10px;
  padding-bottom:10px;

  border: 1px solid $etto-darkgrey;
  margin-top:20px;
  margin-bottom:30px;
}


.etto-soundcloud-logo{
  margin-right:10px;
  margin-bottom: 20px;
  padding: 4px;
  background-color:#fff;
}
