/*
 * Store
 * ============================================================================
 *
 * Styling for the store. Needs further modularized.
 *
 */


.animate-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}


.closed-course{
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0.3;
}

.off-bar:hover , .on-bar:hover{
  cursor: pointer;
}
.off-bar p, .off-bar h4, .off-bar h1{
  color: #e0e0e0;
}
.on-bar{
  color: #666;
}
.low-tree p{
  padding-left: 25px;
  padding-top: 10px;
}


.store .course-holder{
  height:300px;
  margin-bottom:20px;
}

.toggle-arrow{
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  display: block;
  color: #666;
  background-color: #eee;
  font-size: 9px;
}
.tree-btn{
  width: 100%;
  height: 30px;
  cursor: pointer;
}


.isoff{
  color: #e0e0e0;
}
.tree{

  .fa-user{
    color: $etto-darkgrey;
  }

  ol{
    margin: 4px 0;
    padding: 0;
  }
  li{
    list-style: none;
    margin: 1px;
    padding: 8px 8px 4px 8px;
  }

  .ui-sortable li{
    cursor: move;
  }
  .live input, .shadow input{
    margin: 0;
    padding: 1px;
    font: inherit;
    font-weight: bold;
    height: 2em;
  }
  .ui-state-highlight{
    background: #ffe;
  }

  .debug{
    clear: both;
    textarea{
      width: 100%;
      height: 40em;
      font: 10px / 13px monospace;
    }
  }
  textarea, input{
    outline: none;
  }

  .bg0{
      background: #fcc;
  }
  .bg1{
      background: #ffc;
  }
  .bg2{
      background: #cfc;
  }
  .bg3{
      background: #cff;
  }
  .bg4{
      background: #ccf;
  }
  .bg5{
      background: #fcf;
  }
  .minimized > ol{
    > li{
      display: none;
      border: 0 none transparent;
    }
  }
  .toggle{
    border: 0 none transparent;
    background: transparent;
    width: 2em;
    color: #aaa;
  }
}
