
.etto-title {
  overflow: hidden;

  .etto-title-image {
    width: 100%;
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: -5px -10px -10px -5px;
  }

  .etto-camera{
    color:#fff;
    background-color: rgba(255, 255, 255, 0.3);
    padding:10px;
    text-align: center;
    display: block;
    width:100px;

  }

  .etto-dark-fadded-bk{
    background-color: rgba(0,0,0, 0.3);
  }

  .etto-light-fadded-bk{
    background-color: rgba(255,255,255, 0.6);
  }




  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .title-text{
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    max-width: 70%;

    h1{
      text-transform: uppercase;
    }
    h1, h4{
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
      text-align: left;
      font-weight: bolder;
    }
  }

  .title-text {
    position: absolute;
    top: 80px;
    left:20px;
  }



  .edit-title{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.53);
    z-index:300;
    position: fixed;
    top: 100px;
    right:0px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:15px;


    p{
      color: #ffffff;
      padding-top:10px;
      padding-bottom:0px;
    }


    .etto-camera{
      margin-left: 15px;
      margin-top: 20px;
    }


  }

  /* iPads (portrait and landscape) ----------- */
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) {
    h1 {
      font-size: 14pt;
    }

    h4 {
      font-size: 12pt;
    }

    .etto-title-image{
      min-height: 700px;
    }
  }

  @media(max-width: 480px) {
    h1 {
      font-size: 14pt;
    }

    h4 {
      font-size: 12pt;
    }

    .edit-title{
      position:relative;
      bottom: 0;
      left:0;
      width:100%;
    }

    
  }

  

  h1:hover {
    color: $etto-turquoise;
  }


}
