

.etto-video-insert{
  background-color: #fff;
  padding:30px;
}


.video-container iframe,
.video-container object,
.video-container embed{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
}

.etto-video {
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}


.etto-dark-screen{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
